<h1>Reset Password</h1>

<p>Please enter your password below and then press "Change Password".</p>

<span style="color: red;"><%= flash[:error] %><%= flash[:notice] %></span>

<%= form_tag "/password_resets/"+params[:id].to_s, :method =>"PUT" do %>
    <table width="100%">
		<tr>
			<td width="25%">
				<%= password_field_tag :password, @password, :placeholder =>"Password", :size=>"25"%>
			</td>
			<td rowspan="2">
				<%= submit_tag "Change Password", :class=>"try_java_button"%>
			</td>
		</tr>
		<tr>
			<td>
				<%= password_field_tag :password_confirmation, @confirm_password, :placeholder =>"Confirm Password", :size=>"25" %>
			</td>
		</tr>
		<tr>
			<td>
				<div id="reset_errors" style="color:red;font-weight:bold"><%= @reset_password_errors%></div>
			</td>
	</tr>
</table>
<% end %>
