<h1>Reset Password</h1>

<span style="color: red;"><%= flash[:error] %><%= flash[:notice] %></span>

<p>Please enter your email address below and then press "Reset Password". We will send a change password link to your mail.</p>

<%= form_tag password_resets_path do %>
    <%= text_field_tag :email %>
    <%= submit_tag "Reset Password" %>
<% end %>