<h1>Listing wish_lists</h1>

<table>
  <tr>
    <th>Product</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wish_lists.each do |wish_list| %>
  <tr>
    <td><%= wish_list.product_id %></td>
    <td><%= wish_list.user_id %></td>
    <td><%= link_to 'Show', wish_list %></td>
    <td><%= link_to 'Edit', edit_wish_list_path(wish_list) %></td>
    <td><%= link_to 'Destroy', wish_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wish list', new_wish_list_path %>
