<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @wish_list.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @wish_list.user_id %>
</p>


<%= link_to 'Edit', edit_wish_list_path(@wish_list) %> |
<%= link_to 'Back', wish_lists_path %>
