<%= form_for(@wallet_entry) do |f| %>
  <% if @wallet_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet_entry.errors.count, "error") %> prohibited this wallet_entry from being saved:</h2>

      <ul>
      <% @wallet_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>

    <h3><%= User.find(params[:user_id]).try(:display_name) %></h3>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_id %><br />
    <%= f.number_field :transaction_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
