<h1>Listing wallet_entries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Amount</th>
    <th>Reason</th>
    <th>Order</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wallet_entries.each do |wallet_entry| %>
  <tr>
    <td><%= wallet_entry.user_id %></td>
    <td><%= wallet_entry.amount %></td>
    <td><%= wallet_entry.reason %></td>
    <td><%= wallet_entry.order_id %></td>
    <td><%= wallet_entry.transaction_id %></td>
    <td><%= link_to 'Show', wallet_entry %></td>
    <td><%= link_to 'Edit', edit_wallet_entry_path(wallet_entry) %></td>
    <td><%= link_to 'Destroy', wallet_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wallet entry', new_wallet_entry_path %>
