<h1>Listing Your Wallet Transactions</h1>

<table border="1">
  <tr>
    <th>Date</th>

    <th>Reason</th>
    <th>Order</th>
    <th>Amount</th>
    <th>Balance</th>

  </tr>

  <% balance = 0.0 %>
  <% @wallet_entries.each do |wallet_entry| %>
      <tr>
        <td><%= get_formatted_date1(wallet_entry.created_at) %></td>

        <td><%= wallet_entry.reason %></td>
        <%
           online_payment = OnlinePayment.find_by_merchant_transaction_id(wallet_entry.transaction_id) if !wallet_entry.transaction_id.blank?
           order = Order.find_by_id(online_payment.order_id) if !online_payment.blank? && !online_payment.order_id.blank?
        %>
        <td>
          <% if !order.blank? %>
              <a href="/orders/invoice_status_details?id=<%= order.id %>"><%= order.id %></a>
          <% end %>

        </td>
        <% balance += wallet_entry.amount %>
        <td><%= wallet_entry.amount %></td>
        <td><%= balance.round(2) %></td>
      </tr>
  <% end %>
</table>
<h4>Total <span style="font-size: 10px;color: red; text-transform: lowercase">(* Inclusive of all taxes)</span>  : <%= balance.round(2) %></h4>
<br />