<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @wallet_entry.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @wallet_entry.amount %>
</p>

<p>
  <b>Reason:</b>
  <%= @wallet_entry.reason %>
</p>

<p>
  <b>Order:</b>
  <%= @wallet_entry.order_id %>
</p>

<p>
  <b>Transaction:</b>
  <%= @wallet_entry.transaction_id %>
</p>


<%= link_to 'Edit', edit_wallet_entry_path(@wallet_entry) %> |
<%= link_to 'Back', wallet_entries_path %>
