<h1>Listing Wallet Transactions</h1>
<h3><%= User.find(params[:user_id]).try(:display_name) %></h3>

<table border="1">
  <tr>
    <th>Date</th>

    <th>Reason</th>
    <th>Order</th>
    <th>Amount</th>
    <th>Balance</th>

  </tr>

  <% balance = 0.0 %>
<% @wallet_entries.each do |wallet_entry| %>
  <tr>
    <td><%= get_formatted_date1(wallet_entry.created_at) %></td>

    <td><%= wallet_entry.reason %></td>
    <%
       order = Order.find_by_tracking_id(wallet_entry.order_id) if !wallet_entry.blank? && !wallet_entry.order_id.blank?
    %>
    <td>
      <% if !order.blank? %>

        <a href="/orders/invoice_status_details?id=<%= order.id %>"><%= wallet_entry.order_id %></a>
<%end %>


    </td>
    <% balance += wallet_entry.amount %>
    <td><%= wallet_entry.amount %></td>
    <td><%= balance.round(2) %></td>
  </tr>
<% end %>
</table>
    <h2>Total : <%= balance.round(2) %></h2>
<br />
