<%= form_for(@system_setting) do |f| %>
  <% if @system_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_setting.errors.count, "error") %> prohibited this system_setting from being saved:</h2>

      <ul>
      <% @system_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
