<h1>Listing system_settings</h1>

<table width="100%" border="1">
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_settings.each do |system_setting| %>
  <tr>
    <td><%= system_setting.key %></td>
    <td><%= system_setting.value %></td>
    <td><%= link_to 'Show', system_setting %></td>
    <td><%= link_to 'Edit', edit_system_setting_path(system_setting) %></td>
    <td><%= link_to 'Destroy', system_setting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System setting', new_system_setting_path %>
