<h1>Listing attributes</h1>

<table border="1"  cellpadding="5px">
  <tr>
    <th>Name</th>
    <th>Add Attribute Items</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attributes.each do |attribute| %>
  <tr>
    <td><%= attribute.name %></td>
    <td>
      <% attribute_items = AttributeItem.find_all_by_attribute_id(attribute.id) %>
      <% attribute_items.each do |item| %>
      <div><%= item.name %></div>
      <% end %>
      <div><a href="/attribute_items/new?id=<%= attribute.id %>">add attribute items</a></div>
    </td>
    <td><%= link_to 'Show', attribute %></td>
    <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
    <td><%= link_to 'Destroy', attribute, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute', new_attribute_path %>
