<%= form_for(@promo_group) do |f| %>
  <% if @promo_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo_group.errors.count, "error") %> prohibited this promo_group from being saved:</h2>

      <ul>
      <% @promo_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "45x5" %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
