<h1>Listing Promo Groups</h1>

<table width="70%" border="1" cellspacing="5" cellpadding="5">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promo_groups.each do |promo_group| %>
  <tr>
    <td><%= promo_group.title %></td>
    <td><%= promo_group.description %></td>
    <td><%= promo_group.image %></td>
    <td><%= promo_group.active %></td>
    <td><%= link_to 'Show', promo_group %></td>
    <td><%= link_to 'Edit', edit_promo_group_path(promo_group) %></td>
    <td><%= link_to 'Destroy', promo_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo group', new_promo_group_path %>
