<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @promo_group.title %>
</p>

<p>
  <b>Description:</b>
  <%= @promo_group.description %>
</p>

<p>
  <b>Image:</b>
  <%= @promo_group.image %>
</p>

<p>
  <b>Active:</b>
  <%= @promo_group.active %>
</p>


<%= link_to 'Edit', edit_promo_group_path(@promo_group) %> |
<%= link_to 'Back', promo_groups_path %>
