<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :procedure %><br />
    <%= f.text_area :procedure %>
  </div>
  <div class="field">
    <%= f.label :small_picture %><br />
    <%= f.file_field :small_picture %>
  </div>
  <div class="field">
    <%= f.label :large_picture %><br />
    <%= f.file_field :large_picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
