<div class="vn_wrapper" style="margin-bottom: 10px;background-color: #f2f1ef;padding: 15px">
  <div class="row text-center">
    <div class="col-sm-12">
      <h2 style="color: #f47419;font-family: 'proxima-nova';font-size: 36px;font-weight: normal;text-transform: capitalize;">Value Needs Recipes</h2></div>
    <div class="col-sm-12">
      <% @recipes.each do |recipe| %>
          <div class="col-sm-3 text-center " style="padding: 10px">
            <a href="recipes/recipes_description?recipe_id=<%= recipe.id %>"><span class="recipe_head"><%= recipe.title %></span><br/>
              <%= image_tag("/recipes/#{recipe.large_picture}", :height => '100px') %></a>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-right" style="padding: 10px">
      <% if !current_user.blank? && current_user.admin? %>
          <a href="/recipes/new" class="proceed_button1">New Recipe</a>
      <% end %></div>
  </div>
</div>