<div class="vn_wrapper" align="center" style="padding: 30px">
  <h1 class="recipes_header text-center"><%= @recipe.title %></h1>

  <div align="center" style="padding: 10px"><%= image_tag("/recipes/#{@recipe.large_picture}", :width => '400px', :height => '200px') %></div>
  <div class="recipes_sub_header text-left">Ingredients:</div>
  <div class="text-left recipe_text_style"> <%= simple_format(@recipe.ingredients) %></div>
  <br/>

  <div class="recipes_sub_header text-left">Procedure:</div>
  <div class="text-left recipe_text_style"><%= simple_format(@recipe.procedure) %></div>
  <br/>

</div>
