<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @recipe.category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Procedure:</b>
  <%= @recipe.procedure %>
</p>

<p>
  <b>Small picture:</b>
  <%= @recipe.small_picture %>
</p>

<p>
  <b>Large picture:</b>
  <%= @recipe.large_picture %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
