<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @speciality.name %>
</p>

<p>
  <b>Category:</b>
  <%= @speciality.category_id %>
</p>

<p>
  <b>Image:</b>
  <%= @speciality.image %>
</p>

<p>
  <b>Active:</b>
  <%= @speciality.active %>
</p>

<p>
  <b>Order:</b>
  <%= @speciality.order_id %>
</p>


<%= link_to 'Edit', edit_speciality_path(@speciality) %> |
<%= link_to 'Back', specialities_path %>
