<%= form_for(@slide_image) do |f| %>
    <% if @slide_image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@slide_image.errors.count, "error") %> prohibited this slide_image from being saved:</h2>

          <ul>
            <% @slide_image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <table>
      <tr>
        <td>
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :active %><br/>
          <%= f.check_box :active %>
        </td>
      </tr>


      <tr>
        <td>
          <%= f.label :image %><br/>
          <%= f.file_field :image %>
        </td>
      </tr>


      <tr>
        <td>
          <%= f.label :order_id %><br/>
          <%= f.number_field :order_id %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :category_id %><br/>
          <%= f.number_field :category_id %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
<% end %>
</table>