<h1> Slide Images</h1>

<table  width="50%" style="text-align: center" border="1">
  <tr>
    <th>Category name</th>
    <th>Active</th>
    <th>Image</th>
    <th>Order</th>
    <th>Category ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slide_images.each do |slide_image| %>
  <tr>
    <td><%= slide_image.name %></td>
    <td><%= slide_image.active %></td>
    <td><%= image_tag("/slider_image/#{slide_image.image}", :width=>'100px',:height=>'65px;') %></td>
    <td><%= slide_image.order_id %></td>
    <td><%= slide_image.category_id %></td>
    <td><%= link_to 'Show', slide_image %></td>
    <td><%= link_to 'Edit', edit_slide_image_path(slide_image) %></td>
    <td><%= link_to 'Destroy', slide_image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slide image', new_slide_image_path %>
