<p id="notice"><%= notice %></p>

<p>
  <b>Category name:</b>
  <%= @slide_image.name %>
</p>

<p>
  <b>Active:</b>
  <%= @slide_image.active %>
</p>

<p>
  <b>Image:</b>
  <%= @slide_image.image %>
</p>

<p>
  <b>Order:</b>
  <%= @slide_image.order_id %>
</p>


<%= link_to 'Edit', edit_slide_image_path(@slide_image) %> |
<%= link_to 'Back', slide_images_path %>
