<h1>Editing user</h1>
<%= form_for(@user, :method => "post", :url => update_user_details_users_path(@user)) do |f| %>
    <table width="60%" align="center">
      <%= f.hidden_field :id %>
      <tr>
        <td>Created at</td>
        <td>&nbsp;&nbsp;&nbsp;
          <% if !@user.created_at.blank? %><%= @user.created_at.to_date %><%= @user.created_at.utc.localtime("+05:30").strftime(" %I:%M %p") %>
          <% end %></td>
      </tr>
      <tr>
        <td> Name</td>
        <td><span style="color:red;font-size:18px;">* </span><%= f.text_field :display_name, :size => "40", :class=>'text' %></td>
      </tr>
      <tr>
        <td> Email</td>
        <td><span style="color:red;font-size:18px;">* </span><%= f.text_field :email, :size => "40", :class=>'text' %></td>
      </tr>
      <tr>
        <td> Mobile Number</td>
        <td><span style="color:red;font-size:18px;">* </span><%= f.text_field :phone, :size => "40", :class=>'text' %></td>
      </tr>
      <tr>
        <td> Is admin</td>
        <td>&nbsp;&nbsp;&nbsp;<%= f.check_box :admin %></td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <%= f.submit 'update' %>
      </tr>
    </table>
<%end%>

