<h1>Listing users</h1>

<table border="1">
  <tr>
    <th>User name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Display name</th>
    <th>Admin</th>
    <th>Registered</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.display_name %></td>
    <td><%= user.admin %></td>
    <td><%= user.created_at.strftime('%Y-%m-%d %H:%M') %><br/></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Wallet', '/wallet_entries/show_wallet?user_id=' + user.id.to_s %></td>
    <td><%= link_to 'Add', '/wallet_entries/new?user_id=' + user.id.to_s %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
