<div class="vn_wrapper">
  <div style="background-color:#EEF1F5;border: 1px solid #000000;margin: 5px; ">
    <div class="sign_in_page_header text-center"> Sign Up to Valueneeds.com</div>
    <div class="text-center" style="padding:15px;">
      <%= form_for(@user) do |f| %>
          <table align="center">
            <tr>
              <td style="text-align: left">
                <%= f.text_field :display_name, :placeholder => 'Name', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td style="text-align: left">
                <%= f.text_field :email, :placeholder => 'Email', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td style="text-align: left">
                <%= f.text_field :phone, :placeholder => 'Phone', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><%= f.password_field :password, :placeholder => 'Password', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 5px"><%= f.submit 'Sign Up', :class => 'login_button_style' %></td>
            </tr>
            <tr>
              <td align="left" style="font-size: 10px;padding-left: 5px">You can also Sign Up with your Google or
                Facebook.
              </td>
            </tr>
            <tr>
              <td style="text-align: left;border: 0px"><a href="/auth/facebook">
                <div class="facebook_button_style"><%= image_tag('fb_login.png', :width => '20px') %>Sign Up with
                  Facebook
                </div>
              </a></td>
            </tr>
            <tr>
              <td style="text-align: left"><a href="/auth/google_oauth2">
                <div class="google_button_style"><%= image_tag('google_signin.png', :width => '20px') %>Sign Up with
                  Google
                </div>
              </a></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>



