<%= form_for(@delivery_slot_name) do |f| %>
    <% if @delivery_slot_name.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@delivery_slot_name.errors.count, "error") %> prohibited this delivery_slot_name from being
            saved:</h2>

          <ul>
            <% @delivery_slot_name.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :slot_name %><br/>
      <%= f.text_field :slot_name %>
    </div>
    <div class="field">
      <%= f.label :active %><br/>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :dont_show_after %><br/>
      <%= f.datetime_select :dont_show_after %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
