<h1>Listing Delivery Slot Names</h1>

<table width="70%" border="1">
  <tr>
    <th>Slot name</th>
    <th>Active</th>
    <th>Dont Show After</th>
    <th></th>
    <th></th>
  </tr>

  <% @delivery_slot_names.each do |delivery_slot_name| %>
      <tr>
        <td><%= delivery_slot_name.slot_name %></td>
        <td><%= delivery_slot_name.active %></td>
        <td><%= delivery_slot_name.dont_show_after %></td>
        <td><%= link_to 'Edit', edit_delivery_slot_name_path(delivery_slot_name) %></td>
        <td><%= link_to 'Destroy', delivery_slot_name, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Delivery slot name', new_delivery_slot_name_path %>
<%= link_to 'Create Delivery Slots for one month', create_delivery_slots_delivery_slots_path %>
