<p id="notice"><%= notice %></p>

<p>
  <b>Slot name:</b>
  <%= @delivery_slot_name.slot_name %>
</p>

<p>
  <b>Active:</b>
  <%= @delivery_slot_name.active %>
</p>


<%= link_to 'Edit', edit_delivery_slot_name_path(@delivery_slot_name) %> |
<%= link_to 'Back', delivery_slot_names_path %>
