<% delivery_slots = DeliverySlotName.get_active_slots %>
<div id="delivery_slots_content">
  <ul>
    <% delivery_slots.each do |slot| %>
        <li><%= slot.slot_name %></li>
    <% end %>
  </ul>
</div>