<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <tr>
        <td>
    <%= f.label :buyer_id %><br />
    <%= f.number_field :buyer_id %>
        </td>
      </tr>
      <tr>
        <td>
    <%= f.label :payment_status %><br />
    <%= f.text_field :payment_status %>
        </td>
      </tr>
      <tr>
        <td>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
        </td>
        </tr>
      <tr>
        <td>
    <%= f.label :total_amount %><br />
    <%= f.text_field :total_amount %>
        </td>
        </tr>
      <tr>
        <td>
    <%= f.label :payment_mode %><br />
    <%= f.text_field :payment_mode %>
        </td>
        </tr>
      <tr>
        <td>
    <%= f.submit %>
        </td>
      </tr>
<% end %>

</table>