<table cellspacing="5" cellpadding="3" width="80%" align="center">

  <% @orders.each do |order| %>
      <tr style="background-color:#704c09;color: #ffffff;">
        <td align="left" style="padding-left: 10px;vertical-align: top;padding-top: 10px;">
          <div id="order-status-<%= order.id %>">
              <%= render :partial => 'orders/orders_status_details', :locals => {:order => order} %>
          </div>
        </td>
        <td style="font-size: 14px;padding-left: 15px;vertical-align: top;padding-top: 10px;">
          <% if !order.address_id.blank?  %>
              <% address_details = AddressDetail.find(order.address_id) %>
              <%= address_details.contact_number %>
              <%= address_details.house_no %>,<br/>
              <%= address_details.area %>,<br/>
              <%= address_details.land_mark %>,<br/>
              <%= address_details.city %>.
          <% end %>
        </td>
        <td style="vertical-align: top;">
          <% @order_items = OrderItem.find_all_by_order_id(order.id) %>
          <table cellspacing="5" cellpadding="3">
            <% @order_items.each do |order_item| %>
                <tr align="left">
                  <td style="font-size: 14px;padding-left: 15px;">
                    <%=Product.find(order_item.product_id).name %> -
                    <span style="font-size: 16px;color: burlywood"><%= order_item.quantity  %></span>
                  </td>
                </tr>
                <% if !order_item.promo_id.blank? %>
                <tr>
                     <td style="font-size: 14px;padding-left: 15px;">
                       <% promo = Promo.find_by_id(order_item.promo_id) %>
                       <span style="font-size: 14px;color: #8fb242"><%= promo.promo_title  %> &nbsp;&nbsp;=>&nbsp;&nbsp;
                       <%= order_item.promo_offer_type %>
                       </span>
                     </td>
                </tr>
                 <% end %>
            <% end %>
          </table>
        </td>
      </tr>
  <% end %>
</table>

