  <% user =  User.find_by_id(order.buyer_id) %>
  <% if !user.blank? %>
      <span style="font-size: 16px;color: #3399FF"><%= order.tracking_id %></span>&nbsp;&nbsp;<span style="font-size: 18px;"><%= user.email %></span>&nbsp;&nbsp;
      <span style="font-size: 16px;color: #e09e19"> Rs.<%=order.total_amount %></span>&nbsp;&nbsp;
      <% color = order.status == 'Pending' ? 'red' : 'green' %>
      <span style="font-size: 16px;color: #e09e19"><%=order.status %></span>
      <br/><br/>
      <div>
        <%= form_tag('/orders/status', :method => 'get', :remote => 'true') do %>
            <%= hidden_field_tag "id", order.id %>
            <%= text_field_tag("status", '  ') %> &nbsp;&nbsp;
            <span>
              <%= submit_tag('Update status') %>
            </span>
        <% end %>
      </div>
       <br/>
      <span style="font-size: 14px;color: #808080"><%= order.created_at.utc.in_time_zone('Kolkata').strftime("%d %b %Y at %I:%M %p") %></span>&nbsp;&nbsp;
      <span style="font-size: 16px;color: #3399FF"><%= order.payment_status %></span>&nbsp;&nbsp;
      <span style="font-size: 16px;color: #e09e19"><%= Location.find_by_id(order.location_id).name if !order.location_id.blank?%></span>
          <br/><br/>  <span style="font-size: 18px;"><%= order.delivery_slot_name %> </span>&nbsp;&nbsp;

  <% else %>
      <span style="font-size: 18px;">No user details</span>&nbsp;&nbsp;
  <% end %>
