<table style="border:1px solid black;padding-top:20px;border-collapse:collapse;width:100%">

  <tr style="border-bottom:2px solid black;">
    <th align="left" style="border:1px solid #e3e3e3;width:5%">Order Id</th>
    <th align="left" style="border:1px solid #e3e3e3;width:20%">Order Created</th>

    <th align="left" style="border:1px solid #e3e3e3;width:10%">Total Amount</th>
    <th align="left" style="border:1px solid #e3e3e3;width:10%">Status</th>
    <th align="left" style="border:1px solid #e3e3e3;width:20%">Payment Mode</th>
    <th align="left" style="border:1px solid #e3e3e3;width:15%">Payment Status</th>
  </tr>

  <tr>

    <td style="border:1px solid #e3e3e3;width:5%"><%= order.tracking_id %></td>
    <td style="border:1px solid #e3e3e3;width:20%"><%= order.created_at.utc.in_time_zone('Kolkata').strftime("%d %b %Y at %I:%M %p") %></td>
    <td align="left" style="border:1px solid #e3e3e3;width:10%"><%= order.total_amount %></td>
    <td align="left" style="border:1px solid #e3e3e3;width:10%"><%= order.status %></td>
    <td align="left" style="border:1px solid #e3e3e3;width:20%"> <%= order.payment_mode %></td>
    <td align="left" style="border:1px solid #e3e3e3;width:15%"><%= order.payment_status %></td>
  </tr>


</table>