<datalist id="order_status_list">
  <option value="Created">
  <option value="Pending">
  <option value="Packed">
  <option value="Out for delivery">
  <option value="Delivered">
  <option value="Not delivered">
  <option value="Cancelled">
</datalist>

<datalist id="payment_status_list">
  <option value="Pending">
  <option value="Paid_Cash">
  <option value="Paid_Online">
  <option value="Cancelled">
</datalist>

<table cellspacing="5" cellpadding="3" width="100%" border="1" align="center">
  <tr>
    <th>Order Id</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Payment</th>
    <th>Payment Mode</th>
    <th>Delivery Slot</th>
    <th>Created At</th>
    <th>Ordered Through</th>
  </tr>

  <% @orders.each do |order| %>
      <% user = User.find_by_id(order.buyer_id) %>
      <% address_details = AddressDetail.find_by_id(order.address_id) %>
      <tr>
        <td><a href="/orders/invoice_status_details?id=<%= order.id %>" target="_blank"><%= order.tracking_id %></a>
          <% if !order.tracking_id.blank? %>
          <a href="/orders/invoice_status_details?id=<%= order.id %>&print=true" target="_blank"><%= image_tag('print-icon.png', :width => '16px') %></a><% end %><br/>
              <%= address_details.area %>
          <br/><%= address_details.pincode %></td>
        <td><%= user.try(:display_name) %> <br/><%= user.try(:phone) %><br/><%= user.try(:email) %></td>
        <td><%= order.total_amount %></td>
        <td>
          <span id="order-status-<%= order.id %>"><%= order.status %></span> <%= link_to_function image_tag('edit-icon.png', :width => '16px'), "show_edit_order_status('#{order.id}')" %>
        </td>
        <td>
          <span id="payment-status-<%= order.id %>"><%= order.payment_status %></span> <%= link_to_function image_tag('edit-icon.png', :width => '16px'), "show_edit_order_status('#{order.id}')" %>
        </td>
        <td><%= order.payment_mode %></td>
        <td><%= order.delivery_slot_name %></td>
        <td><%= get_formatted_date1(order.created_at) %></td>
        <td align="center"><%= order.order_by  %></td>
      </tr>
      <tr id="edit_order_status_<%= order.id %>" style="display: none;">
        <td colspan="4">
          <h3>Edit Status for Order ID <%= order.tracking_id %></h3>

          <%= form_tag('/orders/status', :method => 'get', :remote => 'true') do %>
              <%= hidden_field_tag "id", order.id %>
              <%= text_field_tag("status", '', :list => 'order_status_list') %> &nbsp;&nbsp;

            <span>
              <%= submit_tag("Update status") %>
            </span>
          <% end %>
          <% status_histories = OrderStatusHistory.find_all_by_order_id_and_status_type(order.id, 'Status')
             status_histories.each do |status_history|
          %>
              <b><%= status_history.old_status %></b> to <b><%= status_history.new_status %></b> by
              <b><%= User.find_by_id(status_history.user_id).try(:display_name) %></b>
              on <%= get_formatted_date1(status_history.created_at) %><br/>
          <% end %>
        </td>
        <td colspan="3">
          <h3>Edit Payment Status for Order ID <%= order.tracking_id %></h3>

          <%= form_tag('/orders/payment_status', :method => 'get', :remote => 'true') do %>
              <%= hidden_field_tag "id", order.id %>
              <%= text_field_tag("payment_status", '', :list => 'payment_status_list') %> &nbsp;&nbsp;

            <span>
              <%= submit_tag("Update status") %>
            </span>
          <% end %>
          <% status_histories = OrderStatusHistory.find_all_by_order_id_and_status_type(order.id, 'PaymentStatus')
             status_histories.each do |status_history|
          %>
              <b><%= status_history.old_status %></b> to <b><%= status_history.new_status %></b> by
              <b><%= User.find_by_id(status_history.user_id).try(:display_name) %></b>
              on <%= get_formatted_date1(status_history.created_at) %><br/>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<script>
    function show_edit_order_status(order_id) {
        $('#edit_order_status_' + order_id).show();
    }
</script>