<table cellspacing="5" cellpadding="3" width="100%" border="1" align="center">
  <tr>
    <th>Order Id</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Payment Mode</th>
    <th>Delivery Slot</th>
    <th>Created At</th>
  </tr>
  <% @orders.each do |order| %>
      <% user = User.find_by_id(order.buyer_id) %>
      <% address_details = AddressDetail.find_by_id(order.address_id) %>
      <tr>
        <td><a href="/orders/invoice_status_details?id=<%= order.id %>" target="_blank"><%= order.tracking_id %></a>
          <% if !order.tracking_id.blank? %>
          <a href="/orders/invoice_status_details?id=<%= order.id %>&print=true" target="_blank"><%= image_tag('print-icon.png', :width => '16px') %>
          </a><% end %><br/><%= address_details.area %>
              <br/><%= address_details.pincode %></td>
        <td><%= user.try(:display_name) %> <br/><%= user.try(:phone) %><br/><%= user.try(:email) %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.payment_mode %></td>
        <td><%= order.delivery_slot_name %></td>
        <td><%= get_formatted_date1(order.created_at) %></td>
      </tr>
  <% end %>
</table>