<h2 align="center">Listing orders</h2>


<%= form_tag('/orders', :method => 'get', :remote => true) do %>
    <table cellspacing="5" cellpadding="3" width="80%" align="center">
      <tr style="background-color:#593c07;color: #ffffff;">
        <td colspan="4" style="padding-left: 10px;">
          <b style="font-size: 16px;"> Search Dates</b> <br/><br/><% ['Show All','Date Range', 'To Day', 'Last Two Days', 'Last Week', 'Last Month'].each_with_index do |date_option, index| %>
              <span style="font-size: 16px;"><%= radio_button_tag 'search_date', date_option %>  <%= label_tag 'search_date', date_option %></span>&nbsp;&nbsp;&nbsp;
          <% end %>
          <br/><br/>
        </td>
      </tr>
      <tr>
        <td style="margin-bottom:15px">
          <b>Start Date</b>
          <br/>
          <%= text_field_tag(:start_date, @order_filter.start_date, :placeholder=>'yyyy-MM-dd', :class => 'text') %>

        </td>
        <td style="margin-bottom:15px">
          <b>End Date</b>
          <br/><%= text_field_tag(:end_date, @order_filter.end_date, :placeholder=>'yyyy-MM-dd', :class => 'text') %>
        </td>
        <td style="margin-bottom:15px">
          <b>Order Id</b>
          <br/><%= text_field_tag(:order_id,'', :placeholder=>'Search By Order Id', :class => 'text') %>
        </td>
        </tr>
      <tr>

        <td>
          <% locations = Array.new %>
          <% locations << ['Show All', -1] %>
          <% get_locations.each do|location| %>
          <% locations << location %>
          <% end %>
          <span style="font-weight:bold">location<br/></span><%= select_tag 'location_id', options_for_select(locations), :width => "150px", :class => 'combo' %>
        </td>
        <td>
          <span style="font-weight:bold">Order Status<br/></span><%= select_tag 'order_status', options_for_select(['Show All','Created','Pending','Packed','Out for delivery','Delivered','Not delivered','Cancelled']), :width => "150px", :class => 'combo' %>
        </td>
        <td>
          <span style="font-weight:bold">Payment Status<br/></span><%= select_tag 'payment_status', options_for_select(['Show All','Pending','Paid_Cash','Paid_Online','Cancelled']), :width => "150px", :class => 'combo' %>
        </td>


      </tr>
      <tr>
        <td colspan="4" style="padding-top: 20px" align="right">
          <%= image_submit_tag('Search.png') %>
        </td>
      </tr>

    </table>
<% end %>

<div id="orders_details">
  <%= render 'simple_index' %>
</div>
