

<div class="vn_wrapper">
<% if params[:print] == 'true' %>
    <script>window.print();</script>
<% else %>
    <a href="/orders/invoice_status_details?id=<%= params[:id] %>&print=true" target="_blank"><%= image_tag('print-icon.png', :width => '32px') %></a>
<% end %>
  <div style="width:100%;padding-right: 15px;" align="right">
    Brics & Clicks E-Com Private Limited,<br/>
    Prashanth Nagar,<br/>Kukatpally,<br/>Hyderabad-72.<br/>Ph: 040 40 212 212
  </div>

  <div style="padding: 20px;">
    <% @address_details = AddressDetail.find(@order.address_id) %>
    <table align="left">
      <tr> <td style="color: #000000;  text-transform: uppercase;"><b><%= @address_details.first_name %> <%= @address_details.last_name %></b> (<%= @address_details.contact_number %>)</td></tr>
      <tr><td style="text-transform: capitalize"><%= @address_details.house_no %></td></tr>
      <tr><td style="text-transform: capitalize"><%= @address_details.area %></td></tr>
      <tr><td style="text-transform: capitalize"><%= @address_details.city %> <%= @address_details.pincode %></td></tr>
    </table>

    <table align="right">
      <tr>
        <td>Order Id: <%= @order.tracking_id %></td>
      </tr>
      <tr><td>Order Time: <%= @order.created_at.utc.in_time_zone('Kolkata').strftime("%Y-%m-%d %-l:%M %p") %></td></tr>
      <tr><td>Delivery Time: <%= @order.delivery_slot_name %></td></tr>
      <tr><td>Payment Mode: <%= @order.payment_mode %></td></tr>
    </table>
    <br/><br/><br/><br/><br/>
    <table style="border:1px solid black;padding-top:20px;border-collapse:collapse;width:100%">

      <tr style="border-bottom:2px solid black;">
        <th align="left" style="border:1px solid #e3e3e3;width:3%">No</th>
        <th align="left"style="border:1px solid #e3e3e3;width:50%">Name</th>
        <th align="right" style="border:1px solid #e3e3e3;width:20%">Price</th>
        <th align="right" style="border:1px solid #e3e3e3;width:7%">Qty</th>
        <th align="right" style="border:1px solid #e3e3e3;width:20%">You Pay</th>
      </tr>
      <%count=0 %>
      <% @order_items = OrderItem.find_all_by_order_id(@order.id) %>
      <% @order_items.each_with_index do |order_item,index| %>
          <% product = Product.find_by_id(order_item.product_id) %>
          <tr>
            <td style="border:1px solid #e3e3e3;width:3%"><%= index+1 %></td>
            <td style="border:1px solid #e3e3e3;width:50%"><%= product.name %>
              <% if !order_item.product_attributes.blank? %>
                  <%= "( #{order_item.product_attributes} )" %>
              <% end %>
              <%= product.quantity %></td>
            <td align="right" style="border:1px solid#e3e3e3;width:20%">RS <%= order_item.effective_price %></td>
            <td align="right" style="border:1px solid #e3e3e3;width:7%"><%= order_item.quantity %></td>
            <td align="right" style="border:1px solid #e3e3e3;width:20%">RS <%= order_item.total_price.round(2) %></td>
            <% count=count+(order_item.quantity).to_i %>
          </tr>

      <%end %>
      <tr style="border-bottom:2px solid black;">
        <th align="left" style="border:1px solid #e3e3e3;width:3%"></th>
        <th align="left"style="border:1px solid #e3e3e3;width:50%">Total <span style="font-size: 10px;color: red;text-transform: lowercase">(* Inclusive of all taxes)</span> </th>
        <th align="right" style="border:1px solid #e3e3e3;width:20%"></th>
        <th align="right" style="border:1px solid #e3e3e3;width:7%"> <%= count %></th>
        <th align="right" style="border:1px solid #e3e3e3;width:20%">RS <%= @order.get_products_total.round(2) %></th>
      </tr>

    </table>
    <br/><br/>
    <table align="right" style="padding-top:20px;border:1px solid black;border-collapse:collapse;width:48%">

      <%if !@order.coupon_discount.blank? %>
          <tr><th  align="left" style="border:1px solid #e3e3e3;width:58%">Total Amount:</th><td align="right" style="border:1px solid #e3e3e3">RS <%= @order.get_products_total+@order.coupon_discount %></td></tr>
        <tr><th  align="right" style="border:1px solid #e3e3e3;width:58%">Coupon Discount:</th><td align="right" style="border:1px solid #e3e3e3">- RS <%= @order.coupon_discount %></td></tr>
      <%else %>
          <tr><th  align="left" style="border:1px solid #e3e3e3;width:58%">Total Amount:</th><td align="right" style="border:1px solid #e3e3e3">RS <%= @order.get_products_total %></td></tr>
      <%end %>
      <tr><th  align="right" style="border:1px solid #e3e3e3;width:58%">Shipping:</th><td align="right" style="border:1px solid #e3e3e3">RS <%= @order.delivery_charges.round(2) %></td></tr>

      <tr style="border-bottom:2px solid black;border-top:2px solid black;"><th  align="right" style="border:1px solid #e3e3e3;width:58%">Net Payable Amount :</th><td align="right" style="border:1px solid #e3e3e3;color:red">RS <%= @order.total_amount.to_d.round(2)%></td></tr>
    </table>
    <br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
  <br/>
</div>
