<div style="padding: 10px;">
  <%= form_tag('/orders/order_status_details', :method => 'get', :remote => 'true') do %>
      <div align="left">
        <span>Order ID</span><br/>
        <%= text_field_tag("id", ' ') %>
      </div>
      <div align="left">
        <br/>
        <%= submit_tag('Request', :class => 'request_product_submit_tag') %>
      </div>
  <% end %>
</div>

<br/>

<div id="order-details-tracking">

</div>
