<% if  !@order.blank?%>
$('#order-details-tracking').html("<%= escape_javascript(render :partial => 'order_track_details', :locals =>{:order => @order}) %>").css({'color': 'black', 'font-size':'12px', 'text-align':'left','padding-bottom':'20px'});

<% else%>
$('#order-details-tracking').html('This Order is not found').css({'color': 'red', 'font-weight': 'bold', 'font-size':'20px', 'text-align':'left','padding-bottom':'20px'});
<% end %>

