<p id="notice"><%= notice %></p>

<p>
  <b>Buyer:</b>
  <%= @order.buyer_id %>
</p>

<p>
  <b>Payment status:</b>
  <%= @order.payment_status %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Total amount:</b>
  <%= @order.total_amount %>
</p>

<p>
  <b>Payment mode:</b>
  <%= @order.payment_mode %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
