
<%if @online_payment.blank? %>
    <h1>Your transaction is invalid - <%= @ccavenueParams['order_id'] %></h1>
    <p style="color: grey;font-size: 12px;line-height: 100%"><%= @ccavenueParams%></p>
<%end %>

