<table width="100%">

  <th style="padding-top:10px;padding-bottom:10px;font-size:14px;font-weight: bold;padding-left: 5px;background-color: #D5D5D6; " align="left">Site
    Map
  </th></table>

<table class="table_format">

  <th style="font-size: 18px;color: #000000;font-weight: bold; padding-bottom: 30px;padding-left: 5px" align="left">Categories</th>
  <br/>
  <% @categories = Category.active.find(:all, :order => "sequence_id ASC") %>
  <tr class="site_map-list-box">
    <% @categories.each_with_index do |category, index| %>
        <td><a href="/products/get_main_filtered_products?category_ids=<%= category.id %>&load_all=true&rF=true">
          <%= category.name %>
        </a></td>
        <% if (index+1)%4==0 && index!=@categories.size-1 %>
            </tr>
            <tr>
              <td><br/></td>
            </tr>
            <tr class="site_map-list-box">
        <% end %>
    <% end %>
    </tr>
    <th style="font-size: 18px;color: #000000;font-weight: bold; padding-top: 30px;padding-left: 5px;padding-bottom: 20px" align="left">Manufacturers</th>
    <% @brands = Brand.all %>
    <tr class="site_map-list-box">
      <% @brands.each_with_index do |brand, index| %>
          <td>
            <%= brand.name %>

          </td>
          <% if (index+1)%4==0 && index!=@brands.size-1 %>
              </tr>
              <tr>
                <td><br/></td>
              </tr>
              <tr class="site_map-list-box">
          <% end %>
      <% end %>
      </table>

