<%= form_for(@pincode) do |f| %>
  <% if @pincode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pincode.errors.count, "error") %> prohibited this pincode from being saved:</h2>

      <ul>
      <% @pincode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
