<h1>Listing pincodes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pincodes.each do |pincode| %>
  <tr>
    <td><%= pincode.code %></td>
    <td><%= pincode.active %></td>
    <td><%= link_to 'Show', pincode %></td>
    <td><%= link_to 'Edit', edit_pincode_path(pincode) %></td>
    <td><%= link_to 'Destroy', pincode, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pincode', new_pincode_path %>
