<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @pincode.code %>
</p>

<p>
  <b>Active:</b>
  <%= @pincode.active %>
</p>


<%= link_to 'Edit', edit_pincode_path(@pincode) %> |
<%= link_to 'Back', pincodes_path %>
