<%= form_for(@product_attribute) do |f| %>
  <% if @product_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_attribute.errors.count, "error") %> prohibited this product_attribute from being saved:</h2>

      <ul>
      <% @product_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :product_id %>
  <div class="field">
    <%= f.label :attribute_id %><br />
    <%= f.select :attribute_id, options_for_select(options_for_select(Attribute.all.collect { |u| [u.name, u.id] })) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
