<h1>Listing product_attributes</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Attribute</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_attributes.each do |product_attribute| %>
  <tr>
    <td><%= product_attribute.product_id %></td>
    <td><%= product_attribute.attribute_id %></td>
    <td><%= link_to 'Show', product_attribute %></td>
    <td><%= link_to 'Edit', edit_product_attribute_path(product_attribute) %></td>
    <td><%= link_to 'Destroy', product_attribute, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product attribute', new_product_attribute_path %>
