<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_attribute.product_id %>
</p>

<p>
  <b>Attribute:</b>
  <%= @product_attribute.attribute_id %>
</p>


<%= link_to 'Edit', edit_product_attribute_path(@product_attribute) %> |
<%= link_to 'Back', product_attributes_path %>
