<%= form_for(@notify_me_request) do |f| %>
    <% if @notify_me_request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@notify_me_request.errors.count, "error") %> prohibited this notify_me_request from being
            saved:</h2>

          <ul>
            <% @notify_me_request.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :product_id %>
    </div>
    <table>
      <tr>
        <td>
          <div class="field">

            Notify me through <br/>
            <%= f.radio_button 'intimation_type', 'Email' %>  <%= label_tag 'intimation_type', 'Email' %><br/>
            <%= f.radio_button 'intimation_type', 'Mobile' %>  <%= label_tag 'intimation_type', 'Mobile' %><br/>
            <%= f.radio_button 'intimation_type', 'Both', :checked => 'true' %>  <%= label_tag 'intimation_type', 'Both' %>
          </div>

        </td>
        <td>
          <div class="actions">
            <%= f.submit 'Notify Me', :class => 'product-add-button' %>
          </div>
        </td>
      </tr>

    </table>
<% end %>
