<h1>Listing Notify Me Requests</h1>

<table border="1">
  <tr>
    <th>Product</th>
    <th>User</th>
    <th>Intimation type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @notify_me_requests.each do |notify_me_request| %>
      <tr>
        <%
           @product = Product.find_by_id(notify_me_request.product_id)
           @user = User.find_by_id(notify_me_request.user_id)
        %>
        <td><%= @product.name if !@product.blank?%></td>
        <td><%= (@user.display_name  + '<br/>' + @user.email + '<br/>' + @user.phone).html_safe if !@user.blank? %></td>
        <td><%= notify_me_request.intimation_type %></td>
        <td><%= link_to 'Show', notify_me_request %></td>
        <td><%= link_to 'Edit', edit_notify_me_request_path(notify_me_request) %></td>
        <td><%= link_to 'Destroy', notify_me_request, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Notify me request', new_notify_me_request_path %>
