<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @notify_me_request.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @notify_me_request.user_id %>
</p>

<p>
  <b>Intimation type:</b>
  <%= @notify_me_request.intimation_type %>
</p>


<%= link_to 'Edit', edit_notify_me_request_path(@notify_me_request) %> |
<%= link_to 'Back', notify_me_requests_path %>
