<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
</head>
<body>
<p>Hello <b><%= @user.user_name %></b>,</p>

<p> To change your password please click on <%= edit_password_reset_url(@user.perishable_token) %> and enter the new
  password details.
</p>
<br/>
<br/>
<div style="text-align: right;padding: 20px;color: #ffffff; font-size: 25px">
  Value Needs Team
</div>
</body>
</html>
