<h1 style="color: darkblue">Customer Feedback</h1>

    <div class="user_style" align="center" style="width:70%">
      <div style="font-size: 20px;color: #078DD5" align="left">
       <%= @feedback.comment %>
      </div>
      <br/>
      <div align="left">
        <span style="font-size: 12px; color: #808080"> <span> <span style="color:#078DD5;font-size: 14px; "> <%= @feedback.user_name %> </span> &nbsp;&nbsp;&nbsp;<%= @feedback.mobile_number %>&nbsp;&nbsp;&nbsp; <%= @feedback.email %></span></span>
        <%result = ''
          if !@feedback.updated_at.blank?
            result = @feedback.updated_at.utc.in_time_zone('Kolkata').strftime("%d-%m-%Y %-l:%M %p")
          end %>
        <span style="font-size: 12px; color: #808080"><%=result %></span>
      </div>
    </div>
    <br/><br/>
