<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
</head>
<body style="align:center;padding: 0em 6em 3em 6em;">
<p style="font-size: 12px;">Note: To show the below images just click on -<span style="color: blue">"Display images" or "Always display images"</span>
  above</span>.</p>

<div style="border-radius: 8px;width: 750px;border: 1px solid #808080;font-family: 'Open Sans', arial, sans-serif;" align="center">
  <br/>
  <table width="100%">
    <tr>
      <td width="30%" style="text-align:center;padding-left: 10px;">
        <img src="http://valeeds.cerone-software.com/images/valeeds-logo.png" width="200px"/>
      </td>
      <td style="font-family:'Lobster';font-size:40px;padding-right:10px;color: purple" align="right">
        Value Needs
      </td>
    </tr>
  </table>
  <br/>
  <div style="background:url(http://sahadeva.cerone-software.com/public-images/top-bg.jpg) -300px -45px no-repeat;height:140px;text-align:right;font-size: 32px;font-family: lobster;color: #e09a16;padding-right:20px;padding-top:20px;">
    Thanks for your order.
  </div>
  <div style="width: 95%;text-align:left;">
    <span style="font-size: 18px; ">
    Hello <b style="font-weight: bold"><%= @user.display_name %></b>,</span>
    <% order = @order %>
    <br/>
    <br/>
    <span style="font-size: 14px;">We have received your order done at <b><%= order.created_at.utc.in_time_zone('Kolkata').strftime("%d %b %Y at %I:%M %p") %></b>. Your order id is <b><%= order.tracking_id %></b>. The following items are included as part of the order.</span>

    <br/>
    <br/>
    <div style="width:100%;" align="right">
      Brics & Clicks E-Com Private Limited,<br/>
      Prashanth Nagar,<br/>Kukatpally,<br/>Hyderabad-72.<br/>Ph: 040 40 212 212

    </div>

    <div style="padding: 20px 20px 20px 20px">
      <% @address_details = AddressDetail.find(@order.address_id) %>
      <table align="left">
        <tr> <td style="color: #000000;  text-transform: uppercase;"><%= @address_details.first_name %> <%= @address_details.last_name %> (<%= @address_details.contact_number %>)</td></tr>
        <tr><td style="text-transform: capitalize"><%= @address_details.house_no %></td></tr>
        <tr><td style="text-transform: capitalize"><%= @address_details.area %></td></tr>
        <tr><td style="text-transform: capitalize"><%= @address_details.city %> <%= @address_details.pincode %></td></tr>
      </table>

      <table align="right">
        <tr>
          <td>Order Id: <%= @order.tracking_id %></td>
        </tr>
        <tr><td>Order Time: <%= order.created_at.utc.in_time_zone('Kolkata').strftime("%Y-%m-%d %-l:%M %p") %></td></tr>
        <tr><td>Delivery Time: <%= @order.delivery_slot_name %></td></tr>
        <tr><td>Payment Mode: <%= @order.payment_mode %></td></tr>
      </table>
      <br/><br/><br/><br/><br/>
      <table style="border:1px solid black;padding-top:20px;border-collapse:collapse;width:100%">

        <tr style="border-bottom:2px solid black;">
          <th align="left" style="border:1px solid #e3e3e3;width:3%">No</th>
          <th align="left"style="border:1px solid #e3e3e3;width:50%">Name</th>
          <th align="right" style="border:1px solid #e3e3e3;width:20%">Price</th>
          <th align="right" style="border:1px solid #e3e3e3;width:7%">Qty</th>
          <th align="right" style="border:1px solid #e3e3e3;width:20%">You Pay</th>
        </tr>
        <%count=0 %>
        <% @order_items = OrderItem.find_all_by_order_id(@order.id) %>
        <% @order_items.each_with_index do |order_item,index| %>
            <% product = Product.find_by_id(order_item.product_id) %>
            <tr>
              <td style="border:1px solid #e3e3e3;width:3%"><%= index+1 %></td>
              <td style="border:1px solid #e3e3e3;width:50%"><%= product.name %>
                <% if !order_item.product_attributes.blank? %>
                    <%= "( #{order_item.product_attributes} )" %>
                <% end %>
                <%= product.quantity %></td>
              <td align="right" style="border:1px solid#e3e3e3;width:20%">RS <%= order_item.effective_price %></td>
              <td align="right" style="border:1px solid #e3e3e3;width:7%"><%= order_item.quantity %></td>
              <td align="right" style="border:1px solid #e3e3e3;width:20%">RS <%= order_item.total_price %></td>
              <% count=count+(order_item.quantity).to_i %>
            </tr>

        <%end %>
        <tr style="border-bottom:2px solid black;">
          <th align="left" style="border:1px solid #e3e3e3;width:3%"></th>
          <th align="left"style="border:1px solid #e3e3e3;width:50%">Total <span style="font-size: 10px;color: red;text-transform: lowercase">(* Inclusive of all taxes)</span> </th>
          <th align="right" style="border:1px solid #e3e3e3;width:20%"></th>
          <th align="right" style="border:1px solid #e3e3e3;width:7%"> <%= count %></th>
          <th align="right" style="border:1px solid #e3e3e3;width:20%">RS <%= @order.get_products_total %></th>
        </tr>

      </table>
      <br/><br/>
      <table align="right" style="padding-top:20px;border:1px solid black;border-collapse:collapse;width:48%">
        <tr><th  align="left" style="border:1px solid #e3e3e3;width:58%">Total Amount:</th><td align="right" style="border:1px solid #e3e3e3">RS <%= @order.get_products_total %></td></tr>
        <%if !@order.coupon_discount.blank? %>
            <tr><th  align="left" style="border:1px solid #e3e3e3;width:58%">Coupon Discount:</th><td align="right" style="border:1px solid #e3e3e3">- RS <%= @order.coupon_discount %></td></tr>
        <%end %>
        <tr><th  align="left" style="border:1px solid #e3e3e3;width:58%">Shipping:</th><td align="right" style="border:1px solid #e3e3e3">RS <%= @order.delivery_charges %></td></tr>
        <tr style="border-bottom:2px solid black;border-top:2px solid black;"><th  align="right" style="border:1px solid #e3e3e3;width:58%">Net Payable Amount :</th><td align="right" style="border:1px solid #e3e3e3;color:red">RS <%= @order.total_amount %></td></tr>
      </table>
      <br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <br/>
    <span style="font-size: 14px; ">You order is created, please be available at the time of delivery.</span>
    <br/>
    <br/>

    <div style="font:normal 12px Arial,Helvetica,sans-serif;color:#666;">
      If you need any further clarification, please reply back or call us at <b>040 40 212 212</b>.
    </div>
  </div>
  <br/>
  <div style="background: #e09a16;font-weight:bold;color: black;padding: 8px;text-decoration: none;font-size: 16px;border-bottom-left-radius:8px;border-bottom-right-radius: 8px; ">
    <table width="100%">
      <tr>
        <td style="float: left">
          ValueNeeds &nbsp;&nbsp;<span style="color:#e09a16;font-size: 4px;">Order ID : <%= @order.id %></span>
        </td>
        <td style="float: right">
          <a href="mailto:cs@valueneeds.com">cs@valueneeds.com</a>,&nbsp;&nbsp;040 40 212 212&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>