<%= form_for(@promo) do |f| %>
  <% if @promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% @promo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :promo_group_id %><br />
     <%= f.select :promo_group_id, options_for_select(get_promo_groups, @promo.promo_group_id) %>
  </div>

  <div class="field">
    <%= f.label :promo_type %><br />
    <%= f.select :promo_type, options_for_select(get_all_promo_types, @promo.promo_type) %>
  </div>
  <div class="field">
    <%= f.label :promo_title %><br />
    <%= f.text_field :promo_title %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :product_quantity %><br />
    <%= f.text_field :product_quantity %>
  </div>
  <div class="field">
    <%= f.label :product_range_id %><br />
    <%= f.text_field :product_range_id %>
  </div>
  <div class="field">
    <%= f.label :order_value %><br />
    <%= f.number_field :order_value %>
  </div>
  <div class="field">
    <%= f.label :valid_from %><br />
    <%= f.datetime_select :valid_from %>
  </div>
  <div class="field">
    <%= f.label :valid_till %><br />
    <%= f.datetime_select :valid_till %>
  </div>
  <div class="field">
    <%= f.label :order_promo_limit %><br />
    <%= f.number_field :order_promo_limit %>
  </div>
  <div class="field">
    <%= f.label :customer_promo_limit %><br />
    <%= f.number_field :customer_promo_limit %>
  </div>
  <div class="field">
    <%= f.label :offer_type %><br />
    <%= f.select :offer_type, options_for_select(get_promo_offer_types, @promo.offer_type) %>
  </div>
  <div class="field">
    <%= f.label :discount_amount %><br />
    <%= f.number_field :discount_amount %>
  </div>
  <div class="field">
    <%= f.label :discount_percent %><br />
    <%= f.number_field :discount_percent %>
  </div>
  <div class="field">
    <%= f.label :offer_product_id %><br />
    <%= f.number_field :offer_product_id %>
  </div>
  <div class="field">
    <%= f.label :offer_other_product_quantity %><br />
    <%= f.text_field :offer_other_product_quantity %>
  </div>
  <div class="field">
    <%= f.label :offer_same_product_quantity %><br />
    <%= f.text_field :offer_same_product_quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
