<div class="uiv2-promo-nav-menu uiv2-div100">
  <div class="uiv2-offers uiv2-mar-l-20" style="padding-top: 15px;">
     <span class="uiv2-style1">
               Value Need
          </span><span class="uiv2-style2">
               OFFERS
          </span>
  </div>
  <ul style="float:left; padding: 10px">
    <li><a href="#">Discounts</a></li>
    <!--<li><a href="/promos/promo_offers">Promotions</a></li>-->
    <li><a href="#">Bundle Packs</a></li>
  </ul>
</div>
<div style="clear: both"></div>