<p style="font-size: 14px;">Amazing <%= Date::MONTHNAMES[Date.today.month] %> Offers</p>
<div>
     <ul style="list-style: none;padding: 0px;margin: 0 0 0 5px;">
       <% @promos = Promo.find(:all, :conditions => ['valid_from <= ? and valid_till >= ?', Time.now, Time.now]) %>
       <% @promos.each do |promo| %>
            <li style="padding: 4px 3px 2px 4px"><a href="/promo-details/<%= offer_rename(promo.promo_title) %>/<%= promo.id %>" style="text-decoration: none;padding: 4px 3px 2px 4px" id="promo_offer_<%= promo.id %>">- <%= promo.promo_title %></a></li>
       <% end %>
     </ul>
</div>