<% basket =get_promo_products_details(promo) %>
<div class="uiv2-div100 uiv2-pro-sel-tab">
  <div class="uiv2-div-w-200 uiv2-mar-l-20 uiv2-mar-t-10 uiv2-border-right-dotted">
    <div class="uiv2-div90 uiv2-mar-t-10 uiv2-sub-content-3"><%= basket.name %> </div>
    <div class="uiv2-div90 uiv2-mar-t-10 uiv2-sub-content-2-1"><%= basket.content1 %></div>
                         <span class="uiv2-div90 uiv2-mar-t-10 uiv2-sub-content-sm">
                             <%= basket.content2 %>
                         </span>
  </div>
</div>
<div class="uiv2-div100">
  <div class="uiv2-used-promos">
    <span class="uiv2-div100 uiv2-sub-content-2-1 uiv2-pad-r-10"><%= basket.content3 %><br/><%= basket.content4 %></span>
  </div>
  <div class="uiv2-mar-t-15 uiv2-left uiv2-sub-content-2-1 promoMsgInfo">
    <div class="promo-msg-info-dynamic"> <%= basket.content2 %> </div>
  </div>
</div>