<% promo = Promo.find_by_id(promo_cart_line_item.promo_id) %>
<tr>
  <td>
    <div class="img-view-basket-promo-arrows">
                                        <span class="uiv2-grid-offer-applied icon icon-promo-green-small">
                                       <span style="padding-left: 20px;"> <a href="#" style="text-decoration: none">
                                         PROMO APPLIED :
                                        <span><%= promo.promo_title %></span></a></span></span></div>
  </td>
  <% if promo.offer_type == "Add Other Product" || promo.offer_type == "Add Same Product" %>
      <% offer_product = !promo.offer_product_id.blank? ? Product.find_by_id(promo.offer_product_id) : Product.find_by_id(order_item.product_id) %>
      <td>
        <div style="text-align: center">
          <%= promo_cart_line_item.applied_promo_quantity %>
        </div>
      </td>
      <td style="text-align: center">
        <div style="color: green"> Free</div>
        <div class="uiv2-unit-price_Rate"><%= offer_product.price %></div>
      </td>
      <td></td>
      <td>
        <div style="color: #ff0000;font-weight: bold;text-align: center">
          <%= promo_cart_line_item.savings %>
        </div>
      </td>
  <% end %>

  <% if promo.offer_type == "Discount Amount" || promo.offer_type == "Discount Percentage"%>
      <td>
        <div style="text-align: center">
          <%= promo_cart_line_item.applied_promo_quantity %>
        </div>
      </td>
      <td style="text-align: center">
        <div> <%= order_item.discounted_price %> </div>
        <div class="uiv2-unit-price_Rate"><%= order_item.original_price.to_d %></div>
      </td>
      <td></td>
      <td>
        <div style="color: #ff0000;font-weight: bold;text-align: center">
          <%= promo_cart_line_item.savings %>
        </div>
      </td>
  <% end %>
</tr>