<h1>Listing promos</h1>

<table>
  <tr>
    <th>Promo type</th>
    <th>Promo title</th>
    <th>Product</th>
    <th>Product quantity</th>
    <th>Product range tag</th>
    <th>Order value</th>
    <th>Valid from</th>
    <th>Valid till</th>
    <th>Order promo limit</th>
    <th>Customer promo limit</th>
    <th>Offer type</th>
    <th>Discount amount</th>
    <th>Discount percent</th>
    <th>Offer product</th>
    <th>Offer other product quantity</th>
    <th>Offer same product quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promos.each do |promo| %>
  <tr>
    <td><%= promo.promo_type %></td>
    <td><%= promo.promo_title %></td>
    <td><%= promo.product_id %></td>
    <td><%= promo.product_quantity %></td>
    <td><%= promo.product_range_id %></td>
    <td><%= promo.order_value %></td>
    <td><%= promo.valid_from %></td>
    <td><%= promo.valid_till %></td>
    <td><%= promo.order_promo_limit %></td>
    <td><%= promo.customer_promo_limit %></td>
    <td><%= promo.offer_type %></td>
    <td><%= promo.discount_amount %></td>
    <td><%= promo.discount_percent %></td>
    <td><%= promo.offer_product_id %></td>
    <td><%= promo.offer_other_product_quantity %></td>
    <td><%= promo.offer_same_product_quantity %></td>
    <td><%= link_to 'Show', promo %></td>
    <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
    <td><%= link_to 'Destroy', promo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo', new_promo_path %>
