
<div align="center">
  <div style="width: 99%;margin-right: 8px;padding-top: 20px;">
    <%= render :partial => 'promo_min_banner' %>
   <table width="100%" cellspacing="10">
      <tr>
        <% @promos.each_with_index do |promo, index| %>
            <% promo_offer_details = get_promo_details(promo) %>
            <% product = Product.find(promo_offer_details.all_product_ids[0]) %>
           <td>
             <a href="/promo-details/<%= offer_rename(promo.promo_title) %>/<%= promo.id %>"> <div class="promo-box box-gradiant">

                <div class="uiv2-div65"><span class="uiv2-mar-t-16 uiv2-mar-l-15 uiv2-div100 style1" style="font: 14px 'MyriadFont';color:#A7A9AC ;">
                     <%= promo_offer_details.content1 %>
                     </span><span class="uiv2-mar-t-16 uiv2-mar-l-15 uiv2-div100 style2" style="font: 16px 'MyriadFont' ;color:#58595B ;">
			                <%= promo_offer_details.content2 %> &amp;
			             </span>
                          <span class="uiv2-mar-t-16 uiv2-mar-l-15 uiv2-div100 style3" style="font: 20px 'MyriadFont';color: #414042;width:135%;">
                           <%= promo_offer_details.content3 %>
			             </span>
                </div>

                <div class="uiv2-div-promo">
                  <span class="uiv2-mar-t-16">
                    <%= image_tag("/product/#{product.picture}", :width => '75px', :height => '75px', :style => "margin-left:10px;") %>
                  </span>
                </div>
              </div></a>
            </td>
            <% if (index+1)%3 ==0 %>
                </tr>
                <tr>
            <% end %>
        <% end %>
        </tr>
        </table>
  </div>
</div>

