<div align="center">
  <div style="width: 99%;margin-right: 8px;padding-top: 20px;">
    <%= render :partial => 'promo_min_banner' %>

    <table width="100%" cellspacing="5">
      <tr>
        <td width="20%" style="text-align: left;vertical-align: top">
          <%= render :partial => 'promo_show_offers' %>
        </td>

        <td width="80%" style="vertical-align: top">
          <% promo_offer_details = get_promo_details(@current_promo) %>
          <% all_products = Product.where('id in (?)', promo_offer_details.all_product_ids) %>
          <% product = all_products[0] %>
          <div class="uiv2-border-left-g uiv2-div95">
            <div class="uiv2-div100" style="padding-left: 10px;">
              <div class="uiv2-div60">
                <div class="spacing style3">
                  <%= promo_offer_details.content1 %></div>
                <div class="spacing style2">
                  <%= "#{promo_offer_details.content2} and #{promo_offer_details.content3}" %>
                </div>
                <div class="spacing style1">
                  <%= promo_offer_details.content4 %>
                </div>
              </div>
              <div class="uiv2-div40">
                <span class="uiv2-img-right">
                  <%= image_tag("/product/#{product.picture}", :width => '150px', :height => '150px') %>
                </span>
              </div>
            </div>
          </div>
         <div style="clear: both"></div>

          <div id="promo_basket_details" class="uiv2-div97 uiv2-left uiv2-gray-common-gradiant uiv2-mar-l-20 uiv2-mar-t-20 uiv2-mar-t-30px">
               <%= render :partial => 'promos/promo_basket_details', :locals => {:promo => @current_promo} %>
          </div>

          <% free_product = Product.find(promo_offer_details.free_product_id) if !promo_offer_details.free_product_id.blank? %>
          <div class="uiv2-tab-menu">
                 <ul style="list-style: none;margin: 0px;padding: 0px;">
                     <li style="float: left" id="offer_product_tab">
                       <a href="javascript:promo_taber('offer_products','free_products')"><%= product.name.truncate(20) %></a>
                     </li>
                   <% if @current_promo.offer_type == 'Add Other Product' || @current_promo.offer_type == 'Add Same Product' %>
                       <li style="float: left" id="free_product_tab">
                         <a href="javascript:promo_taber('free_products','offer_products')"><%= free_product.name.truncate(20) if !free_product.blank? %></a>
                       </li>
                   <% end %>
                 </ul>
          </div>
          <div style="clear: both"></div><br/>
          <div style="margin-left: 20px;">
            <div id="offer_products">
              <ul class="products-list-box">
                <% all_products.each do |product| %>
                    <li>
                      <%= render :partial => 'products/show_product', :locals => {:product => product, :promo_id => @current_promo.id} %>
                    </li>
                 <% end %>
              </ul>
            </div>
            <div id="free_products" width="180px">
                <% if @current_promo.offer_type == 'Add Other Product' || @current_promo.offer_type == 'Add Same Product' %>
                     <ul class="products-list-box">
                     <li><%= render :partial => 'products/show_product', :locals => {:product => free_product, :product_type => 'Free', :promo_id => @current_promo.id} %></li>
                     </ul>
                <% end %>
            </div>
         </div>

        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  $('#promo_offer_<%= @current_promo.id %>').addClass('selected_offer');
  promo_taber('offer_products','free_products');
  function promo_taber(active,inactive){
      if(active == "offer_products"){
          $("#"+active).show();
          $("#"+inactive).hide();
          $("#offer_product_tab").addClass('active')
          $("#free_product_tab").removeClass('active')
      }
      else{
          $("#"+active).show();
          $("#"+inactive).hide();
          $("#offer_product_tab").removeClass('active')
          $("#free_product_tab").addClass('active')
      }
  }
</script>

