<p id="notice"><%= notice %></p>

<p>
  <b>Promo type:</b>
  <%= @promo.promo_type %>
</p>

<p>
  <b>Promo title:</b>
  <%= @promo.promo_title %>
</p>

<p>
  <b>Product:</b>
  <%= @promo.product_id %>
</p>

<p>
  <b>Product quantity:</b>
  <%= @promo.product_quantity %>
</p>

<p>
  <b>Product range tag:</b>
  <%= @promo.product_range_id %>
</p>

<p>
  <b>Order value:</b>
  <%= @promo.order_value %>
</p>

<p>
  <b>Valid from:</b>
  <%= @promo.valid_from %>
</p>

<p>
  <b>Valid till:</b>
  <%= @promo.valid_till %>
</p>

<p>
  <b>Order promo limit:</b>
  <%= @promo.order_promo_limit %>
</p>

<p>
  <b>Customer promo limit:</b>
  <%= @promo.customer_promo_limit %>
</p>

<p>
  <b>Offer type:</b>
  <%= @promo.offer_type %>
</p>

<p>
  <b>Discount amount:</b>
  <%= @promo.discount_amount %>
</p>

<p>
  <b>Discount percent:</b>
  <%= @promo.discount_percent %>
</p>

<p>
  <b>Offer product:</b>
  <%= @promo.offer_product_id %>
</p>

<p>
  <b>Offer other product quantity:</b>
  <%= @promo.offer_other_product_quantity %>
</p>

<p>
  <b>Offer same product quantity:</b>
  <%= @promo.offer_same_product_quantity %>
</p>


<%= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
