<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table width="70%">
      <tr>
    <td class="field" >
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, :size => "50", :placeholder => 'name', :class=>"form" %>
  </td>
  <td class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => "50",  :placeholder => 'email', :class=>"form" %>
  </td>
  </tr>

      <tr>
  <td  colspan="2" class="field">
     <%= f.label :comment %><br />
    <%= f.text_area :comment, :size => "100x8",  :placeholder => 'comment', :class=>"form"%>
  </td>
      </tr>
      <tr>
  <td class="field">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobile_number, :placeholder => 'mobile number', :class=>"form" %>
  </td>
      </tr>
      <tr>

  <td class="actions">
    <%= f.submit   "Submit >>" ,:class=>"zl_round_button2",  :onclick =>"$(\"#feedback_error\").html(\"\");" %>
  </td>
      </tr>
    </table>
<% end %>










