<h1 style="color: darkblue">Customer feedback below.</h1>


<% @feedbacks.each do |feedback| %>
    <div class="user_style" align="center" style="width:70%">
      <div style="line-height: 180%;color: #292929" align="left">
        <%= feedback.comment %>
      </div>
      <br/>
      <div align="right">
        <span style="font-size: 12px; color: #808080"> <span> <span style="color:#078DD5;font-size: 14px; ">Posted by <%= feedback.user_name %> </span> &nbsp;&nbsp;&nbsp;<%= feedback.mobile_number %>&nbsp;&nbsp;&nbsp; <%= feedback.email %> </span>&nbsp;&nbsp;&nbsp;<%= get_formatted_date3(feedback.created_at) %></span>
      </div>
    </div>
    <br/><br/>

<% end %>
