<p id="notice"><%= notice %></p>


<h2 style="color: royalblue">Thanks for your valuable feedback. </h2>
<p style="color: transparent">Thanks for taking your time and providing your feedback, we will review it and make corrections as per your suggestions. </p>

