<%= form_for(@bottom_banner) do |f| %>
  <% if @bottom_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bottom_banner.errors.count, "error") %> prohibited this bottom_banner from being saved:</h2>

      <ul>
      <% @bottom_banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
