

<div class="vn_wrapper" style="padding: 10px" >
<h1>Listing bottom Banners</h1>

<table   width="50%" class="text-center" style="text-align: center" border="1">
  <tr class="text-center">
    <th class="text-center" >Url</th>
    <th class="text-center">Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bottom_banners.each do |bottom_banner| %>
  <tr>
    <td><%= bottom_banner.url %></td>
    <td><%= image_tag("/bottom_banner/#{bottom_banner.image}", :width=>'100px',:height=>'65px;') %></td>
    <td><%= link_to 'Show', bottom_banner %></td>
    <td><%= link_to 'Edit', edit_bottom_banner_path(bottom_banner) %></td>
    <td><%= link_to 'Destroy', bottom_banner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bottom banner', new_bottom_banner_path , :class => 'btn btn-primary'%>

</div>