<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @bottom_banner.url %>
</p>

<p>
  <b>Image:</b>
  <%= @bottom_banner.image %>
</p>


<%= link_to 'Edit', edit_bottom_banner_path(@bottom_banner) %> |
<%= link_to 'Back', bottom_banners_path %>
