<%= form_for(@attribute_item) do |f| %>
  <% if @attribute_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attribute_item.errors.count, "error") %> prohibited this attribute_item from being saved:</h2>

      <ul>
      <% @attribute_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :attribute_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
