<h1>Listing attribute_items</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attribute_items.each do |attribute_item| %>
  <tr>
    <td><%= attribute_item.attribute_id %></td>
    <td><%= attribute_item.name %></td>
    <td><%= link_to 'Show', attribute_item %></td>
    <td><%= link_to 'Edit', edit_attribute_item_path(attribute_item) %></td>
    <td><%= link_to 'Destroy', attribute_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute item', new_attribute_item_path %>
