<p id="notice"><%= notice %></p>

<p>
  <b>Attribute:</b>
  <%= @attribute_item.attribute_id %>
</p>

<p>
  <b>Name:</b>
  <%= @attribute_item.name %>
</p>


<%= link_to 'Edit', edit_attribute_item_path(@attribute_item) %> |
<%= link_to 'Back', attribute_items_path %>
