<%= form_for(@product_price_range) do |f| %>
  <% if @product_price_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_price_range.errors.count, "error") %> prohibited this product_price_range from being saved:</h2>

      <ul>
      <% @product_price_range.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_price %><br />
    <%= f.text_field :start_price %>
  </div>
  <div class="field">
    <%= f.label :end_price %><br />
    <%= f.text_field :end_price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
