<h1>Listing product_price_ranges</h1>

<table>
  <tr>
    <th>Start price</th>
    <th>End price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_price_ranges.each do |product_price_range| %>
  <tr>
    <td><%= product_price_range.start_price %></td>
    <td><%= product_price_range.end_price %></td>
    <td><%= product_price_range.description %></td>
    <td><%= link_to 'Show', product_price_range %></td>
    <td><%= link_to 'Edit', edit_product_price_range_path(product_price_range) %></td>
    <td><%= link_to 'Destroy', product_price_range, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product price range', new_product_price_range_path %>
