<p id="notice"><%= notice %></p>

<p>
  <b>Start price:</b>
  <%= @product_price_range.start_price %>
</p>

<p>
  <b>End price:</b>
  <%= @product_price_range.end_price %>
</p>

<p>
  <b>Description:</b>
  <%= @product_price_range.description %>
</p>


<%= link_to 'Edit', edit_product_price_range_path(@product_price_range) %> |
<%= link_to 'Back', product_price_ranges_path %>
