<%= form_for(@scroll_text) do |f| %>
  <% if @scroll_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scroll_text.errors.count, "error") %> prohibited this scroll_text from being saved:</h2>

      <ul>
      <% @scroll_text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
