<h1>Listing scroll_texts</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scroll_texts.each do |scroll_text| %>
  <tr>
    <td><%= scroll_text.description %></td>
    <td><%= link_to 'Show', scroll_text %></td>
    <td><%= link_to 'Edit', edit_scroll_text_path(scroll_text) %></td>
    <td><%= link_to 'Destroy', scroll_text, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scroll text', new_scroll_text_path %>
