<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @scroll_text.description %>
</p>


<%= link_to 'Edit', edit_scroll_text_path(@scroll_text) %> |
<%= link_to 'Back', scroll_texts_path %>
