<%= form_for(@delivery_slot) do |f| %>
    <% if @delivery_slot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@delivery_slot.errors.count, "error") %> prohibited this delivery_slot from being
            saved:</h2>

          <ul>
            <% @delivery_slot.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table width="70%" style="border-radius: 2px">
      <tr>
        <td class="field">
          <%= f.label :start_date_time, :class => "name_colors" %>
          <br/>
          <%= f.datetime_select :start_date_time %>
        </td>
        <td class="field">
          <%= f.label :end_date_time, :class => "name_colors" %>
          <br/>
          <%= f.datetime_select :end_date_time %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :enable, :class => "name_colors" %>
          <%= f.check_box :enable %>
        </td>
      </tr>
      <tr>
        <td class="actions">
          <%= f.submit "Submit >>", :class => "submit_button", :onclick => "$(\"#feedback_error\").html(\"\");" %>
        </td>
      </tr>
    </table>
<% end %>
