<h1 style="color: b">list of delivery_slots</h1>
<% @delivery_slots.each do |delivery_slot| %>
    <div class="user_style" align="center" style="width:70%">
      <div style="line-height: 180%;color: #292929" align="left">
        <ins> start time:-</ins><%= delivery_slot.start_date_time %>
        <br/>
        <td>
          <ins>end time:-</ins><%= delivery_slot.end_date_time %></td>
      </div>
      <br/>
      <div align="right">
        <span style="font-size: 12px; color: #808080"> <span> <span style="color:#078DD5;font-size: 14px; ">enable <td><%= delivery_slot.enable %>
            <td><%= link_to 'Edit', edit_delivery_slot_path(delivery_slot) %></td></span></span></span>
      </div>
    </div>
    <br/><br/>
<% end %>
<%= link_to 'New Delivery slot', new_delivery_slot_path %>
