  <h2>Value Needs Gallery</h2>

  <div class="row" style="padding: 20px;">
    <% @galleries.each do |gallery| %>
        <div class="col-sm-4 text-left" style="padding: 10px;">
          <div style="border-radius: 5px;position: relative;">
            <%= image_tag("/galleries/#{gallery.picture}", :width => '300px', :height => '200px') %></div>
          <div><b><%= gallery.title %></b></div>
          <div><%= gallery.description %></div>
        </div>
    <% end %>
  </div>

  <% if  !current_user.blank? && current_user.admin? %>
      <%= link_to 'New Photo/Video', new_gallery_url %>
  <% end %>
