<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Date:</b>
  <%= @gallery.date %>
</p>

<p>
  <b>Event name:</b>
  <%= @gallery.event_name %>
</p>

<p>
  <b>Picture:</b>
  <%= @gallery.picture %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
