/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper-content {
  /*background: url("main-background.jpg") repeat;*/
  background-color: #ffffff;
  width: 1024px;
  min-height: 850px;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.slide_left_div_style{
  width: 80%;
  float:left;
}
.slide_right_div_style{
  width: 20%;
 // padding:20px ;

}
#prodt_inbasket{
  padding-left: 5%;
}
#prodt_unit_price{
  padding-right: 2%;
}
#prodt_total_price{

}
.product_price1{
  color: #0D06A4;
  font-weight: bold;
}
@media screen and (max-width: 550px) {
  #prodt_inbasket{
    padding-left: 2%;
  }
  #prodt_unit_price{
    padding-right: 5%;
  }
}
.header-content {
  background-color: #2c2c42;
}

.fruits-background {
  /*background: url("background-fruits.png") no-repeat scroll right top;*/
  width: 100%;
  padding-top: 0px;
  margin-top: 0px
}
.show_on_top_style{
  width: 98%;
  height: 155px;
}

.sub-content {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 1px;

}

.inner-content {
  padding: 5px 7px 5px 7px;
}

.main_nav {
  list-style: none outside none;
  margin: 0px 0px 0px 0px;
  padding: 15px 0px 0px 0px;

}

.main_nav li {
  float: right;
  list-style: none outside none;
  padding: 10px 10px;
  position: relative;
  vertical-align: middle;
}

  #contact-us-content-div{
    display: block;
  }

  .desktop_contact_details{
    display: block;
  }
  .mobile_contact_details{
    display: none;
  }

  #about-us-div{
    display: block;
  }

  .desktop_about_us_details{
    display: block;
  }
  .mobile_about_us_details{
    display: none;
  }
  #need-assisstance-div{
    display: block;
  }

  .desktop_assisstance_details{
    display: block;
  }
  .mobile_assisstance_details{
    display: none;
  }
  #customer-service-div{
    display: block;
  }

  .desktop_service_details{
    display: block;
  }
  .mobile_service_details{
    display: none;
  }
@font-face {
  font-family: 'MyriadFont';
  src: url('/fonts/MyriadPro-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("/fonts/ProximaNova-Regular.otf") ;
}

.sub_nav {
  list-style: none outside none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

.sub_nav li {
  float: left;
  list-style: none outside none;
  padding: 10px 0px 7px 0px;
  margin: 2px;
  position: relative;
  vertical-align: middle;
  width: 17%;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.sub_nav li:first-child {
  width: 200px;
}

.sub_nav li:nth-child(2) {
  margin-left: 10px;
}

.highlight_yellow_clr {
  /*background-color: #f4a226;*/
  background-color: #9CD735;
}

.highlight_green_clr {
  background-color: #9CD735;
}

.sub_nav li:nth-last-child(1) {
  width: 61%;
  padding: 3px 0px 3px 0px;
  background-color: #9CD735;
}

.sub_nav li ul li:nth-last-child(1) {
  width: 100%;
  background-color: #ffffff;
}

.sub_nav a {
  font-size: 20px;
  color: #ffffff;
  font-family: 'MyriadFont';
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.clr {
  clear: both;
}

.products-list-box {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.product_item_style {
  font-size: 16px;
  color: #593c07;
  font-weight: 800;
  font-family: 'MyriadFont';
}
.products-list-box li {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 5px 5px;
  width: 188px;
  height: 300px;
}

.product-image-box {
  width: 100%;

}

.product-name {
  font-size: 1em;
  height: 2.4em;
  line-height: 1.2em;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: pre;
  font-weight: bold;
  color: black;
}

.product-price {
  font-family: 'MyriadFont';
  font-size: 16px;
  color: #000000;
}

.product-add-button1 {
  text-align: center;
  background: #9CD735;
  font-size: 14px;
  font-family: 'MyriadFont';
  color: #ffffff;
  float: left;
  padding: 3px 10px 1px 10px;
  border: 1px solid #9CD735;
  text-decoration: none;
  -moz-outline-style: none;
}

.product-add-button1:hover {
  background: #f4a226;
  border: 1px solid #f4a226;
  cursor: pointer;
  -moz-outline-style: none;
}
  .product-add-button {
    text-align: center;
    background: #9CD735;
    font-size: 14px;
    font-family: 'MyriadFont';
    color: #ffffff;
    float: left;
    padding: 3px 0px 1px 0px;
    border: 1px solid #9CD735;
    width: 103px;
    text-decoration: none;
    -moz-outline-style: none;
  }
.cart_size_style{
  background-color:#0D6A14;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 105%;
  margin: 0px 10px;
}

  .product-add-button:hover {
    background: #f4a226;
    border: 1px solid #f4a226;
    cursor: pointer;
    -moz-outline-style: none;
  }

.products-top-banner {
  color: white;
  padding: 7px;
  font-size: 24px;
  font-weight: bold;

}

.categories-banner {
  color: white;
  padding: 7px;
  font-size: 16px;
}

.category_highlight {
  background-color: #f5f3f4;
  padding: 15px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'MyriadFont';
  text-align: center;
}

.category_highlight a {
  color: #E46352;
  text-decoration: none;
}

.sub_category_highlight {
  text-align: left;
  font-size: 16px;
  font-family: 'MyriadFont';
  padding: 3px 0px 3px 35px;
}
.img_hart{
  padding-left: 10px;
}

.sub_category_highlight a {
  color: #808080;
  text-decoration: none;
}

.hr_tag_border {
  text-align: center;
  width: 80%;
  border-top: 1px solid #e3e2e0;
}

.sub_heading {
  padding: 10px 0px 10px 0px;
  color: #4f4d4a;
  font-family: 'MyriadFont0';
  font-size: 18px;
}

.filter_check_box {
  color: #808080;
  font-family: 'MyriadFont0';
}

.search-box {
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
}

#auto_text {
  width: 90%;
  float: left;
  background: #E7E7E9;
  padding: 12px 9px;
  margin: 0;
  color: #7B7372;
  font: 400 14px 'Lato', sans-serif;
  font-weight: bolder;
  border: 0px;
  border-radius: 5px;
}

#auto_text::-webkit-input-placeholder {
  text-align: center;
  color: #7B7372;
}

#auto_text:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: #7B7372;
}

#auto_text::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: #7B7372;
}

#auto_text:-ms-input-placeholder {
  text-align: center;
  color: #7B7372;
}

.image_submit_tag {

}

.create_button_style {
  background-color: #fadc7a;
  padding: 10px;
  border-radius: 3px;
  margin-right: 30px;
  margin-top: 5px;
}

.search_submit_tag {
  float: left;
  width: 60px;
  text-align: center;
  cursor: pointer;
  color: white;
  border: 0px;
  font-weight: bold;
  margin-left: -5px;
}

.red_to_yellow {
  background: -webkit-linear-gradient(left, #FD0C15, #FFEE42); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FD0C15, #FFEE42); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FD0C15, #FFEE42); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FD0C15, #FFEE42); /* Standard syntax */
}

.combo {
  background-color: #ffffff;
  font-family: 'MyriadFont';
  border-radius: 5px;
}

/*** validation focus ****/
input:focus:invalid {
  border-color: hsl(0, 50%, 50%);
  background: hsl(0, 50%, 90%);
}

/* end */

.slider-bar-position {
  position: absolute;
  top: 0px;
}

/*@media (max-width: 1350px) {
    .sub_nav li:nth-last-child(1){
        width: 60%;
    }
}

@media (max-width: 1175px) {
    .sub_nav li:nth-last-child(1){
        width: 55%;
    }
}

@media (max-width: 975px) {
    .sub_nav li:nth-last-child(1){
        width: 50%;
    }
    #auto_text{
        width: 85%;
    }
}*/

/*@media (max-width: 1250px) {
    .wrapper-content{
        width: 100%;
        min-height: 850px;
        margin: 0px;
        padding: 0px;
    }
}*/

/*@media (max-width: 850px) {

.sub_nav{
    list-style: none outside none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}
.sub_nav li{
    float: none;
    list-style: none outside none;
    padding: 13px 0px 10px 0px;
    margin: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.sub_nav li:nth-last-child(1){
    width: 100%;
    padding: 6px 0px 6px 0px;
    background-color: #f4a226;
}

.sub_nav li ul li:nth-last-child(1){
    width: 100%;
    background-color: #ffffff;
}

    .slider-bar-position{
        top: 0px;
    }


}*/
/*div[class="pattern"] {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
}
div[class="pattern"] img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -300px;
}*/

#top_fade_pop_up {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0px;
  background-color: #f4a226;
  color: #ffffff;
  font-size: 20px;
  font-family: 'MyriadFont';
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 9999;
}

.category-image-box {
  width: 30%;
  border: 1px solid #E0dcdc;
}

.category-list-box {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.category-list-box li {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 22px 22px;
  width: 150px;
  height: 180px;

}

.category-list-box li a {
  text-decoration: none;
}

.contact_us_details {
  float: left;
  margin-left: 5%;
  font-size: 16px;
  text-decoration: none;

}

.contact_us_details a {
  text-decoration: none;
  color: #ffffff;
}

.request_product {
  border: 1px solid #9CD735;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 25px;
}

.footer_style {
  font-size: 16px;
  font-family: "MyriadFont";
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;

  text-decoration: none;

}

.footer_style a {
  text-decoration: none;
  color: #000000;

}

.footer_style1 {
  font-size: 16px;
  font-family: "MyriadFont";
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

}

.footer_style1 a {
  text-decoration: none;
  color: #000000;

}

.border_style {
  border-bottom: 1px solid #000000;
  padding-top: 20px;
  width: 100%;
}

.table_styles {
  color: #000000;
  padding-top: 10px;
  font-size: 16px;
  font-family: "MyriadFont";

}

.table_styles a {
  text-decoration: none;
  color: #000000;
}

.table_styles1 {
  color: #000000;
  font-family: "MyriadFont";
  padding-top: 10px;
  font-weight: bold;
}

.table_styles1 a {
  text-decoration: none;
  color: #000000;
}

.request_product_text_tag {
  border: 1px solid #9CD735;
}

.request_product_submit_tag {
  background-color: #9CD735;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

.site_map-list-box {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site_map-list-box a {
  text-decoration: none;
}

.table_format {

  width: 100%;
  border: 1px solid #808080;
  padding-top: 0px;
}

.popupHeader {
  font-size: 16px;
  font-family: 'Open Sans'
}

.popupHeader {
  color: #2c2c42;
  background-color: #f4a226;
  position: relative;
  padding: 10px 10px;
  font-weight: bold;
  text-align: left;
}

.modal_close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: none;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.popupContainer {
  position: absolute;
  min-width: 500px;
  height: auto;
  padding: 5px;
  background-color: #ffffff;
  text-align: center;
  border: 8px solid #797979;
  color: #2c2c42;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  display: none;
}

.select_box {
  background: #ffffff;
  color: #414141;
  border: 1px solid #808080;
  overflow: hidden;
  font-size: 14px;
  width: 250px;
  font-family: "Raleway Medium";
  padding: 8px 25px 8px 12px;
}

#pop_up_cart {
  width: 650px;
  min-height: 100px;
  max-height: 450px;
  background-color: #ffffff;
  position: absolute;
  border: 1px solid green;
  right: 0px;
  overflow-y: scroll;
  z-index: 9999;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.product-div {

}

.title_div {
  background-color: #54A833;
  box-shadow: 1px 1px 1px #888888;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  display: none;

}

.content_div {
  padding-right: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-bottom: 10px;
}

.volume_style {
  color: #FF1401;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  font-family: 'MyriadFont';
}

.description_style {
  background-color: #E5E7E9;
  color: #000000;
  shadow: 1px 1px 1px #888888;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}

.categories_bottom_div {
  display: none;
}

.category_box_shadow_style {
  box-shadow: 2px 2px 2px 2px #888888;
  margin-top: 2px;
  margin: 0px;
  background-color: #FDFBF5;
  padding: 10px;
}

.category_title_style {
  font-size: 18px;
  color: #000000;
}

.product-div {
  padding: 5px;
}

.personal_details_div_sty {
  margin: 0px;
  font-weight: bold;
}

.product_slider_style {
  cursor: move;
  width: 100%;
  height: 320px;
  left: 0px;
  overflow: hidden;
  margin-right: 10px;
}

.slider_container_style {
  height: 320px;
  text-align: left;
}
.layout_top_for_mobile {
  display: none;
}
  @media (min-width: 651px) {
    #contact-us-content-div{
      display: block;
    }
    #about-us-div{
      display: block;
    }
    #need-assisstance-div{
      display: block;
    }
    #customer-service-div{
      display: block;
    }
  }

@media screen and (min-width: 451px) and (max-width: 770px) {
  .slide_right_div_style{
    width: 30%;
    float: right;
  }
  .show_on_top_style{
    margin-top: 8px;
    width: 98%;
    height: 140px;
  }
  .slide_left_div_style{
    width: 70%;
  }

}

  @media (max-width: 650px) {
    .layout_top_for_desktop {
      display: none;
    }

    .layout_top_for_mobile {
      display: block;
    }
    #contact-us-content-div{
      display: none;
    }
    .desktop_contact_details{
      display: none;
    }
    .mobile_contact_details{
      display: block;
    }
    #about-us-div{
      display: none;
    }

    .desktop_about_us_details{
      display: none;
    }
    .mobile_about_us_details{
      display: block;
    }
    #need-assisstance-div{
      display: none;
    }

    .desktop_assisstance_details{
      display: none;
    }
    .mobile_assisstance_details{
      display: block;
    }
    #customer-service-div{
      display: none;
    }

    .desktop_service_details{
      display: none;
    }
    .mobile_service_details{
      display: block;
    }

  }

@media (max-width: 650px) {
  #auto_text {
    width: 85%;
  }
  .right_side_inner_div{
    width: 40%;
  }
  .search_submit_tag {
    width: 40px;
    height: 40px;
  }
  .top_categories_div {
    display: none;
  }
  .categories_bottom_div {
    display: block;
  }
  .products-top-banner{
    display: block;
  }
  .category_title_style {
    font-size: 14px;
  }
  .product-add-button {
    text-align: center;
    background: #9CD735;
    font-size: 10px;
    font-family: 'MyriadFont';
    color: #ffffff;
    float: left;
    padding: 0px 0px 0px 0px;
    border: 1px solid #9CD735;
    width: 70px;
    text-decoration: none;
    -moz-outline-style: none;
  }
  .left_menu {
    display: none;
  }
  .product_price{
    color: #0D06A4;
    font-weight: bold;

  }
  .featured_category {
    display: none;
  }

  .product_left_menu_navigation {
    display: none;
  }
  .personal_details_div_sty {
    background: -webkit-linear-gradient(left, #FD0C15, #FFEE42); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FD0C15, #FFEE42); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FD0C15, #FFEE42); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FD0C15, #FFEE42); /* Standard syntax */
    width: 100%;
    font-size: 18px;
    padding: 5px;
    color: #ffffff;
  }
  .product_slider_style {
    height: 220px;
  }
  .slide_left_div_style{
    width: 100%;
    height: 220px;
    padding-left: 0px;

  }
  .slide_right_div_style{
    width: 100%;
    height: 155px;
    padding-left: 0px;
    float: left;
  }
  .right_side_inner_div{
   float: left;
  }
  .featured_category_1{
    margin-left: 25%;
  }
  .right_side_inner_div{
    padding-right: 100%;
    margin-right: 15px;
  }

  .to_align_bottom{
    padding-right:15px ;
    padding-left: 15px;
    object-fit: cover;
  }
  .bottom_images_div {
    display: none;
  }
  .icon-decrease-qty-search-popup{
    background-position: 0 -567px;

  }

  .slide_left_div_style{
    width: 100%;
  }
  .product-name {
    font-size: 10px;
    height: 2.4em;
    line-height: 1.2em;
    overflow-y: hidden;
    word-wrap: break-word;
    white-space: pre;
    font-weight: bold;
    color: black;
  }
  .volume_style{
    font-size: 10px;
    padding: 0px;
  }

  .Wish_List_style{
   margin-left: 0px;
    width: 15px;
  }
  .incremented_basket{
    background-color: #f4a226;
    padding: 0px 3px 0px 3px;
    width: 15px;

  }
  .img_hart{
    padding-left: 2px;
  }

}

.sign_in_page_header {
  padding: 10px;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: bold;
  color: #007C26
}

.text_field_style {
  background-color: #ffffff;
  color: #a0876b;
  max-width: 400px;
  min-width: 330px;
  padding: 5px 10px;
  font-family: Arial;
  box-shadow: 2px 2px 2px #000000;
}

.login_button_style {
  background-color: #05A811;
  color: #ffffff;
  padding: 5px 10px;
  min-height: 10px;
  min-width: 10%;
  font-weight: bold;
  margin-left: 15px;
  font-size: 18px;
  font-family: Arial;
  border: 1px solid #000000;
}

.signup_button_style {
  background-color: #BE7608;
  color: #ffffff;
  padding: 10px;
  min-height: 10px;
  max-width: 330px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  box-shadow: 2px 2px 2px #000000;
}

.google_button_style {
  background-color: #F81010;
  color: #ffffff;
  padding: 5px 10px;
  max-width: 330px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-family: Arial;
  box-shadow: 2px 2px 2px #000000;
}

.facebook_button_style {
  background-color: #5379CE;
  color: #ffffff;
  padding: 5px 10px;
  min-height: 10px;
  margin: 10px;
  text-decoration: none;
  max-width: 330px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  font-family: Arial;
  box-shadow: 2px 2px 2px #000000;
}

@media (max-width: 350px) {
  #auto_text {
    width: 90%;
  }
  .text_field_style {
    min-width: 250px;
  }
  .search_submit_tag {
    width: 30px;
    height: 40px;
  }
  .content_div {
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 1px #888888;
    margin-bottom: 10px;
  }

}

@media (min-width: 451px) {
  .top_categories_div {
    display: block;
  }
  .text_field_style {
    min-width: 250px;
  }
  .left_menu {
    display: block;
  }
  .categories_bottom_div {
    display: none;
  }

  .featured_category {
    display: block;
  }
  .product_left_menu_navigation {
    display: block;
  }

  .bottom_images_div {
    display: block;
  }

}

.error_style {
  color: red;
  font-size: 18px;
}

.galleries_ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.galleries_ul li {
  list-style: none outside none;
  display: inline-block;
  margin: 0;
  padding: 15px 25px 15px 0px;
}

.content-slider li {
  text-align: center;
  color: #FFF;
}

.demo {
  width: 100%;
}

.cart_items {
  width: 100%;
  cellspacing: 10px;
  cellpading: 2px;
  background-color: #ffffff;
}

.item_width {
  width: 100%;
}

.item_width1 {
  font-size: 16px;
  font-family: 'MyriadFont';
  width:35%;
  padding:5px 10px;
}

.item_width2 {
  font-size: 16px;
  font-family: 'MyriadFont';
  width:20%;
  text-align: center;
  padding: 5px 0px;
}
#item_width_up{
  font-size: 16px;
  font-family: 'MyriadFont';
  width:10%;
  text-align: center;
  padding: 5px 0px;
}

.item_width3 {
  font-size: 16px;
  font-family: 'MyriadFont';
  width:10%;
  text-align: center;
  padding: 5px 0px;
}

.cart_item_width {
  width: 100%
}

.total_items {
  width: 60%;
  margin: 10px;
  border: 1px solid #ffffff;
  background-color: #faddad;
  border-radius: 5px;
}

.bottom_items {
  width: 100%
}



.image_styles {
  height: 35px;
  width: 35px;
}

.product_price_styles {
  font-size: 14px;
  font-family: MyriadFont;
  color: black;
}

.price_style {
  font-size: 10px;
}
.incremented_basket{
  background-color: #f4a226;
  padding: 0px 10px 0px 10px;
}
.product_button{
  width : 17px;
}
.product_price{
  color: #0D06A4;
  font-weight: bold;

}.custom_button{
  font-size:10px;
  background:#f4a226;
  background: #f4a226;
  border-radius: 5px;
  padding: 7px 15px;
  box-shadow: 3px 2px 5px #ccc;
  text-decoration: none;
  color: #ffffff;
}
.custom_button1{
  font-size:10px;
  background:#f4a226;
  background: #f4a226;
  border-radius: 5px;
  padding: 7px 15px;
  box-shadow: 3px 2px 5px #ccc;
  text-decoration: none;
  color: #ffffff;
}
.total_style{
  font-size:25px;
  font-family:MyriadFont;
  padding: 5px;
}
.your_cart_style {
  font-family: 'MyriadFont';
  font-size: 40px;
  margin: 10px;
}
@media (max-width: 450px) {
  .cart_items {
    width: 450px;
    cellspacing: 10px;
    cellpading: 2px;
    background-color: #ffffff;
  }
  .item_width {
    width: 450px;
  }
  .cart_item_width {
    width: 450px;
  }
  .total_items {
    width: 250px;
    margin: 10px;
    border: 1px solid #ffffff;
    background-color: #faddad;
    border-radius: 5px;
  }
  .bottom_items {
    width: 450px;
  }
  .product_item_style {
    font-size: 10px;
    color: #593c07;
    font-weight: 800;
    font-family: 'MyriadFont';
  }
  .image_styles {
    height: 20px;
    width: 20px;
  }
  .product_price{
    color: #0D06A4;
    font-weight: bold;

  }
  .product_price_styles {
    font-size: 10px;
    font-family: MyriadFont;
    color: black;
  }
  .price_style {
    font-size: 6px;
  }
  .item_width1 {
    font-size: 10px;
    font-family: 'MyriadFont';
    width:135px;
  }
  .item_width2 {
    font-size: 10px;
    font-family: 'MyriadFont';
    width:90px;
    text-align: center;
  }
  #item_width_up{
    font-size: 10px;
    font-family: 'MyriadFont';
    width:90px;
    text-align: center;
  }
  .item_width3 {
    font-size: 10px;
    font-family: 'MyriadFont';
    width:45px;
    text-align: center;
  }
  .product_button{
    width : 10px;
  }
  .product_price1{
    color: #0D06A4;
    font-weight: bold;
    font-size: 10px;
  }
  .total_style{
    font-size:18px;
    font-family:MyriadFont;
    padding: 5px;
  }
  .summary_style{
    width: 100%;
  }
  .your_cart_style {
    font-family: 'MyriadFont';
    font-size: 30px;
  }
  .cart_size_style {
    background-color: #0D6A14;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 105%;
    margin: 0px 10px;
  }
  .incremented_basket{
    background-color: #f4a226;
    padding: 0px 10px 0px 10px;
  }
  .product-add-button1 {
    text-align: center;
    background: #9CD735;
    font-size: 10px;
    font-family: 'MyriadFont';
    color: #ffffff;
    float: left;
    padding: 1px 0px 1px 0px;
    border: 1px solid #9CD735;
    width: 30px;
    text-decoration: none;
    -moz-outline-style: none;
    margin-left: 5px;
  }
  .personal_details_div_sty {
    background: -webkit-linear-gradient(left, #FD0C15, #FFEE42); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FD0C15, #FFEE42); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FD0C15, #FFEE42); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FD0C15, #FFEE42); /* Standard syntax */
    width: 100%;
    font-size: 15px;
    padding: 5px;
    color: #ffffff;
  }
  .products-top-banner {
    color: white;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;

  }
}

@media (max-width: 330px) {
  .cart_items {
    width: 330px;
    cellspacing: 10px;
    cellpading: 2px;
    background-color: #ffffff;
  }
  .item_width {
    width: 330px;
  }
  .cart_item_width {
    width: 330px;
  }
  .total_items {
    width: 198px;
    margin: 10px;
    border: 1px solid #ffffff;
    background-color: #faddad;
    border-radius: 5px;
  }
  .bottom_items {
    width: 330px;
  }
  .product_item_style {
    font-size: 8px;
    color: #593c07;
    font-weight: 800;
    font-family: 'MyriadFont';
  }
  .image_styles {
    height: 20px;
    width: 20px;
  }
  .product_price_styles {
    font-size: 8px;
    font-family: MyriadFont;
    color: black;
  }
  .price_style {
    font-size: 6px;
  }
  .item_width1 {
    font-size: 8px;
    font-family: 'MyriadFont';
    width:99px;
  }
  .item_width2 {
    font-size: 8px;
    font-family: 'MyriadFont';
    width:66px;
    text-align: center;
  }
  #item_width_up {
    font-size: 8px;
    font-family: 'MyriadFont';
    width:66px;
    text-align: center;
  }
  .item_width3 {
    font-size: 8px;
    font-family: 'MyriadFont';
    width:33px;
    text-align: center;
  }
  .product_button{
    width : 10px;
  }
  .product_price1{
    color: #0D06A4;
    font-weight: bold;
    font-size: 8px;

  }
  .total_style{
    font-size:14px;
    font-family:MyriadFont;
    padding: 5px;
  }
  .your_cart_style {
    font-family: 'MyriadFont';
    font-size: 20px;
  }
  .product-add-button {
    text-align: center;
    background: #9CD735;
    font-size: 10px;
    font-family: 'MyriadFont';
    color: #ffffff;
    float: left;
    padding: 1px 0px 1px 0px;
    border: 1px solid #9CD735;
    width: 70px;
    text-decoration: none;
    -moz-outline-style: none;
  }
}
.proceed_button{
  font-size:22px;
  background-color: #84c225;
  border-radius: 5px;
  padding: 7px 15px;
  box-shadow: 3px 2px 5px #ccc;
  color: #ffffff;
  text-decoration: none;
}
.proceed_button:hover {
  background-color: #84c225;
  color: #ffffff;
}
.proceed_button:visited {
  background-color: #84c225;
  color: #ffffff;
}
.pay_with_wallet{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.vn_wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.recipes_header{
  font-family: 'proxima-nova';
  font-size: 40px;
  font-weight: normal;
  text-transform: capitalize;
}
.recipes_sub_header{
  font-family: 'proxima-nova';font-weight: bold;font-size: 24px;margin-bottom: 10px; text-transform: capitalize;
}
.recipe_text_style{
  font-weight: normal;font-family: 'proxima-nova';font-size: 20px;
  line-height: 28px
}
.proceed_button1{
  font-size:16px;
  color: white;
  font-family: 'proxima-nova';
  background-color: #f47419;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;

}
.proceed_button1:hover{
  color: white;
  text-decoration: none;
}
.proceed_button1:visited{
  color: white;
  text-decoration: none;
}
.text_field_style1 {
  font-family: Arial;
  box-shadow: 1px 1px 1px #000000;
  background-color: #ffffff;
  color: #a0876b;
  max-width: 250px;
  border: 2px solid #98999b;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 25px;
}
.recipe_head{
  font-family: 'proxima-nova';font-size: 18px;text-transform: capitalize;color: #221e1f;
}
.recipe_head:hover{
  color: #f47419;
}
.recipe_head:visited{
  color: #f47419;
}

@media (max-width: 1026px) {
  .pay_with_wallet{
    font-size: 15px;
  }
}

.apply_submit_tag {
  background-color: #9CD735;
  padding: 7px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
