// Place all the styles related to the DeliverySlots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.submit_button {
  padding: 3px 8px;
  border: 1px solid #078DD5;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #078DD5;
  font: bold normal 16px 'Open Sans';
  color: white;
  text-decoration: none;
}

.name_colors{
color:darkblue;
font-size: 18px;
font-weight: bold;

}