// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  border: 1px solid #f1e08e;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
}
.borders{
  border: 2px solid #f1e08e;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;

}
.zl_round_button2 {
  padding: 3px 8px;
  border: 1px solid #078DD5;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #078DD5;
  font: bold normal 16px 'Open Sans';
  color: white;
  text-decoration: none;
}

.user_style{
  border: 1px solid #078DD5;
  padding: 20px 10px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
}


