// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_headings{
  color: #ffffff;
  background-color: #20B2AA;;
  text-align: center;
  padding: 10px 5px 10px 5px;
  margin: 0px;
}

.product_edit_content{
  margin-left: 30px;
}


.uiv2-rate-count-btn{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  float: left;
  height: 21px;
  margin-right: 15%;
  overflow: hidden;
}
.out_of_stock_style{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  float: left;
  height: 21px;
  margin-right: 15%;
  overflow: hidden;
}
.uiv2-qty-label{
  float: left;
  width: 24px;
  color: #999;
  font: 400 12px/16px 'Lato',sans-serif;
  height: 21px;
  padding: 2px;
}
.quantity_tag{
  border: none;
  height: 18px;
  max-width: 25px;
  outline: 0;
}

.uiv2-add-button {
  text-align: left;
  background: #fee67c;
  background: -moz-linear-gradient(top,#fee67c 0,#f2cb76 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0%,#fee67c),color-stop(100%,#f2cb76));
  background: -webkit-linear-gradient(top,#fee67c 0,#f2cb76 100%);
  background: -o-linear-gradient(top,#fee67c 0,#f2cb76 100%);
  background: -ms-linear-gradient(top,#fee67c 0,#f2cb76 100%);
  background: linear-gradient(to bottom,#fee67c 0,#f2cb76 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee67c',endColorstr='#f2cb76',GradientType=0);
  font: 400 13px/14px 'Roboto Slab',serif;
  color: #000000;
  float: left;
  padding: 3px 8px 5px 10px;
  border: 1px solid #f1e08e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 103px;
  text-decoration: none;
  text-transform: uppercase;
  background: url("main_sprite.png") no-repeat scroll left top #fee67c;
  background-position: 42px -308px;
}
.uiv2-add-button:hover{
  background-color: #f9f295;
  background: -moz-linear-gradient(top,#f9f295 0,#f9f295 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0%,#f9f295),color-stop(100%,#f9f295));
  background: -webkit-linear-gradient(top,#f9f295 0,#f9f295 100%);
  background: -o-linear-gradient(top,#f9f295 0,#f9f295 100%);
  background: -ms-linear-gradient(top,#f9f295 0,#f9f295 100%);
  background: linear-gradient(to bottom,#f9f295 0,#f9f295 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f295',endColorstr='#f9f295',GradientType=0);
  color: #000000;
  background: url("main_sprite.png") no-repeat scroll left top #f9f295;
  background-position: 42px -308px;
  cursor: pointer;
}

.icon-basket-gray {
  background: url("main_sprite.png") no-repeat scroll left top rgba(0,0,0,0);
  background-position: 0 -311px;
  height: 13px;
  width: 16px;
  float: right;
}

.button_style{
  font-size:13px;color:#000000;
  text-decoration:none;padding:2px;
  font-family: 'MyriadFont';
}

.uiv2-already-rate-count-btn {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  float: left;
  height: 21px;
  margin-right: 3px;
  overflow: hidden;
}
.uiv2-already-rate-count-btn button {
  background: linear-gradient(to bottom,#fff 0,#eaeaea 99%) repeat scroll 0 0 rgba(0,0,0,0);
  border: 0 none;
  color: #989898;
  cursor: pointer;
  float: left;
  font: 600 14px 'Roboto Slab',serif;
  height: 21px;
  width: 17px;
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#eaeaea));
  background-image: -webkit-linear-gradient(top,#fff,#eaeaea);
  background-image: -moz-linear-gradient(top,#fff,#eaeaea);
  background-image: -ms-linear-gradient(top,#fff,#eaeaea);
  background-image: -o-linear-gradient(top,#fff,#eaeaea);
}
.icon-decrease-qty-search-popup {
  background-position: 0 -567px;
  height: 21px;
  width: 17px;
}

.incremented_basket{
  background-color: #f4a226;

}

.path_categories{
  text-decoration: none;
  color: white;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
}
.path_categories:hover{
  color: white;
  text-decoration: none;
}
.category_list{
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}
.sub_category_list{
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.combo{
  border: 1px solid #6D74C7;
  border-radius: 2px;
  font: normal 16px 'Open Sans';
  line-height: 15px;
  min-width: 120px;
}
.sorting_combo{
  border: 1px solid #808080;
  border-radius: 1px;
  font: normal 12px 'Open Sans';
  line-height: 160%;
  min-width: 100px;
}



/*********** nav categories ******/

.uiv2-left-navigation {
  width: 200px;
  text-align: center;
}

.uiv2-nav {
  position: relative;
  color: #ffffff;
  background-color: #f4a226;
  /*box-shadow: 0 5px 5px #ccc;*/
  /* padding: 15px 0px 10px 0px;*/
  font-family: 'MyriadFont';
  text-transform: uppercase;
  font-size: 20px;
  z-index: 1;
}




/***************** login screen *****/

.uiv2-padding-vertical-60 {
  padding: 10px 0;
}
.uiv2-login-block {
  width: 100%;
  z-index: 1;
  overflow: auto;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 0 auto;
}

.uiv2-login-block .uiv2-login-block-left {
  float: left;
  padding-right: 15px;
  width: 40%;
}

.uiv2-login-block .uiv2-login-block-right {
  float: left;
  border-left: 1px solid #eaeaea;
  padding-left: 20px;
}

a.facebook-center {
  float: left;
  width: 113px;
  height: 31px;
  background: url("fc_button.png") no-repeat left top;
  margin: 16px 0 10px 40px;
  padding: 0;
}

a.google-center {
  background: url("gplus.png") no-repeat scroll left top rgba(0,0,0,0);
  float: left;
  height: 31px;
  padding: 0;
  margin-top: 16px;
  width: 90px;
}



/************** address details *******************/

.uiv2-popup {
  background: #f6f6f6;
  padding: 44px;
  border-radius: 7px;
  z-index: 100002;
  border: 1px solid #585555;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  left: 50%;
}

.uiv2-popup-wrapper {
  border: 1px solid #ccc;
  padding: 30px;
  margin-top: 30px;
  background: #fff;
}

.uiv2-form .uiv2-form-field {
  padding: 0;
  margin-top: 5px;
}
.uiv2-mar-t-15 {
  margin-top: 15px;
}
.uiv2-div100 {
  width: 100%;
  float: left;
}
.uiv2-div40 {
  float: left;
  width: 40%;
}
.uiv2-div60 {
  float: left;
  width: 60%;
}
.uiv2-details-label {
  color: #58595b;
  display: block;
  float: right;
  font: 400 15px/30px lato,sans-serif;
  text-align: left;
  margin: 0;
  padding: 0 25px 10px 0;
}
.uiv2-button-default {
  background: #fee77c;
  background: linear-gradient(to bottom,#fee77c 0,#f2ca76 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEE77C',endColorstr='#F2CA76',GradientType=0);
  border-radius: 5px;
  float: right;
  margin: 23px 8px 0 0;
  padding: 13px 27px;
  box-shadow: 3px 2px 5px #ccc;
}



/*******  checkout page *************/

.checkout-container{
  width: 970px;
  background-color: transparent;
  margin: 0 auto;
  padding: 5px 10px;
  background: #eaeaea;
  line-height: 180%;
}

.address_button{
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  margin-right:15px;
  float: right;
  border: 1px solid #e0e0e0;
  box-shadow: 3px 2px 5px #ccc;
}

.unselect_address_box{
  border: 2px solid #808080;padding: 10px 10px 10px 15px;min-width: 150px;
  background-color: #FFF;cursor: pointer;
}
.select_address_box{
  border: 2px solid green;padding: 10px 10px 10px 15px;min-width: 150px;
  background-color: #E2e4b2;cursor: pointer;
}
.un_select_text{
  margin-top: 5px;
  text-align: center;
  line-height: 180%;
  border-top: 2px solid #ffffff;
  color: #ffffff;
}
.select_text{
  margin-top: 5px;
  text-align: center;
  border-top: 2px solid #ccc;
  line-height: 180%;
  color: green;
}
.uiv2-checkout-button {
  background: linear-gradient(to bottom,#fee77c 0,#f2ca76 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEE77C',endColorstr='#F2CA76',GradientType=0);
  border-radius: 5px;
  float: right;
  box-shadow: 3px 2px 5px #ccc;
  margin: 23px 8px 0 0;
  padding: 13px 21px;
  cursor: pointer;
}

.notify-me-button {
  background: linear-gradient(to bottom,#fee77c 0,#f2ca76 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEE77C',endColorstr='#F2CA76',GradientType=0);
  border-radius: 5px;
  float: left;
  box-shadow: 3px 2px 5px #ccc;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
  font-size: 10px;
}
.uiv2-order-summary {
  border: 2px solid #ccc;
  width: 240px;
  float: right;
  padding: 0;
  font-family: "Roboto Slab",sans-serif;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  color: #6d6e71;
}
.uiv2-order-summary-title {
  font-size: 16px;
  color: #333;
  height: 35px;
  padding: 15px 0 0 12px;
  border-bottom: 1px solid #d1d3d4;
  background: #eaeaea;
}
.uiv2-sub-total {
  width: 90%;
  display: block;
  padding: 7px 0 10px 0;
  margin: 5px 0 0 10px;
}

.uiv2-total-amount {
  width: 90%;
  display: block;
  padding: 0 0 25px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #58595b;
  margin: 10px 10px 9px 7px;
  border-bottom: 1px solid #939598;
}
.uiv2-amount-to-Pay-total {
  width: 90%;
  display: block;
  padding: 0 20px 25px 8px;
  margin: 10px 0 9px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
.form{
  border: 1px solid royalblue;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
}
.custom_button{
  font-size:18px;
  background:#f4a226;
  background: #f4a226;
  border-radius: 5px;
  padding: 7px 15px;
  margin-left: 5%;
  box-shadow: 3px 2px 5px #ccc;
  text-decoration: none;
  color: #ffffff;
}
.custom_button1{
  font-size:18px;
  background:#f4a226;
  background: #f4a226;
  border-radius: 5px;
  padding: 7px 15px;
  box-shadow: 3px 2px 5px #ccc;
  text-decoration: none;
  margin-left: 60%;
  color: #ffffff;
}
.submit_button{
  padding: 3px 8px;
  border: 1px solid #078DD5;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #078DD5;
  font: bold normal 16px 'Open Sans';
  color: white;
  text-decoration: none;
}



.img-view-basket-promo-arrows {
  background: url("main_sprite.png") no-repeat scroll left top rgba(0,0,0,0);
  background-position: -225px -150px;
  width: auto;
}

.uiv2-grid-offer-applied {
  margin-top: 5px;
}
.icon-promo-green-small {
  margin-left: 10px;
  background: url("promo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  padding-top: 3px;
}

.uiv2-unit-price_Rate {
  font: 400 10px/12px Lato,sans-serif;
  font-size: 14px;
  color: #888;
  display: block;
  text-decoration: line-through;
}

.uiv2-combo-block {
  box-shadow: 0 2px 7px #ddd;
  margin: 0;
  width: 100%;
  height: 25px;
  background: #fff;
  position: absolute;
  z-index: 1;
  width: 188px;
}

.uiv2-combo-block a.uiv2-combo-orange {
  background: none repeat scroll 0 0 #f9a544;
  text-decoration: none;
  color: #fff;
  float: left;
  font: 700 10px/25px 'Lato',sans-serif;
  padding: 0 5px;
}

.uiv2-save-additional-block {
  padding: 0px;
  width: 150px;
  float: left;
  margin: 8px 0 0 0;
}
.promo_title{
  color: orangered;
}

/* auto search styles */

.uiv2-search {
  margin: 30px 0 0 0;
  float: left;
  width: 617px;
  height: 60px;
}
.uiv2-search input[type=submit] {
  width: 89px;
  float: left;
  /*background-color: #8fb242;*/
  background: url("header_sprite.png") no-repeat #8fb242;
  background-position: -176px -71px;
  padding: 4px 0 8px 13px;
  margin: 0;
  color: #fff;
  font: 300 14px 'Lato',sans-serif;
  border: 1px solid #bebcbd;
  box-shadow: 1px 6px 10px #ccc;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: left;
  cursor: pointer;
}

.uiv2-search input[type=text] {
  width: 498px;
  float: left;
  background: #fff;
  padding: 4px 9px 8px 9px;
  margin: 0;
  color: #b2b2b2;
  font: 400 14px 'Lato',sans-serif;
  border: 1px solid #bebcbd;
  border-right: 0;
  box-shadow: 1px 6px 10px #ccc;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#auto-text-content{
  top: 100%;
  left: 25px;
  z-index: 9999;
  position: absolute;
}

.uiv2-product-search-list-wrap {
  background-color: #ffffff;
  width: 538px;
  max-height: 250px;
  padding: 0;
  margin: 0;
  float: left;
  border-right: 1px solid #f4a226;
  border-top: 1px solid #f4a226;
  position: relative;
  border-left: 1px solid #f4a226;
  border-bottom: 1px solid #f4a226;
  box-shadow: 6px 4px 7px -5px rgba(0,0,0,0.3);
  overflow-y: scroll;
  overflow-x: hidden;
}


.uiv2-search-product-list{
  list-style: none;
  margin: 0 0 0 0px;
  padding: 0;
  width: 100%;
  float: left;
}

.uiv2-no-result-found {
  width: 100%;
  text-align: left;
  float: left;
  background: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  box-shadow: inset -3px 3px 10px rgba(2,2,2,0.2);
}

.uiv2-no-result-found p {
  font-size: 14px;
  font-family: 'MyriadFont';
  color: #5f9c2b;
  height: 38px;
  margin: 0;
  padding: 6px 10px 1px 8px;
}

.uiv2-search-product-list li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.uiv2-img-product-search {
  width: 42px;
  float: left;
  margin-left: 5px;
}

.uiv2-img-product-name {
  margin-left: 15px;
  text-align: left;
  width: 150px;
  float: left;
  padding-left: 2px;
  padding-top: 3px;
  height: 31px;
  font-family: 'MyriadFont';
}
.uiv2-product-cost {
  width:30px;
  float: left;
}
.uiv2-product-form{
  margin-left: 20px;
  width: 250px;
  float: left;
}


/***  main screen drop down categories list *****/
#primary_nav_wrap
{
  margin-top:0px
}
#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
  width: 200px;
  /*box-shadow: 0 4px 5px #2c2c4c;*/
}


#primary_nav_wrap ul li
{
  position:relative;
  margin:0;
  padding:0;
  padding-left: 10px;
  border: 1px solid #9CD735;;
  border-bottom: none;
  background-color: #f5f3f4;
  text-align: left;
}

#primary_nav_wrap ul li:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#primary_nav_wrap ul li:last-child{
  border-bottom: 1px solid #9CD735;;
}

#primary_nav_wrap ul li:hover{
  border-right: none;
}

#primary_nav_wrap ul li ul li{
  border-left: none;
}

#primary_nav_wrap ul a
{
  display:block;
  color:#2c2c42;
  text-decoration:none;
  font-size:12px;
  line-height:18px;
  font-weight: 600;
  font-family: 'MyriadFont';
  text-transform: uppercase;
  letter-spacing: 1px;
}
#primary_nav_wrap ul a:hover
{
  color: #e57165;
}
#primary_nav_wrap ul a.has_categories{
  /*background: url("arrow_nav.png") no-repeat 193px center;*/
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  /*background: #ddd;*/
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:-1px;
  left:200px;
  background:#fff;
  padding:0;
  z-index: 9999;

}

#primary_nav_wrap ul ul li
{
  float:none;
  /* width:200px*/
}

#primary_nav_wrap ul ul a
{
  line-height:18px;
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}

////////////////////////////////////////////


/***  main screen drop down categories list *****/
#primary_nav_wrap2
{
  margin-top:0px
}
#primary_nav_wrap2 ul
{
}

#primary_nav_wrap2 ul li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;

}




/////////********* end ************///

.pages {
  bottom: -1px;
  list-style: none;
  width: auto;
  float: right;
  margin-bottom: 2px;
  padding-top: 3px;
  line-height: 180%;
}

.pages li {
  float: left;
  padding-left: 0;
  margin: 2px 0 2px 5px;
}

.pages li a {
  text-decoration: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding: 3px 2px 3px 2px;
  background: linear-gradient(to bottom,#fff 0,#eaeaea 99%);
}


/************ promotion offer screen *********/

.uiv2-promo-nav-menu {
  background: #f4a226;
  height: 49px;
  text-align: center;
}
.uiv2-div100 {
  width: 100%;
  float: left;
}
.uiv2-offers {
  height: 39px;
  float: left;
  border-right: 2px solid white;
  width: 240px;
  font-family: "Roboto Slab",sans-serif;
  font-weight: 400;
}
.uiv2-pad-t-10 {
  padding-top: 10px;
}
.uiv2-mar-t-10 {
  margin-top: 10px;
}
.uiv2-promo-nav-menu ul li{
  display: inline;
  list-style-type: none;
}
.uiv2-promo-nav-menu ul li a {
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
  color: #ffffff;
  font: 300 20px "MyriadFont";
  border-right: #Da9327 solid 1px;
  text-decoration: none;
}

.uiv2-style1 {
  color: white;
  font-size: 20px;
  font-family: 'myriadfont';
  font-weight: 800;
  margin-top: 0px;
}
.uiv2-style2 {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  font-family: 'myriadfont';
  font-weight: 400;
}



.promo-box {
  width: 298px;
  height: 180px;
  float: left;
  border-radius: 5px;
  border: solid 1px #E6E7E8;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.box-gradiant {
  background: -webkit-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: -o-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: -ms-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: linear-gradient(to bottom, white 0%, white 77%, #EBEBEC 100%);
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

.uiv2-div65 {
  width: 65%;
  float: left;
}
.uiv2-mar-t-16 {
  margin-top: 16px;
}
.uiv2-mar-l-15 {
  margin-left: 7px;
}
.uiv2-div-promo {
  width: 30%;
  float: left;
  margin-left: 13px;
}


/*********** promo complete details screen ******************/

.uiv2-border-left-g {
  border-left: solid 1px #D1D3D4;
  padding-top: 10px;
  padding-left: 5px;
  box-sizing: border-box;
}
.uiv2-div95{
  width: 95%;
  float: left;
}

.style3 {
  font: 25px "Roboto Slab",sans-serif;
  color: #4D4D4D;
  padding-bottom: 12px;
}

.style2 {
  font: 14px 'Lato',sans-serif;
  color: #4C4C4C;
  line-height: 160%;
}

.style1 {
  font: 12px 'Lato',sans-serif;
  color: #808285;
}
.spacing{
  padding: 5px 5px 5px 5px;
}
.uiv2-img-right {
  float: right;
}


/*********** promo tabber ********************/

.uiv2-tab-menu {
  border-bottom: solid 4px #C7DE93;
  width: 97%;
  float: left;
  height: 30px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 0px;
}

#tabs_content_container {
  margin-left: 20px;
}

#promotabs li {
  float: left;
  padding-left: 0px;
  margin-left: 0px;
  padding-bottom: 22px;
}

.uiv2-tab-menu ul li a {
  font: 15px "Roboto Slab",sans-serif;
  color: black;
  padding: 10px 11px 13px 10px;
  font-weight: 600;
  text-decoration: none;
}

.uiv2-tab-menu ul li.active a {
  background: #C7DE93;
}

.uiv2-our-recommendations-list-box {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.uiv2-our-recommendations-list-box li {
  border-right: 1px solid #D8D8D8;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px 10px;
  position: relative;
  width: 180px;
}

.selected_offer{
  color: green;
  background-color: lightgray;
}

/************** promo_offer_box ******************/
.uiv2-gray-common-gradiant {
  background: -webkit-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: -o-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: -ms-linear-gradient(top, white 0%, white 77%, #EBEBEC 100%);
  background: linear-gradient(to bottom, white 0%, white 77%, #EBEBEC 100%);
  border: 2px solid #EAEAEA;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.uiv2-pro-sel-tab {
  border-bottom-color: #6D6E71;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: auto;
  padding-bottom: 12px;
  float: left;
}

.uiv2-div-w-200 {
  width: 600px;
  float: left;
}

.uiv2-mar-l-20 {
  margin-left: 20px;
}
.uiv2-border-right-dotted {
  border-right: dotted 1px #D1D3D4;
  box-sizing: border-box;
  height: 105px;
}
.uiv2-mar-t-10 {
  margin-top: 10px;
}

.uiv2-sub-content-3 {
  font: 16px 'Lato',sans-serif;
  color: #333;
}
.uiv2-sub-content-2-1 {
  font: 14px 'Lato',sans-serif;
  color: #333;
}
.uiv2-sub-content-sm {
  font: 11px 'Lato',sans-serif;
  color: #333;
}
.uiv2-used-promos {
  margin: 11px 10px 12px 23px;
  float: left;
  border-right: 1px solid #CFCFCF;
}
.promoMsgInfo {
  padding-left: 20px;
  margin-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  height: auto;
}
.uiv2-mar-t-15 {
  margin-top: 15px;
}
.uiv2-pad-r-10 {
  padding-right: 10px;
}

.uiv2-combo-block span {
  color: #ba5253;
  float: right;
  padding-top: 2px;
  padding-right: 10px;
  font: 700 10px/25px 'Lato',sans-serif;
}

#category_drop_down{
  position: absolute;left: 4px;top: 38px;text-align: center;display: none;
  z-index: 9999;
}

#available_delivery_slot{
  position: relative;cursor: pointer;
}

#delivery_slots_content{
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 1px solid #000000;
  text-align: center;display: none;z-index: 9999;
  background-color: #D8D8D8;
}

#delivery_slots_content ul{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#delivery_slots_content ul li{
  float: left;
  font-size: 12px;
  font-family: 'MyriadFont';
  color: #2c2c42;
}

#delivery_locations_content{
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 1px solid #000000;
  text-align: center;display: none;z-index: 9999;
  background-color: #D8D8D8;
}

#delivery_locations_content ul{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#delivery_locations_content ul li{
  float: left;
  font-size: 12px;
  font-family: 'MyriadFont';
  color: #2c2c42;
}


.product_price{
  color: #0D06A4;
  font-weight: bold;
  font-size: 10px;

}
.show_more_button_sty{
  text-decoration: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding: 3px 2px 3px 2px;
  background: linear-gradient(to bottom,#fff 0,#eaeaea 99%);
}
@media screen and (min-width: 681px) and (max-width:940px) {
  .uiv2-details-label {
    float: left;
    font: 400 15px/30px lato,sans-serif;
    text-align: right;
    padding: 0 25px 10px 0;
    width:250px;
  }

}
@media screen and (min-width: 1024px) {
  .out_of_stock_style{
    margin-right:15%;
  }
}

@media screen and (min-width: 744px) and (max-width: 796px) {
  .out_of_stock_style{
    margin-right:5%;
  }
}
@media screen and (min-width: 490px) and (max-width: 610px) {
  .out_of_stock_style{
    margin-right:5%;
  }
  .uiv2-rate-count-btn{
    margin-right:5%;
  }

}
@media screen and (max-width: 680px) {
  .uiv2-details-label {
    float: left;
    font: 400 15px/30px lato,sans-serif;
    text-align: left;
    padding: 0 25px 10px 0;
    width:250px;
  }

}

@media (max-width: 450px) {
  .out_of_stock_style{
    margin-right:5px;
  }
  .uiv2-rate-count-btn{
    margin-right:5%;
  }
  .custom_button {
    font-size: 10px;
    background: #f4a226;
    background: #f4a226;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: 3px 2px 5px #ccc;
    text-decoration: none;
    color: #ffffff;
    margin-left: 0px;
  }

  .custom_button1 {
    font-size: 10px;
    background: #f4a226;
    background: #f4a226;
    border-radius: 5px;
    padding: 7px 7px;
    box-shadow: 3px 2px 5px #ccc;
    text-decoration: none;
    margin-left: 0px;
    color: #ffffff;
  }
  .quantity_tag{
    border: none;
    height: 15px;
    width: 20px;
    outline: 0;
  }
  .uiv2-qty-label{
    float: left;
    width: 20px;
    color: black;
    font: 400 12px/16px 'Lato',sans-serif;
    height: 21px;
    padding: 2px;
    font-size: 10px;
  }
  .product_price{
    color: #0D06A4;
    font-weight: bold;
    font-size: 10px;

  }
  .uiv2-already-rate-count-btn {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    float: left;
    height: 21px;
    margin-right: 3px;
    overflow: hidden;
    font-size: 10px;
    //width: 20px;
  }
}
