body {
  background-color: #000000;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  /*&:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }*/
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.row{
  margin: 0px;
}
.col-sm-12{
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-10{
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-8{
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-6{
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-4{
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-2{
  padding-left: 0px;
  padding-right: 0px;
}
.col-xs-10{
  padding-left: 0px;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline : 0;
}