<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table>
   <tr>
   <td class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </td>
   </tr>
   <tr>
  <td class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </td>
   </tr>
   <tr>
  <td class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </td>
   </tr>
   <tr>
  <td class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </td>
   </tr>
   <tr>
  <td class="actions">
    <%= f.submit %>
  </td>
   </tr>
 </table>
<% end %>
