<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Description:</b>
  <%= @brand.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @brand.picture %>
</p>

<p>
  <b>Active:</b>
  <%= @brand.active %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
