<%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <td class="field">
          <%= f.label :parent_id %><br/>
          <%= f.select(:parent_id, options_for_select(CategoriesHelper.get_category_type_titles(@category), @category.parent_id), {:prompt => 'Select Parent Type'}) %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :picture %><br/>
          <%= f.file_field :picture %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :active %><br/>
          <%= f.check_box :active %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :description %><br/>
          <%= f.text_area :description %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :html_title %><br/>
          <%= f.text_field :html_title %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :html_keywords %><br/>
          <%= f.text_field :html_keywords %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :html_description %><br/>
          <%= f.text_field :html_description %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :show_on_top %><br/>
          <%= f.check_box :show_on_top %>
        </td>
      </tr>
      <tr>
        <td class="field">
          <%= f.label :is_popular%><br/>
          <%= f.check_box :is_popular%>
        </td>
      </tr>
      <tr>
        <td class="actions">
          <%= f.submit %>
        </td>
      </tr>
    </table>
<% end %>

