<table width="100%">
  <tr>
    <td align="left">
      <h1 style="color: #000000">Listing Categories</h1></td>
  </tr>
  <tr>
    <td align="left"><%= link_to 'New Category', new_category_path, :style => 'font-size:14px;color:white;text-decoration:none;background-color:#32408C;padding:10px' %></td>
  </tr>
</table>

<table width="100%" style="background-color: #ffffff;padding-top:5px ">
  <% colors = get_colours %>
  <% @categories.each_with_index do |category, index| %>
      <%= get_category_type_html(category, 0, colors, index, @categories).html_safe %>
  <% end %>
</table>
<br/>

