<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= @category.parent_id %>
</p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Picture:</b>
  <%= @category.picture %>
</p>

<p>
  <b>Active:</b>
  <%= @category.active %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
