<% wish_list = WishList.find_by_product_id_and_user_id(product.id,current_user.id) if !current_user.blank?%>

<% if wish_list.blank? %>
    <%if !current_user.blank? %>
        <a href="/products/add_items_to_wish_list?product_id=<%= product.id %>" data-remote="true"><%= image_tag('empty-heart.png',:title=>'Add To Wish List',:class=>'Wish_List_style', :width=>'20px') %> </a>
    <%else %>
        <a href="/products/add_items_to_wish_list?product_id=<%= product.id %>"><%= image_tag('empty-heart.png',:title=>'Add To Wish List',:class=>'Wish_List_style') %> </a>
    <%end%>
<%else %>
    <a href="/products/remove_wish_list_items?product_id=<%= product.id %>" data-remote="true"><%= image_tag('green-heart.png',:title=>'Remove From Wish List',:class=>'Wish_List_style') %></a>
<%end %>
