<% pages = @all_products_size / 100 %>
<% if pages > 0 %>
    <ul class="pages">
      <% filter = !params[:search_option].blank? ? "&search_option=#{params[:search_option]}" : '' %>
      <% for index in 0..pages %>
          <li><a href="/products?limit=100&offset=<%= 100*index %><%= filter %>" data-remote="true"><%= index+1 %></a>
          </li>
      <% end %>
    </ul>
<% end %>
<div style="clear: both"></div>
<br/>
<%= link_to 'New Product', new_product_path %>
<br/><br/>
<table width="100%" style="text-align: left" border="1">
  <tr>
    <th>Name(Group Id)</th>
    <th>Brand</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Active</th>
    <th>Is Attribute</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
      <tr id="products_details_<%= product.id %>">
        <%= render :partial => 'products/product_edit_details', :locals => {:product => product} %>
      </tr>
      <tr>
        <td colspan="11" id="edit_product_<%= product.id %>" style="display: none;">
          <h3>Edit Product</h3>
          <%= form_tag('/products/edit_product', :method => 'get', :remote => 'true') do %>
              <%= hidden_field_tag "id", product.id %>
              <div align="left">
                <span>Name</span><br/>
                <%= text_field_tag("name", product.name) %>
              </div>
              <span>Price</span><br/>
              <%= text_field_tag("prices", product.price) %>
              </div>
              <div align="left">
                <span>Quantity</span><br/>
                <%= text_field_tag("quantity", product.quantity) %>
              </div>
              <div align="left">
                <span>Discount Type</span><br/>
                <%= select_tag("discount_type", options_for_select(get_all_discount_type, product.discount_type)) %>
              </div>
              <div align="left">
                <span>Discount Value</span><br/>
                <%= text_field_tag("discount_value", product.discount_value) %>
              </div>
              <div>
                <br/>
                 <span>
              <%= submit_tag("Update Product") %>
            </span>
              </div>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<script>

    function show_edit_product_status(product_id) {
        $('#edit_product_' + product_id).show();
    }
</script>
