<% if !products.blank? %>
<div width="100%">
    <div class="uiv2-product-search-list-wrap">
       <ul class="uiv2-search-product-list">
           <li>
               <div class="uiv2-no-result-found">
                   <p>showing results for <i>"<%= search_string %>"</i></p>
               </div>
           </li>
          <% products.each do|product| %>
           <li class="clr">
              <a href="/products/product_details_tab?id=<%= product.id %>"><div class="uiv2-img-product-search">
                <%= image_tag("/product/#{product.picture}", :width => '30px') %>
              </div>
                <div class="uiv2-img-product-name" style="color: #000000;font-size: 14px;">
                  <%= product.name.truncate(40) %>
                </div></a>
              <div class="uiv2-product-cost">
                  <%=  product.price %>
              </div>
              <div class="uiv2-product-form">
                <%= render :partial => 'products/show_order_item_form', :locals => {:product => product} %>
              </div>
              <div class="clr">

              </div>
           </li>
          <% end %>
       </ul>
    </div>
</div>
<% end %>