<% product = Product.find_by_id(product_cart_line_item.product_id) %>
<tr style="color: #000000;text-align: center" align="center">
  <td id="prodt_item" class="product_item_style" style="text-align: left" ><%= image_tag("/product/#{product.picture}", :class => "image_styles") %>
    &nbsp;&nbsp;<%= product.name %>
    <% if !product_cart_line_item.product_attributes.blank? %>
           <%= "(#{product_cart_line_item.product_attributes})" %>
    <% end %>
    <% if product.pre_order %>
        <div style="color: blue;">Pre order before 48 hours</div>
    <% end %>
  </td>
  <td id="prodt_inbasket"class="prodt" style="text-align: right;">
    <div class="prodct">
      <%= render :partial => 'products/show_basic_order_form', :locals => {:product => product} %>
    </div>
  </td>
  <td id="prodt_unit_price" style="text-align:right;">
    <div class="product_price1">
      <% if product_cart_line_item.original_price != product_cart_line_item.effective_price %>
          <strike><%= number_format_price(product_cart_line_item.original_price) %></strike>
          &nbsp;&nbsp;<span><%= number_format_price(product_cart_line_item.effective_price) %></span>
      <% else %>
          <%= number_format_price(product_cart_line_item.original_price) %>
      <% end %>
    </div>
  </td>
  <td id="prodt_total_price"style="text-align:right">
    <div class="product_price">
            <span class="product_price_styles" >Rs <%= number_format_price(product_cart_line_item.effective_price) %>
              <span class="price_style">&nbsp;x</span>
              <%= product_cart_line_item.quantity %>
              <span class="price_style">&nbsp;=</span> <%= number_format_price(product_cart_line_item.sub_total) %></span> &nbsp;&nbsp;&nbsp;
      <a href="/products/remove_order?id=<%= product.id %>" title="Remove"  > <%= image_tag("delete.png", :class => "product_button") %></a>
    </div>
  </td>
  <td align="right">
  </td>
</tr>