<tr>
    <td colspan="6" style="background-color:#faddad;font-size:14px;color:#000000;font-family: 'MyriadFont';padding : 5px 10px">
      <%= category_cart_line_item.category_name %>
      &nbsp;&nbsp;&nbsp;<span style="font: 500 13px/14px 'MyriadFont';color: #808080;margin-left: 10px;">&nbsp; <%= category_cart_line_item.count %> items <span>&nbsp;&nbsp;&nbsp;Rs.</span> <%= category_cart_line_item.total_cost %></span>
    </td>
</tr>