<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <table>
   <tr>
  <td>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </td>
     </tr>
   <tr>
     <td>
    <%= f.label :brand_id %><br />
    <%= f.select(:brand_id, options_for_select(get_all_brands, @product.brand_id)) %><br/>
     <div><%= link_to 'add new brand', new_brand_path %></div>
  </td>
   </tr>
   <tr>
     <td>
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </td>
   </tr>
   <tr>
     <td>
       <%= f.label :large_picture %><br />
       <%= f.file_field :large_picture %>
     </td>
   </tr>
   <tr>
     <td>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </td>
   </tr>

   <tr>
     <td>
       <%= f.label :quantity %><br />
       <%= f.text_field :quantity %>
     </td>
   </tr>

   <tr>
     <td>
       <%= f.label :discount_type %><br />
       <%= f.select(:discount_type, options_for_select(get_all_discount_type, @product.discount_type)) %>
     </td>
   </tr>

   <tr>
     <td>
       <%= f.label :discount_value %><br />
       <%= f.text_field :discount_value %>
     </td>
   </tr>

   <tr>
     <td>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </td>
   </tr>
   <tr>
     <td>
       <%= f.label :is_attribute %><br />
       <%= f.check_box :is_attribute %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :is_hot_deal %><br />
       <%= f.check_box :is_hot_deal %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :out_of_stock %><br />
       <%= f.check_box :out_of_stock %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :description %><br />
       <%= f.text_area :description %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :group_id %><br />
       <%= f.text_field :group_id %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :html_title %><br />
       <%= f.text_field :html_title %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :html_keywords %><br />
       <%= f.text_field :html_keywords %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :html_description %><br />
       <%= f.text_field :html_description %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :needs_payment %><br />
       <%= f.check_box :needs_payment %>
     </td>
   </tr>
   <tr>
     <td>
       <%= f.label :pre_order %><br />
       <%= f.check_box :pre_order %>
     </td>
   </tr>
   <tr>
  <td>
    <%= f.submit %>
  </td>
   </tr>
 </table>
<% end %>

