<div align="center">
  <table align="center" width="100%">
    <tr>
      <td style="vertical-align: top;">
        <div class="uiv2-left-navigation">
          <!--<div class="uiv2-nav">Categories</div>-->
          <div id="category_filter">
                          <div align="left">
                             <%= show_sub_categories(category_id) %>
                          </div>
          </div>
       <div style="border: 1px solid #e3e2e0;border-top: none;text-align: left">
         <div align="center">
         <div class="hr_tag_border"></div>
         </div>
           <div id="filtered_brands">
             <%= render :partial => 'show_filtered_brands', :locals => {:brands => brands, :category_id => category_id}  %>
           </div>
         <div align="center">
           <div class="hr_tag_border"></div>
         </div>
         <div id="filtered_prices">
           <%= render :partial => 'show_filtered_products_by_prices', :locals => {:price_range_ids => price_range_ids, :category_id => category_id} %>
         </div>
       </div>
      </div>
      </td>

      <td valign="top" width="86%">
        <div id="filtered_products" style="padding-left: 5px;position: relative;">
          <%= render :partial => 'show_filtered_products', :locals => {:products => products, :category_id => category_id, :select_order => select_order, :brands => brands, :price_range_ids => price_range_ids} %>
        </div>
      </td>
    </tr>
  </table>
</div>
