<% if  defined?(@all_products_size) %>
    <% if @all_products_size > 0 && (params[:offset].to_i+20) < @all_products_size %>
        <span id="show_more_id"><a href='/products/load_more?limit=20&offset=<%=params[:offset].to_i+20%>&all_products_size=<%= @all_products_size %><%= filter %>' data-remote='true' class="show_more_button_sty">Show More</a></span>
    <% end %>
<% end %>
