<td><%= product.name %>(<%= product.group_id %>)</td>
<td>
  <% brand = Brand.find_by_id(product.brand_id) %>
  <%= brand.name if !brand.blank? %>
</td>
<td><%= image_tag(product.picture, :width => '180px') if !product.picture.blank? %>
</td>
<td><%= product.price %> RS
  <br/>
  <% if product.discount_type.eql?('Discount-Value') %>
      VN Price: <span style="color: red"><%= product.price.to_d-product.discount_value.to_d %> RS</span>
  <% elsif product.discount_type.eql?('Discount-Percentage') %>
      VN Price:
      <span style="color: red"><%= product.price.to_d-(product.price.to_d*(product.discount_value.to_d/100)) %>RS</span>
  <% else %>
      VN Price: <span style="color: red"><%= product.price %> RS</span>
  <% end %>
</td>
<td><%= product.active %></td>
<td><%= product.is_attribute %></td>
<td><%= link_to 'Show', product %></td>
<td width="50px">
  <%= link_to_function image_tag('edit-icon.png', :width => '16px'), "show_edit_product_status('#{product.id}')" %>
  <%= link_to 'Edit', edit_product_path(product) %></td>
<td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>


