<% if defined?(products) && !products.blank? %>
    <% products= products %>
    <% products.each_with_index do |product, index| %>
        <div id="place_holder_<%= index %>" class="col-sm-4 col-md-3 col-xs-6 text-center"><%= render :partial => 'products/show_product', :locals => {:product => product, :place_holder_index => index} %></div>
    <% end %>
    <span id="more_products"></span>
<% end %>