  <nav>
    <ul style="list-style: none">
      <%= form_tag('/products/get_products', :method => 'get', :remote => 'true', :id => 'price_form') do %>
          <%= hidden_field_tag "category_ids", category_id %>
          <%= hidden_field_tag "load_all", true %>
              <% if defined?(brands)&&!brands.blank? %>
                  <% brands.each do |brand| %>
                      <%= hidden_field_tag "b[]", brand.id if !brand.blank? %>
                  <% end %>
              <% end %>
          <div class="sub_heading">Price</div>
              <% price_range_ids.each do |price_range_id| %>
                  <% price_range = ProductPriceRange.find_by_id(price_range_id) %>
                  <% if !price_range.blank? %>
                    <li class="filter_check_box"><input type="checkbox" name="p[]" value='<%= price_range.id %>' class="price_check_box"/> <%= price_range.description %> </li>
                  <% end %>
              <% end %>
      <% end %>
      <script type='text/javascript'>
          $(document).ready(function(){
              $('.price_check_box').on('change',function(){
                  $('#price_form').submit();
              });
          });
      </script>
    </ul>
  </nav>
