<nav>
  <ul>
    <% path = defined?(category_id) ? "&category_ids=#{category_id}&load_all=true" : '' %>
    <% if !brands.blank? %>
        <div>
          <div class="sub_heading">Brands</div>
          <%= form_tag('/products/get_products', :method => 'get', :remote => 'true', :id => 'form') do %>
              <%= hidden_field_tag "category_ids", category_id %>
              <%= hidden_field_tag "load_all", true %>
              <%= hidden_field_tag "update_price", true %>
              <% brands.each do |brand| %>
                  <div class="filter_check_box">
                    <input type="checkbox" name="b[]" value='<%= brand.id %>' class="check_box"/> <%= brand.name %>
                  </div>
              <% end %>
          <% end %>
          <script type='text/javascript'>
              $(document).ready(function(){
                  $(".check_box").on('change',function(){
                      $('#form').submit();
                  });
              });
          </script>
        </div>
    <% end %>
  </ul>
</nav>