<% order_item = !current_user.blank? ? CartItem.find_by_user_id_and_item_id(current_user.id, product.id) : CartItem.find_by_session_id_and_item_id(session[ApplicationHelper::SessionConstants::SESSION_ID], product.id)%>
<% promo_id = !promo_id.blank? ? promo_id : '' %>
<% if order_item.blank? %>
    <%= render :partial => 'products/show_order_item_form', :locals => {:product => product, :promo_id => promo_id} %>
<% else %>
    <%= render :partial => 'products/show_increment_order_item_form', :locals => {:product => product, :order_item => order_item, :promo_id => promo_id } %>
<% end %>
