
<div align="center">
  <% product_prices = ProductPrice.find_all_by_product_id(product_id) %>

<% product_prices.each do |product_price| %>

      <%= Location.find(product_price.location_id).name %> &nbsp;&nbsp;&nbsp;<%= product_price.price %> &nbsp;&nbsp;&nbsp; <%= product_price.discount_type %> &nbsp;&nbsp;&nbsp; <%= product_price.discount_value %> &nbsp;&nbsp;&nbsp; <a href="/products/remove_location_price?product_price_id=<%= product_price.id %>&product_id=<%= product_id %>" data-remote="true"> Remove Location Price</a>
    <br/>
<% end %>
</div>