<div style="width: 100%;background-color: #ffffff;font-family: 'MyriadFont';margin-bottom: 20px">
  <div align="center" border="1">
    <%
       if !current_user.blank?
         cart_items = CartItem.find_all_by_user_id(current_user.id)
       else
         cart_items = CartItem.find_all_by_session_id(session[ApplicationHelper::SessionConstants::SESSION_ID])
       end
    %>

    <% if !cart_items.blank? %>
        <% @needs_payment = needs_payment?(cart_items) %>
        <% cart_line_items = get_cart_line_items(cart_items) %>

        <div class="your_cart_style" > Your cart - <%= cart_items.size %> items</div>
        <table  width="100%">
          <tr style="background-color:#f4a226;color:white;">
            <td  class="item_width1" width="30%"> Item Description</td>
            <td class="item_width2"  width="20%">Quantity</td>
            <td id="item_width_up" class="item_width2" width="10%"> Unit Price</td>
            <td class="item_width2" width="20%">Subtotal</td>
            <td class="item_width3" width="10%">Savings</td>
          </tr>
          <% total_price = 0 %>
          <% if !cart_line_items.blank? %>
              <% order_item = '' %>
              <% savings_amount = 0.0 %>
              <% cart_line_items.each do |line_item| %>
                  <% if line_item.type == 'Category' %>
                      <% total_price += line_item.total_cost.to_d %>
                      <%= render :partial => 'cart_category_type', :locals => {:category_cart_line_item => line_item} %>
                  <% end %>
                  <% if line_item.type == 'Product' %>
                      <% order_item = line_item %>
                      <% savings_amount += line_item.savings.to_d %>
                      <%= render :partial => 'cart_product_type', :locals => {:product_cart_line_item => line_item} %>
                  <% end %>
                  <% if line_item.type == 'Promo' %>
                      <%= render :partial => 'promos/promo_add_other_product', :locals => {:promo_cart_line_item => line_item, :order_item => order_item } %>
                  <% end %>
               <% end %>
              <tr style="color: #A52A2A">
                <td colspan="4" style="text-align: center;">You ordered <b><%= cart_items.size %></b> items.
                  Price
                  is
                  <span class="price"><b>Rs <%= number_format_price(total_price) %></b></span>
                </td>
              </tr>
          <% else %>
              <tr>
                <td colspan="4" class="td_style1">Please go ahead and
                  choose the items. We are here to serve you.
                </td>
              </tr>
          <% end %>
        </table>

        <table width="100%" >
             <tr>
               <td align="left" style="padding: 10px"><a href="/products/empty_cart" class="custom_button">Empty Cart</a></td>
              <td align="right" style="padding: 10px"> <a href="/" class="custom_button1">Continue Shopping</a></td>
            </tr>
            <br/><br/>
        </table>
        <br/>
        <table class="summary_style" style="border: 1px solid #ffffff;background-color: #faddad; border-radius: 5px;">
          <% freedeliveryavailable=SystemSetting.find_by_key('free_delivery_amount').value.to_f - number_format_price(total_price).to_f
             %>
          <tr>
            <td style="font-size:18px;font-family:'MyriadFont;';padding: 10px;">Sub Total</td>
            <td style="font-size:18px;font-family:MyriadFont;padding: 10px;" align="right">Rs <%= number_format_price(total_price) %></td>
          </tr>
          <tr>
            <td style="font-size:18px;font-family:MyriadFont;padding: 10px;">Savings amount</td>
            <td style="font-size:18px;font-family:MyriadFont;padding:10px;" align="right">Rs <%= number_format_price(savings_amount) %></td>
          </tr>
          <tr style="border-bottom: 1px solid white;">
            <td style="font-size:18px ;font-family:MyriadFont;padding: 10px;">Delivery Charges</td>
            <% delivery_charges = get_delivery_charges(total_price) %>
            <td align="right" style="padding: 10px;">Rs <%= number_format_price(delivery_charges) %></td>
          </tr>

          <tr style="font-weight:bold; font-family:MyriadFont;">
            <td  class="total_style" style="padding-top: 20px">Total <span style="font-size: 10px;color: red; text-transform: lowercase">(* Inclusive of all taxes)</span></td>
            <td  class="total_style" style="padding-top: 20px" align="right">Rs <%= number_format_price(total_price + delivery_charges) %></td>
          </tr>

          <tr style="background-color: #faddad">

            <td  style="color:#0D6A14;font-weight:bold;padding: 5px;">
              <%if freedeliveryavailable >= 0 %>
              To Avail Free Delivery Shop More For Rs. <%= freedeliveryavailable %>
                  <%end %>
            </td>
            <td  style="text-align: center;padding: 5px;">
              <div style="text-align: right">
                <br/>
                <a href="/address_details/check_out" class="custom_button">Checkout</a>
                <br/><br/>
              </div>
            </td>
          </tr>


        </table>
    <% else %>
        <table width="100%">
          <tr align="center">
      <td><p style="color:royalblue">Your basket is empty. Start shopping now! </p></td>
          </tr>
          <tr align="center">
       <td> <a href="/" class="custom_button">See Products</a></td>
          </tr>
        </table>
    <% end %>
    </div>
</div>
