<% if !product.out_of_stock %>

    <%= form_tag('/products/add_items_to_cart', :method => 'get', :remote => 'true') do %>
        <%= hidden_field_tag "id", product.id %>
        <% promo_id = !promo_id.blank? ? promo_id : '' %>
        <%= hidden_field_tag "promo_id", promo_id %>
        <div style="padding-left: 8%;">
        <div class="uiv2-rate-count-btn">
          <span class="uiv2-qty-label" style="background-color: #f4f3f2">Qty</span>
          <%= number_field_tag("quantity", '1', :size => "3", :class => 'quantity_tag', :required => true, :min => "1", :max => "20") %>
        </div>
          </div>
        <% if !product.is_attribute %>
            <div>
              <%= submit_tag("Add", :onclick => "add_cart_item('#{product.id}', '#{product.name}', '#{product.quantity}');", :class => "product-add-button1") %>
            </div>
        <% else %>
            <script src="/unmodifiable_js/leanModal-modified-for-onload.js"></script>
            <a href="#modal<%= product.id %>" id="modal_trigger<%= product.id %>" class="product-add-button1" onclick="modal_trigger('#modal_trigger<%= product.id %>')">Add</a>
        <% end %>
    <% end %>


    <% if product.is_attribute %>
        <div id="modal<%= product.id %>" class="popupContainer" style="display:none;">
          <header class="popupHeader">
            <span class="header_title">Add</span>
            <span class="modal_close"><%= image_tag('close_window.png', :width => '24px') %></span>
          </header>

          <section class="popupBody">
            <%= form_tag('/products/add_items_to_cart', :method => 'get', :remote => 'true') do %>
                <%= hidden_field_tag "id", product.id %>
                <% promo_id = !promo_id.blank? ? promo_id : '' %>
                <%= hidden_field_tag "promo_id", promo_id %>
                <% attributes = Attribute.where('id in(select attribute_id from product_attributes where product_id =?)', product.id) %>
                <% attributes.each_with_index do |attribute, index| %>
                    <br/>

                    <div align="left">
                      <%= select_tag "attribute_name_#{index}", options_for_select(AttributeItem.find_all_by_attribute_id(attribute.id).collect { |u| [u.name] }), :prompt => 'Select '+attribute.name, :required => true, :class => 'select_box' %>
                    </div>
                <% end %>
                <%= hidden_field_tag('attribute_size', attributes.size) %>
                <br/>

                <div class="uiv2-rate-count-btn">
                  <span class="uiv2-qty-label" style="background-color: #f4f3f2">Qty</span>
                  <%= number_field_tag("quantity", 1, :size => "3", :class => 'quantity_tag', :required => true, :min => "1", :max => "20") %>
                </div>
                <div>
                  <%= submit_tag('Add', :onclick => "add_cart_item('#{product.id}', '#{product.name}', '#{product.quantity}');close_popup();", :class => 'product-add-button1') %>
                </div>

            <% end %>
            <br/><br/>
          </section>
        </div>

        <script type="text/javascript">
            function close_popup() {
                $("#lean_overlay").fadeOut(200);
                $("#modal").css({
                    "display": "none"
                })
            }
            function modal_trigger(popup) {
                $(popup).leanModal({top: 200, overlay: 0.6, closeButton: ".modal_close"});
            }
        </script>
    <% end %>
<% else %>
    <div class="out_of_stock_style">
      <span style="font-size: 10px;">Out of stock</span>
    </div>
    <div>
    <a href="/notify_me_requests/new?product_id=<%= product.id %>" class="notify-me-button">Notify Me</a>
</div>
<% end %>