 <div class="uiv2-already-rate-count-btn" xmlns="http://www.w3.org/1999/html">
      <table cellspacing="0" cellpadding="0">
        <% promo_id = !promo_id.blank? ? promo_id : '' %>
        <tr>
           <td><%= button_tag '-', :'data-url' => url_for(:controller => 'products', :action => 'remove_order_item', :id => product.id, :promo_id => promo_id), :'data-remote' => 'true', :class => "icon icon-decrease-qty-search-popup" %></td>
           <td class="incremented_basket"><span><%= " #{order_item.quantity} in Basket" %></span></td>
           <td><%= button_tag '+', :'data-url' => url_for(:controller => 'products', :action => 'add_items_to_cart', :id => product.id, :promo_id => promo_id), :'data-remote' => 'true', :onclick => "add_cart_item('#{product.id}', '#{product.name}', '#{product.quantity}');", :class => "icon icon-decrease-qty-search-popup" %></td>
        </tr>
      </table>
 </div>