<% filters = '' %>
<% if defined?(category_id) %>
    <% filters += "&category_ids=#{category_id}&load_all=true" %>
    <% if !select_order.blank? %>
        <% filters += "&sort_key=#{select_order}" %>
    <% end %>
    <% if !brands.blank? %>
       <% brands.each do |brand| %>
            <% filters += "&b[]=#{brand.id}" %>
        <% end %>
    <% end %>
    <% if !price_range_ids.blank? %>
        <% price_range_ids.each do |price_range_id| %>
            <% filters += "&p[]=#{price_range_id}" %>
         <% end %>
    <% end %>
     <% category_obj = Category.find_by_id(category_id)  %>
    <div width="100%">
     <div class="products-top-banner"><%= category_obj.name %></div>
      <div class="clr "></div>
      <div align="right" style="margin: 10px;">
        <%= form_tag('/products/get_products', :method => 'get', :remote => 'true', :id => 'my-form') do %>
            <%= hidden_field_tag "category_ids", category_id %>
            <%= hidden_field_tag "load_all", true %>
            <% if !brands.blank? %>
                <% brands.each do |brand| %>
                    <%= hidden_field_tag "b[]", brand.id if !brand.blank? %>
                <% end %>
            <% end %>
            <% if !price_range_ids.blank? %>
                <% price_range_ids.each do |price_range_id| %>
                    <%= hidden_field_tag "p[]", price_range_id if !price_range_id.blank? %>
                <% end %>
            <% end %>
            <%= select_tag 'sort_key', options_for_select([['Select Order', ''],['Price Low To High', 'PRICE_LOW_TO_HIGH'],['Price High To Low', 'PRICE_HIGH_TO_LOW'],['Name Ascending', 'NAME_ASCENDING']], select_order), :width => "150px", :class => 'sorting_combo', :id => "sort-order" %>
        <% end %>
      </div>

          <div class="red_to_yellow categories-banner" ><%= get_category_path(category_obj) %></div>
  <% else %>
      <% if defined?(search_name) %>
          <div class="products-top-banner red_to_yellow"><%= search_name %> (<%= products.size %>) </div>
      <% else %>
          <div class="products-top-banner">FEATURED PRODUCTS</div>
      <% end %>
  <% end %>

    <div class="row">
        <%= render :partial =>'products_content', :locals => {:products => products} %>
    </div>
  <div align="right" style="margin: 10px;">
    <%= render :partial => 'products/pagination', :locals => {:products => products, :filter => filters} %>
  </div>
 </div>


<script>
    $(document).ready(function () {
        $('#sort-order').on('change', function()
        {
            $('#my-form').submit();
        });
    });
    $(document).ready(function(){
            $("body,html").animate({ scrollTop: 100 }, 800);
    });
</script>