<div class="product-div">
  <div class="title_div">Details</div>
  <div style="padding-left:10px;padding-right: 5px;">
    <div class="content_div">
      <div class="product-image-box" align="center">
        <a href="/products/product_details_tab?id=<%= product.id %>" id="product_image_div_<%= product.id %>"><%= image_tag("/product/#{product.picture}", :width => '100%', :height => '155px') %></a>
      </div>
      <div class="product-name"><%= product.name.truncate(60) %></div>
      <% if !product.quantity.blank? %>
          <div class="volume_style"style="color: red;">Volume <%= product.quantity %></div>
          <% if product.pre_order %>
              <div style="color: blue;">Pre order before 48 hours</div>
          <% end %>
      <% end %>
      <div  class="product_price">Rs
        <% if !product.discount_type.blank? && !product.discount_value.blank? %>
            <strike><%= number_format_price(product.price) %></strike> <span>/</span>
            <span> <%= number_format_price(product.price - get_discount_product_price(product)) %></span>
        <% else %>
            <%= number_format_price(product.price) %>
        <% end %>
      </div>
      <div class="cort_div_style" >
        <div style="padding-bottom: 5px;height: 30px;">
        <% if !product.group_id.blank? %>
            <% group_products = Product.find_all_by_group_id(product.group_id) %>
                <% if !group_products.blank? %>
                  <%= select_tag 'quantity_option_id', options_for_select(group_products.collect { |u| [u.quantity, u.id] }, product.id), :onchange => "change_quantity_product(this.value, #{place_holder_index})" %>
                <%end %>
        <% end %>
        </div>
        <% promo_id = defined?(promo_id) && !promo_id.blank? ? promo_id : '' %>
        <div id="order_item_<%= product.id %>" >
          <%= render :partial => 'products/show_basic_order_form', :locals => {:product => product, :promo_id => promo_id} %>
        </div>
      </div>
      <%if product.out_of_stock.eql?(false) %>
       <span class="img_hart"  id="wish-list-<%= product.id %>">
                 <%= render :partial => 'products/add_to_wish_list', :locals => {:product => product} %>
       </span>
          <%end%>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function change_quantity_product(selected_product_id, place_holder_index) {
        $.ajax("/products/change_product_selection_quantity?product_id=" + selected_product_id + "&place_holder_index=" + place_holder_index);
    }
</script>
