<div align="center          ">
  <% product_categories = ProductCategory.find_all_by_product_id(product_id) %>
<% product_categories.each do |product_category| %>

      <%= Category.find(product_category.category_id).name %> &nbsp;&nbsp;&nbsp; <a href="/products/remove_category?product_category_id=<%= product_category.id %>&product_id=<%= product_id %>" data-remote="true"> Remove Category</a>

      <br/>

<% end %>
</div>