<div class="vn_wrapper">
  <div style="background-color:#EEF1F5;border: 1px solid #000000;margin: 5px; ">
    <div class="sign_in_page_header text-center"><%=flash[:notice].blank? ? 'Sign in and shop on Valueneeds.com' : flash[:notice] %></div>
    <div class="text-center" style="padding:15px;">
      <%= form_for(@user_session) do |form| %>
          <% user_name_error = @user_session.errors[:username][0] %>
          <% password_error = @user_session.errors[:password][0] %>
          <% error = @user_session.errors.full_messages[0] if (user_name_error.blank? && password_error.blank?) %>
          <div class="error_style" style="padding-left: 20px"><%= "User name "+user_name_error unless user_name_error.blank? %>
            <%= "Password "+password_error unless password_error.blank? %>
            <%= "Enter login details for authentication" unless error.blank? %></div>
          <table align="center">
            <tr>
              <td align="center"><%= form.text_field :email, :placeholder => 'User Name', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td align="center"><%= form.password_field :password, :placeholder => 'Password', :class => 'form-control text_field_style1' %></td>
            </tr>
            <tr>
              <td><%= form.submit 'Login', :class => 'login_button_style', :style => 'margin-right:15%;' %>
                <a href="/password_resets/new">Forgot Password?</a></td>
            </tr>
            <tr>
              <td style="font-size: 11px;">You can also login with your Google or Facebook</td>
            </tr>
            <tr>
              <td align="center"><a href="/auth/google_oauth2">
                <div class="google_button_style"><%= image_tag('google_signin.png', :width => '25px', :style => 'margin-right:20px;') %>
                  Login with Google
                </div>
              </a></td>
            </tr>
            <tr>
              <td align="center"><a href="/auth/facebook">
                <div class="facebook_button_style"><%= image_tag('fb_login.png', :width => '25px', :style => 'margin-right:20px;') %>
                  Login with Facebook
                </div>
              </a></td>
            </tr>
            <tr>
              <td style="padding: 10px;font-size: 11px">Are you New to Valueneeds? Register here.</td>
            </tr>
            <tr>
              <td align="center"><a href="/users/new">
                <div class="signup_button_style">Sign Up Now</div>
              </a></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>
