<% promo_id = !params[:promo_id].blank? ? params[:promo_id] : '' %>
$('*[id*=order_item_<%= @product.id %>]:visible').each(function(){
    $(this).html("<%= escape_javascript(render :partial => 'products/show_basic_order_form', :locals => { :product => @product, :promo_id => promo_id})%>");
});
$("#user_cart").html('<%= escape_javascript(render :partial => 'products/show_cart') %>');
<% if !params[:order_item_id].blank? %>
$("#reorder-<%= params[:order_item_id] %>-<%= @product.id %>").html("Added to the cart.");
<% end %>
<% if !params[:promo_id].blank? %>
    <% promo = Promo.find_by_id(params[:promo_id]) %>
    $("#promo_basket_details").html('<%= escape_javascript(render :partial => 'promos/promo_basket_details', :locals => {:promo => promo}) %>');
<% end %>
if( $( document ).width() > 650)
{
    $('#cart_size').html('<%= escape_javascript(render :partial => 'layouts/cart_size') %>');

}else{
    $('#cart_size2').html('<%= escape_javascript(render :partial => 'layouts/cart_size', :locals => { :show_price => true}) %>');
}

$('#pop_up_cart').html('<%= escape_javascript(render :partial => 'layouts/pop_up_cart') %>');

