$("#add_category_link").html("<a href='/products/add_child_form?child_count=<%= @child_count %>' data-remote='true'> Add Child</a>");
$("#add_child_category").replaceWith("<div id='remove_child_category<%= @child_count %>'>Select Category &nbsp;&nbsp;&nbsp; <%= escape_javascript(select_tag("category_#{@child_count}", options_for_select(get_categories))) %> &nbsp;&nbsp;&nbsp;<a href='#' onclick='remove_child_category(<%= @child_count %>)'>Remove</a><br/><br/></div><div id='add_child_category'><div>");