$("#place_holder_<%= params[:place_holder_index] %>").html("<%= escape_javascript(render :partial => 'products/show_product', :locals => {:product => @product, :place_holder_index => params[:place_holder_index]})%>");
