$("#products_details_<%=@product.id %>").html('<%= escape_javascript(render :partial => 'products/product_edit_details', :locals => {:product => @product}) %>');
$("#edit_product_<%= @product.id %>").hide();