<h1 class="product_headings">Editing product</h1>
<div class="product_edit_content">
<%= render 'form' %>
</div>
<h1 class="product_headings">Update Category</h1>

<div>
<%= form_for(@product, :url => '/products/update_category_child', :method=>"POST") do |f| %>
      <div><%= link_to 'Add new Category', new_category_path %></div>
    <%= hidden_field_tag :product_id, @product.id %>
    <div id="show_updated_categories">
      <%= render :partial => 'show_updated_categories', :locals => { :product_id => @product.id} %>
    </div>

    <div id="add_category_link">
      <a href="/products/add_child_form?child_count=<%= @child_count %>" data-remote="true"> Add Category</a>
    </div>
    <div id="add_child_category">

    </div>
    <br/>
     <div>
        <%= f.submit "Update Categories"%>
     </div>
<% end %>
</div>

<br/><br/>
<h1 class="product_headings">Add Attribute</h1>
<div>
    <% attributes = Attribute.where('id in(select attribute_id from product_attributes where product_id =?)', @product.id) %>
    <% attributes.each do |attribute| %>
     <% product_attribute = ProductAttribute.find_by_product_id_and_attribute_id(@product.id, attribute.id) %>
     <div><span><%= attribute.name %></span> &nbsp;&nbsp;<span><%= link_to 'Destroy', product_attribute, confirm: 'Are you sure?', method: :delete %></span></div>
    <% end %>
    <div><a href="/product_attributes/new?product_id=<%= @product.id %>">add attribute to product</a></div>
</div>

<br/><br/>
<h1 class="product_headings">Update Prices</h1>
<div>
<%= form_for(@product, :url => '/products/update_product_location_prices', :method=>"POST") do |f| %>
    <%= hidden_field_tag :product_id, @product.id %>
    <div id="show_updated_location_prices">
      <%= render :partial => 'show_updated_location_prices', :locals => { :product_id => @product.id} %>
    </div>

    <div id="add_price_link">
      <a href='/products/add_product_location_price_form?location_price_child_count=<%= @location_price_child_count %>' data-remote='true'> Add Location Price</a>
    </div>
    <div id="add_child_location_price">
    </div>
    <br/>
    <div>
      <%= f.submit "Update Location Prices"%>
    </div>
<% end %>
</div>
<br/><br/><br/>
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>

<script>
  function remove_child_category(child_number){
      $("#remove_child_category"+child_number).replaceWith("");
  }
  function remove_child_location(child_number){
      $("#remove_child_location_price"+child_number).replaceWith("");
  }
</script>