$("#filtered_products").html('<%= escape_javascript(render :partial => 'show_filtered_products', :locals => {:products => @products}) %>');
$("#filtered_prices").html('<%= escape_javascript(render :partial => 'show_filtered_products_by_prices', :locals => {:category_id => params[:cI].to_i}) %>');