$("#filtered_products").html('<%= escape_javascript(render :partial => 'show_filtered_products', :locals => {:products => @products, :category_path_id => params[:cI].to_i}) %>');
$("#filtered_brands").html('<%= escape_javascript(render :partial => 'show_filtered_brands', :locals => {:brands => @brands}) %>');
$("#filtered_prices").html('<%= escape_javascript(render :partial => 'show_filtered_products_by_prices', :locals => {:category_id => params[:cI].to_i}) %>');