<% if !params[:rF].blank? && params[:rF] %>
    $("#products-main-filter").html('<%= escape_javascript(render :partial => 'get_main_filtered_products', :locals => {:products => @products, :brands => @brands, :price_range_ids => @price_range_ids, :category_id => params[:category_ids].to_i, :select_order => params[:sort_key]}) %>')
<% else %>
    $("#filtered_products").html('<%= escape_javascript(render :partial => 'show_filtered_products', :locals => {:products => @products, :category_id => params[:category_ids].to_i, :select_order => params[:sort_key], :brands => @brands, :price_range_ids => @price_range_ids}) %>');
<% end %>
<% if !params[:update_price].blank? && params[:update_price] %>
        $("#filtered_prices").html('<%= escape_javascript(render :partial => 'show_filtered_products_by_prices', :locals => {:price_range_ids => @price_range_ids, :category_id => params[:category_ids].to_i, :brands => @brands}) %>');
<% end %>

