<% first_category = Category.find_by_id(params[:category_ids].to_i) if !params[:category_ids].blank? %>
<% if !first_category.blank?
     content_for(:title, first_category.html_title)
     content_for(:keywords, first_category.html_keywords)
     content_for(:description, first_category.html_description)
   end %>
<%= first_category.html_title %>


<div id="products-main-filter">
  <div align="center">
    <table align="center" width="100%">
      <tr>
        <td style="vertical-align: top;" class="left_menu">
          <div class="uiv2-left-navigation">
            <!--<div class="uiv2-nav">Categories</div>-->
            <div id="category_filter">
              <div  align="left">
                <%= show_sub_categories(params[:category_ids].to_i) %>
              </div>
            </div>
            <div style="border: 1px solid #e3e2e0;border-top: none;text-align: left">
              <div align="center">
                <div class="hr_tag_border"></div>
              </div>
              <div id="filtered_brands">
                <%= render :partial => 'show_filtered_brands', :locals => {:brands => @brands, :category_id => params[:category_ids].to_i} %>
              </div>
              <div align="center">
                <div class="hr_tag_border"></div>
              </div>
              <div id="filtered_prices">
                <%= render :partial => 'show_filtered_products_by_prices', :locals => {:price_range_ids => @price_range_ids, :category_id => params[:category_ids].to_i} %>
              </div>
            </div>
          </div>
        </td>

        <td valign="top" width="86%">
          <div id="filtered_products" style="padding-left: 5px;">
            <%= render :partial => 'show_filtered_products', :locals => {:products => @products, :category_id => params[:category_ids].to_i, :select_order => params[:sort_key], :brands => @brands, :price_range_ids => @price_range_ids} %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>