<h1>Listing products</h1>
<div style="text-align: right;width: 80%;line-height: 160%">
  <div align="left">
    <table>
        <%= form_tag('/products', :method => 'get', :remote=>true) do %>
            <tr>
              <td><div>Text<br/><%= text_field_tag(:search_option, '', :size=>'30px') %></div></td>
              <td><div>Category<br/><%= select_tag(:category_id, options_for_select(options_for_select(Category.all.collect { |u| [u.name, u.id] }.sort)), :prompt => 'Select Category') %></div></td>
              <td><div>Brand<br/><%= select_tag(:brand_id, options_for_select(options_for_select(Brand.all.collect { |u| [u.name, u.id] }.sort)), :prompt => 'Select Brand') %></div></td>
              <td><div>Price<br/><%= select_tag(:price_range_id, options_for_select(options_for_select(ProductPriceRange.all.collect { |u| [u.description, u.id] })), :prompt => 'Select Price') %></div></td>
            </tr>
            <tr>
              <td><%= submit_tag('Search') %></td>
            </tr>
        <% end %>
    </table>
  </div>
<div id = "all_products_details">
  <%= render 'all_products_content' %>
</div>
</div>