$("#more_products").replaceWith('<%= escape_javascript(render :partial => 'products_content', :locals => {:products => @products }) %>');
<% if @all_products_size < params[:offset].to_i+20%>
$('#show_more_id').html("<a href='/products/load_more?limit=20&offset=<%=params[:offset].to_i+20%>&all_products_size=<%= @all_products_size %>&category_ids=<%= params[:category_ids] %>&load_all=<%= params[:load_all] %>&sort_key=<%= params[:sort_key] %>&b[]=<%= params[:b] %>&p[]=<%= params[:p] %>' data-remote='true' class='show_more_button_sty'>Show More</a>");
<%end %>
$('#show_more_id').html('');

