<div class="row" style="margin-bottom: 0px" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12 slide_left_div_style" id="sl_width">
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        });
    </script>
    <div id="slider1_container" class="slider_container_style" >
      <div id="slider2_container" u="slides" class="product_slider_style slider-bar-position" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%;">
        <% slider_images = SlideImage.active.find(:all, :order => 'order_id ASC') %>
        <% slider_images.each do |slider| %>
            <% if slider.category_id.blank? %>
                <div style="background-size:cover;"><img  u="image" src="/slider_image/<%= slider.image%>"/></div>
            <% else %>
                <div>
                  <a u="image" href="/products/get_main_filtered_products?category_ids=<%= slider.category_id %>&load_all=true&rF=true"><img src="/slider_image/<%= slider.image %>"/></a>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-12 slide_right_div_style" style="text-align: center;margin-bottom: 0px">

    <div class="featured_category_1 text-center">
      <% @specialities = Speciality.where("(active = 't' or active = '1')").limit(2).order('id DESC') %>
      <% @specialities.each_with_index do |speciality, index| %>
          <div class="col-sm-12 right_side_inner_div" align="center">
            <a href="/products/get_main_filtered_products?category_ids=<%= speciality.category_id %>&load_all=true&rF=true">
              <div class="to_align_bottom" style="padding-bottom: 5px;">
                <%= image_tag("/speciality/#{speciality.image}", :class=>'show_on_top_style') %>
              </div>
            </a>
          </div>
      <% end %>
    </div>

  </div>
  </div>
</div>
<div class="row categories_bottom_div" >
  <div class=" row products-top-banner red_to_yellow"  ><div class="col-xs-10">Shop by Category</div>
    <div class="col-xs-2 text-right"><a href="javascript:toggleDiv('myContent');" style="padding: 3px 5px;font-size: 10px;color:black;" class="SeeMore"><%= image_tag("/assets/menu.png", :width => '17px',:class=>'menu_image', :style => 'margin-right:10px;') %></a></div>
  </div>
  <div id="myContent" style=" padding: 5px 10px;display:none">
    <div class="row" style="padding:0px 20px; ">
      <% @categories = Category.find(:all, :conditions => ['parent_id is null'], :order => "sequence_id ASC") %>
      <% @categories.each do |category| %>
          <% children_list=Category.find_all_by_parent_id(category.id) %>
          <% if !children_list.blank? %>
              <div class="col-sm-12 category_box_shadow_style">
                <table width='100%'>
                  <tr>
                    <td width='80%'><%= image_tag("/category/#{category.picture}", :width => '25px', :style => 'margin-right:10px;') %>
                      <span class='category_title_style'><%= category.name %></span></td>

                    <td align='right'>
                      <div class="text-right" onclick="show_or_hide('ch_<%= category.id %>');"><%= image_tag('plus.png', :width => '20px;', :id => "ch_#{category.id}_img") %></div>
                    </td>
                  </tr>
                </table>
              </div>
              <div id="ch_<%= category.id %>" style='display:none' data_open='false'>
                <%= get_category_content(children_list, 1).html_safe %>
              </div>
          <% else %>

              <a href="/products/get_main_filtered_products?category_ids=<%= category.id %>&load_all=true&rF=true">
                <div class="col-sm-12 category_box_shadow_style">
                  <%= image_tag("/category/#{category.picture}", :width => '25px', :style => 'margin-right:10px;') %>
                  <span class='category_title_style'><%= category.name %></span>
                </div>
              </a>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div style="height: 2px"></div>
<div id="filtered_products">
  <div class="products-top-banner red_to_yellow">Hot Deals</div>
  <table width="100%">
    <tr>
      <td align="center">
          <div id="demo" class="amazon_scroller" style="display: inline-block;">
          <div class="amazon_scroller_mask">
            <ul>
            <% @products = Product.find_all_by_is_hot_deal(true) %>
            <% @products.each_with_index do |product, index| %>
            <li><div style="width: 200px" id="place_holder_<%= index %>" class="col-sm-2 col-md-2"><%= render :partial => 'products/show_product', :locals => {:product => product, :place_holder_index => index} %></div></li>
            <% end %>
            </ul>
            </div>
            <div style="clear: both"></div>
            </div>
        </td>
    </tr>
  </table>
</div>
<div class="featured_category">
  <div class="products-top-banner red_to_yellow" style="margin: 30px 0px;">Popular Categories</div>
  <% @categories = Category.active.find(:all, :conditions => ['is_popular=?',true]) %>
  <div class="row" style="padding: 5px 20px;">
    <div class=" text-center col-sm-4">
      <table width="100%"><tr>
  <% @categories.each_with_index do |category, index| %>

      <td width="33%" style="height:160px; ">
        <a href="/products/get_main_filtered_products?category_ids=<%= category.id %>&load_all=true&rF=true">
            <%= image_tag("/category/#{category.picture}", :width => '75px', :height => '75px') %>
          <span style="font-size:15px;font-family: 'MyriadFont';font-weight:bold;;color:#2c2c42;">
            <br/><%= category.name %>
          </span>
        </a>
      </td>
          <%if index!=0 && index+1==@categories.size%>
          </tr></table></div>
           <%elsif index!=0 && (index+1)%3==0%>
                </tr></table></div><div class=" text-center col-sm-4"><table width="100%"><tr>
          <%end %>
  <% end %>
    </div>
</div>


<script type="text/javascript">
    function show_or_hide(div_id) {
        var image_id = '#' + div_id + "_img"
        if ($('#' + div_id).attr('data_open') == 'false') {
            $('#' + div_id).show();
            $('#' + div_id).attr('data_open', 'true');
            $(image_id).prop('src', '/unmodifiable_images/minus.png');
        } else {
            $('#' + div_id).hide();
            $('#' + div_id).attr('data_open', 'false');
            $(image_id).prop('src', '/unmodifiable_images/plus.png');
        }
    }

    $('#slider1_container').css('width', $('#sl_width').width());
    $('#slider2_container').css('width', $('#sl_width').width());
</script>
<script type="text/javascript">
    function toggleDiv(divId) {
        $("#"+divId).toggle();
    }
    $('.SeeMore').click(function(){
        var image_id = '#' + div_id + "_img"
        $image_id.toggleClass('SeeMore');
        if($image_id .hasClass('SeeMore')){
            $(image_id).prop('src', '/unmodifiable_images/minus.png');
        } else {
            $(image_id).prop('src', '/unmodifiable_images/plus.png');
        }
    });
</script>
<script language="javascript" type="text/javascript">
    $(function() {
       $("#demo").amazon_scroller({
                scroller_title_show: 'enable',
                scroller_time_interval: '2000',
                scroller_window_background_color: "#FFFFFF",
                scroller_window_padding: '0',
                scroller_border_size: '0',
                scroller_border_color: '#000',
                scroller_images_width: '210',
                scroller_images_height: '155',
                scroller_title_size: '12',
                scroller_title_color: 'black',
                scroller_show_count: '7',
                directory: 'images'
            });
          });
</script>
