<% content_for(:title, @product.html_title) %>
<% content_for(:keywords, @product.html_keywords) %>
<% content_for(:description, @product.html_description) %>

<div id="products-main-filter">
    <table align="center" width="100%">
      <tr>
        <td style="vertical-align: top;" class="product_left_menu_navigation">
          <div class="uiv2-left-navigation">
            <div id="category_filter">
              <nav id="primary_nav_wrap">
                <ul>
                  <% @categories = Category.active.find(:all, :conditions => ['parent_id is null'], :order => "sequence_id ASC") %>
                  <% @categories.each_with_index do |category, index| %>
                      <%= get_html_list_for_all_sub_categories(category, "").html_safe %>
                      </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </td>
        <td valign="top" style="padding-left: 5px;" width="86%">
          <div id="filtered_products" style="padding-left: 5px;padding-top: 10px;">
            <div>
              <table width="100%">
                <tr>
                  <td>
                    <div style="box-shadow: 1px 1px 1px #888888;" id="product_image_div_<%= @product.id %>">
                      <% if !@product.large_picture.blank? %>
                          <%= image_tag("/product/l/#{@product.large_picture}", :width => '100%', :height=>'auto') %>
                      <% else %>
                          <%= image_tag("/product/#{@product.picture}", :width => '100%', :height=>'auto') %>
                      <% end %>
                    </div>
                    <br/>

                  </td>
                  <td style="vertical-align: top;">
                    <div style="float: left;padding-left: 20px;">
                      <div style="color: #000000;font-size: 16px;font-weight:bold;padding:10px;font-family: 'MyriadFont'">
                        <span>Brand - </span><%= @brand.name %>
                      </div>
                      <div style="color: #000000;font-size: 20px;font-weight:bold;padding:10px;font-family: 'MyriadFont'">
                        <%= @product.name %>
                      </div>
                      <div class="volume_style">Volume: <%= @product.quantity %></div>

                      <div style="color: #000000;font-size: 16px;font-weight:bold;padding:10px;font-family: 'MyriadFont'">
                        <div class="product_price">Rs
                          <% if !@product.discount_type.blank? && !@product.discount_value.blank? %>
                              <strike><%= number_format_price(@product.price) %></strike> /
                              <span> <%= number_format_price(@product.price - get_discount_product_price(@product)) %></span>

                              <div style="color: #ba5253;font-size:16px;font-weight:bold;padding-top: 10px;">
                                <b>Save Rs <%= number_format_price(get_discount_product_price(@product)) %></b>
                              </div>
                          <% else %>
                              <%= number_format_price(@product.price) %>
                          <% end %>
                        </div>
                        <% if !@product.group_id.blank? %>
                            <% group_products = Product.find_all_by_group_id(@product.group_id) %>
                            <%= form_tag('/products/change_product_tab_selection_quantity', :method => 'get') do %>
                                <div style="padding-bottom: 5px;">
                                  <%= select_tag 'product_id', options_for_select(group_products.collect { |u| [u.quantity, u.id] }, @product.id), :onchange => "this.form.submit()" %>
                                </div>
                            <% end %>
                        <% end %>
                        <br/>
                        <% promo_id = defined?(promo_id) && !promo_id.blank? ? promo_id : '' %>
                        <div id="order_item_<%= @product.id %>">
                          <%= render :partial => 'products/show_basic_order_form', :locals => {:product => @product, :promo_id => promo_id} %>
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>
                <tr>
                  <td colspan="2"><br/><div class="description_style"><%= @product.description %></div></td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
</div>
