<% promo_id = !params[:promo_id].blank? ? params[:promo_id] : '' %>
$('*[id*=order_item_<%= @product.id %>]:visible').each(function(){
    $(this).html("<%= escape_javascript(render :partial => 'products/show_basic_order_form', :locals => { :product => @product, :promo_id => promo_id})%>");
});
$("#user_cart").html('<%= escape_javascript(render :partial => 'products/show_cart') %>');
<% if !params[:promo_id].blank? %>
    <% promo = Promo.find_by_id(params[:promo_id]) %>
    $("#promo_basket_details").html('<%= escape_javascript(render :partial => 'promos/promo_basket_details', :locals => {:promo => promo}) %>');
<% end %>
$('#cart_size').html('<%= escape_javascript(render :partial => 'layouts/cart_size') %>');
$('#pop_up_cart').html('<%= escape_javascript(render :partial => 'layouts/pop_up_cart') %>');

