<h1>Request Products</h1>

<table width="100%" border="1">
  <tr>
    <th>Product Name</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Time</th>
    <th>Phone Number</th>

  </tr>

<% @product_requests.each do |request| %>
  <tr>
    <td><%= request.product_name %></td>
    <td><%= request.customer_name %></td>
    <td><%= request.email %></td>
    <td><%= request.created_at.utc.in_time_zone('Kolkata').strftime("%d %b %Y at %I:%M %p")%></td>
    <td><%= request.phone_number %></td>
  </tr>
<% end %>
</table>
<br/><br/><br/><br/>