<div class="row">
  <% @products.each_with_index do |product, index| %>
      <div id="place_holder_<%= index %>" class="col-sm-4 col-md-2"><%= render :partial => 'products/show_product', :locals => {:product => product, :place_holder_index => index} %></div>
  <% end %>
</div>
<div class="clr"></div>