<%= form_for(@address_detail) do |f| %>
  <% if @address_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_detail.errors.count, "error") %> prohibited this address_detail from being saved:</h2>

      <ul>
      <% @address_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :house_no %><br />
    <%= f.text_field :house_no %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :land_mark %><br />
    <%= f.text_field :land_mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
