<div class="checkout-container">
  <div style="padding-left: 20px;padding-right: 20px;">
    <h1 style="font-weight: 500;text-align: left">Check out</h1>
    <hr/>
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="70%" style="vertical-align: top">
          <div style="border: 1px solid #e0e0e0;">
            <br/>

            <div style="font-size: 16px;padding: 5px 5px 5px 15px;float: left">
              Delivery address
            </div>
            <div class="address_button">
              <a href="/address_details/new" style="text-decoration: none">Add New</a>
            </div>
            <div style="clear: both">

            </div>
            <hr style="border: 1px solid #CCC;"/>
            <table cellspacing="0" cellpadding="5">
              <%= form_tag 'create_order_with_previous_address', :method => 'post' do %>
                  <%= hidden_field_tag "address_id", 0, :id => "set_address_id" %>
                  <tr>
                    <% @address_details.each_with_index do |address, index| %>
                        <td>
                          <div id="address_box<%= index %>" onclick="select_address(<%= index %>, <%= address.id %>, <%= @address_details.size %>)" class="unselect_address_box">
                            <%= address.first_name %><br/>
                            <%= address.contact_number %><br/>
                            <%= address.house_no %><br/>
                            <%= address.area %><br/>
                            <%= address.land_mark %><br/>
                            <%= address.city %>
                            <div id="select_text<%= index %>" class="un_select_text">
                              <span>Selected</span>
                            </div>
                          </div>
                        </td>
                    <% end %>
                  </tr>


                  <tr>
                    <td colspan="3">

                      <div style="border: 1px solid #e0e0e0;">
                        <br/>

                        <div style="font-size: 16px;padding: 5px 5px 5px 15px;">
                          Select Delivery Slots
                        </div>

                        <div id="delivery-slot-information">

                        </div>

                        <hr style="border: 1px solid #CCC;"/>
                        <table cellspacing="0" cellpadding="5">
                          <% @delivery_slots.each_with_index do |slot, index| %>
                              <% is_checked = index == 0 ? true : false %>
                              <tr>
                                <td>
                                  <span style="font-size: 16px;"><%= radio_button_tag 'delivery_slot', slot.id, is_checked, :id => 'slot_id', :onclick => 'hide_delivery_time();' %>  <%= label_tag 'delivery_slot', "#{slot.slot_name}" %></span>
                                </td>
                              </tr>
                          <% end %>
                          <tr>
                            <td>
                              <span style="font-size: 16px;"><%= radio_button_tag 'delivery_slot', -999, false, :id => 'slot_id', :onclick => 'show_delivery_time(this);' %>
                                Specify your preferred delivery time</span><br/>
                              <%= text_field_tag(:chosen_delivery_time, '', :placeholder => 'Enter your preferred time', :style => 'display:none;font-size:14px;margin:10px;width:300px;padding:5px;') %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span style="font-size: 16px;">Coupon code.</span><br/>
                              <%= text_field_tag(:coupon_code, params[:coupon_code], :placeholder => 'Enter Coupon Code', :style => 'font-size:14px;margin:10px;width:300px;padding:5px;') %>
                                  <%= submit_tag('Apply Coupon', :class => 'apply_submit_tag') %><br/>
                              <span style=color:green><%=  params[:coupon_code].eql?('VN001') ? 'Coupon discount successfully applied.':'' %></span>
                              <%if !params[:coupon_error].blank? %>
                                  <span class="error_style"><%= params[:coupon_error].gsub('-', ' ') %></span>
                              <%end %>
                            </td>
                          </tr>
                        </table>
                        <br/>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: right" colspan="3">
                      <%= submit_tag('Pay Online', :class => 'uiv2-checkout-button') %>
                      <% if !@needs_payment %>
                          <%= submit_tag('Pay Cash On Delivery', :class => 'uiv2-checkout-button') %>
                          <%= submit_tag('Pay With Sodexo/Ticket Restaurant', :class => 'uiv2-checkout-button') %>
                          <br/><span style="color: red;">* No offers/cashback when you pay with Sodexo/Ticket Restaurant</span>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <br/>
          </div>
        </td>
        <td width="30%" style="vertical-align: top">
          <div class="uiv2-order-summary">
            <div class="uiv2-order-summary-title">Your Order Summary</div>
            <% total_cart_items = !current_user.blank? ? CartItem.find_all_by_user_id(current_user.id) : CartItem.find_all_by_session_id(session[ApplicationHelper::SessionConstants::SESSION_ID]) %>
            <% category_lists = get_cart_by_category_level(total_cart_items) %>
            <% total_price=0 %>
            <% category_lists.each do |category_list| %>
                <div style="background-color:#dfdfdf;padding:10px 10px 10px 10px;margin-left:0px;font-size:14px;color:#000000">
                  <%= category_list.category.name %>
                </div>
                <% cart_items = category_list.cart_order_items %>
                <% cart_items.each_with_index do |item, index| %>
                    <% total_price+= item.order_item.sub_total %>
                    <div class="uiv2-sub-total">
                      <div style="float: left"><%= item.product.name %> &nbsp;&nbsp;-&nbsp;&nbsp;<%= item.order_item.quantity %>
                        <% if item.product.pre_order %>
                            <div style="color: blue;">Pre order before 48 hours</div>
                        <% end %></div>
                      <div style="float: right"><%= item.order_item.sub_total %></div>
                      <div style="clear: both"></div>
                    </div>
                <% end %>
            <% end %>
            <div class="uiv2-total-amount">
              <div style="float: left">Total Amount</div>
              <br/>
              <span style="font-size: 10px;color: red;text-transform: lowercase">(* Inclusive of all taxes)</span>

              <div style="float: right"> Rs. <%= total_price %></div>
              <div style="clear: both"></div>
            </div>
            <div class="uiv2-total-amount">
              <div style="float: left">Delivery Charges</div>
              <div style="float: right">Rs. <%= get_delivery_charges(total_price) %></div>
              <div style="clear: both"></div>
            </div>
            <%discount=0 %>
            <%if is_valid_coupon(params[:coupon_code], 'VN001') %>
                <%discount= get_discount_on_coupon(total_price) %>
            <div class="uiv2-total-amount">
              <div style="float: left">Coupon Discount</div>
              <div style="float: right;color: green">- Rs.<%= discount %></div>
              <div style="clear: both"></div>
            </div>
            <%end %>
            <div class="uiv2-amount-to-Pay-total">
              <div style="float: left">Amount to Pay</div>
              <div style="float: right"> Rs. <%= (get_delivery_charges(total_price) + (total_price-discount)).round(2) %></div>
              <div style="clear: both"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>
<script>
    function show_delivery_time(radio_selection) {
        if (radio_selection.checked) {
            $('#chosen_delivery_time').show();
            $('#chosen_delivery_time').attr('required', 'true');
        }
        else {
            hide_delivery_time();
        }
    }

    function hide_delivery_time() {
        $('#chosen_delivery_time').hide();
        $('#chosen_delivery_time').removeAttr('required');
    }
</script>
<script type="application/javascript">
    $("#address_box" + 0).removeClass('unselect_address_box').addClass('select_address_box');
    $("#select_text" + 0).removeClass('un_select_text').addClass('select_text');
    $("#set_address_id").val(<%= @address_details.first.id %>);
</script>
<script type="application/javascript">
    function select_address(index, address_id, length) {
        for (var i = length; i >= 0; i--) {
            $("#address_box" + i).removeClass('select_address_box').addClass('unselect_address_box');
            $("#select_text" + i).removeClass('select_text').addClass('un_select_text');
        }
        $("#address_box" + index).removeClass('unselect_address_box').addClass('select_address_box');
        $("#select_text" + index).removeClass('un_select_text').addClass('select_text');
        $("#set_address_id").val(address_id);
    }
</script>
