<h1>Listing address_details</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Contact number</th>
    <th>House no</th>
    <th>Area</th>
    <th>Pincode</th>
    <th>City</th>
    <th>Land mark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @address_details.each do |address_detail| %>
  <tr>
    <td><%= address_detail.first_name %></td>
    <td><%= address_detail.last_name %></td>
    <td><%= address_detail.contact_number %></td>
    <td><%= address_detail.house_no %></td>
    <td><%= address_detail.area %></td>
    <td><%= address_detail.pincode %></td>
    <td><%= address_detail.city %></td>
    <td><%= address_detail.land_mark %></td>
    <td><%= link_to 'Show', address_detail %></td>
    <td><%= link_to 'Edit', edit_address_detail_path(address_detail) %></td>
    <td><%= link_to 'Destroy', address_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address detail', new_address_detail_path %>
