<br xmlns="http://www.w3.org/1999/html"/><br/>
<% if !current_user.blank? %>
    <div class="uiv2-popup text-center" style="display: block;"><h3>Add New Address</h3>

      <div class="uiv2-popup-wrapper text-left">

        <%= form_for(@address_detail) do |f| %>
            <% if @address_detail.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@address_detail.errors.count, "error") %> prohibited this address_detail from
                    being
                    saved:</h2>

                  <ul>
                    <% @address_detail.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="row ">

              <div class="col-sm-3 text-left">
                <span class="uiv2-details-label "><label for="id_contact_first_name">Contact First Name</label></span>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :first_name, :required => true %>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-3  text-left">
                <span class="uiv2-details-label"><label for="id_contact_last_name">Contact Last Name</label></span>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :last_name, :required => true %>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-3  text-left">
                <span class="uiv2-details-label"><label for="id_contact_number">Contact number</label></span></div>
              <div class="col-sm-9">
                <%= f.text_field :contact_number, :required => true %>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-3  text-left">
                  <span class="uiv2-details-label"><label for="id_contact_address1">House no &amp;
                    details</label></span>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :house_no, :required => true %>
              </div>
            </div>

            <div class="row ">

              <div class="col-sm-3  text-left">
                <span class="uiv2-details-label"><label for="id_contact_landmark">Landmark</label></span></div>
              <div class="col-sm-9">
                <%= f.text_field :land_mark, :required => true %>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-3  text-left">
                <span class="uiv2-details-label"><label for="id_contact_area">Area</label></span>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :area, :required => true %>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-3 text-left">
                <span class="uiv2-details-label"><label for="id_contact_zipcode">Pin Code</label></span></div>
              <div class="col-sm-9">
                <%= f.text_field :pincode, :required => true %>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-3 text-left"><span class="uiv2-details-label"><label for="id_city">City</label></span></div>
              <div class="col-sm-9">
                <%= f.text_field :city, :required => true %>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-3 "></div>
              <div class="col-sm-5 ">

                <%= f.submit 'Create Order', :class => 'create_button_style' %>
              </div>
              <div class="col-sm-4"></div>
            </div>


        <% end %>

      </div>
    </div>
<% else %>
    <div style="width: 100%;text-align: center">
      <%= render :partial => 'products/user_login' %>
    </div>
<% end %>