<div class="row" style="padding: 20px ">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" style="background-color: #f4a226;padding: 25px;border-radius: 10px">
    <div class="pay_with_wallet">Total Amount : <%= @total_amount %></div>
    <br/>
   <%if !@online_payment.coupon_discount.blank? %>
        <div class="pay_with_wallet">Coupon Discount : <%= @online_payment.coupon_discount %></div>
        <br/>
    <%end %>
    <div class="pay_with_wallet">Wallet Balance : <%= @wallet_balance %></div>
    <br/>

    <div class="pay_with_wallet">Amount To Be Paid : <%= @pending_amount %></div>
    <br/>

    <div align="right" style="padding: 10px">
      <a href="/address_details/confirm_with_wallet?mti=<%= params[:mti] %>" class="proceed_button">Proceed</a></div>
  </div>
</div>
