<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @address_detail.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @address_detail.last_name %>
</p>

<p>
  <b>Contact number:</b>
  <%= @address_detail.contact_number %>
</p>

<p>
  <b>House no:</b>
  <%= @address_detail.house_no %>
</p>

<p>
  <b>Area:</b>
  <%= @address_detail.area %>
</p>

<p>
  <b>Pincode:</b>
  <%= @address_detail.pincode %>
</p>

<p>
  <b>City:</b>
  <%= @address_detail.city %>
</p>

<p>
  <b>Land mark:</b>
  <%= @address_detail.land_mark %>
</p>


<%= link_to 'Edit', edit_address_detail_path(@address_detail) %> |
<%= link_to 'Back', address_details_path %>
