(<%= !current_user.blank? ? CartItem.find_all_by_user_id(current_user.id).count : CartItem.find_all_by_session_id(session[ApplicationHelper::SessionConstants::SESSION_ID]).count %>)
<%if !defined?(show_price) || !show_price %>
Items<br/>
    <% total_amount= get_total_amount() %>
    Rs. <%= !total_amount.blank? ? total_amount : 0 %>

<%end%>
