<div style="width: 100%;margin-right: 8px;font-family: 'MyriadFont'">
  <div align="center" border="1">
    <%
       if !current_user.blank?
         cart_items = CartItem.find_all_by_user_id(current_user.id)
       else
         cart_items = CartItem.find_all_by_session_id(session[ApplicationHelper::SessionConstants::SESSION_ID])
       end
    %>

    <% if !cart_items.blank? %>
        <% @needs_payment = needs_payment?(cart_items) %>
        <table width="100%" cellspacing="10px" cellpading="2px;" style="background-color:#ffffff;">
          <tr style="border-bottom:1px solid black;">
            <td style="font-family:'MyriadFont';font-size:14px "> Your cart - <%= cart_items.size %> items
              <% cart_line_items = get_cart_line_items(cart_items) %>
            </td>
          </tr>
        </table>
        <table width="100%" cellspacing="5px" cellpadding="5px" >
          <% total_price = 0 %>
          <% if !cart_line_items.blank? %>
              <% order_item = '' %>
              <% savings_amount = 0.0 %>
              <% cart_line_items.each do |line_item| %>
                  <% if line_item.type == 'Category' %>
                      <% total_price += line_item.total_cost.to_d %>
                      <%= render :partial => 'products/cart_category_type', :locals => {:category_cart_line_item => line_item} %>
                  <% end %>
                  <% if line_item.type == 'Product' %>
                      <% order_item = line_item %>
                      <% savings_amount += line_item.savings.to_d %>
                      <%= render :partial => 'products/cart_product_type', :locals => {:product_cart_line_item => line_item} %>
                  <% end %>
                  <% if line_item.type == 'Promo' %>
                      <%= render :partial => 'promos/promo_add_other_product', :locals => {:promo_cart_line_item => line_item, :order_item => order_item } %>
                  <% end %>
              <% end %>
              <tr style="color: #A52A2A">
                <td colspan="4" style="text-align: center;">You ordered <b><%= cart_items.size %></b> items.
                  Price
                  is
                  <span class="price"><b>Rs <%= number_format_price(total_price) %></b></span>
                </td>
              </tr>
          <% end %>
        </table>
        <table width="60%">
          <% delivery_charges = get_delivery_charges(total_price) %>
          <% freedeliveryavailable=SystemSetting.find_by_key('free_delivery_amount').value.to_f - number_format_price(total_price).to_f %>

          <tr style="font-weight:bold; font-family:MyriadFont;">
            <td style="font-size:16px;font-family:MyriadFont;padding: 10px" align="right">Total<span style="font-size: 10px;color: red;text-transform: lowercase">(* Inclusive of all taxes)</span></td>
            <td style="font-size:16px;font-family:MyriadFont;padding: 10px" align="left"> Rs <%= number_format_price(total_price + delivery_charges) %></td>
          </tr>

          <tr>
            <td  style="color:#0D6A14;font-weight:bold;padding: 5px;">
              <%if freedeliveryavailable >= 0 %>
                  To Avail Free Delivery Shop More For Rs. <%= freedeliveryavailable %>
              <%end %>
            </td>
            <td  style="text-align: center;padding: 5px;">
              <div style="text-align: right">
                <br/>
                <a href="/address_details/check_out" class="custom_button">Checkout</a>
                <br/><br/>
              </div>
            </td>
          </tr>
        </table>
    <% else %>
        <table width="100%">
          <tr align="center">
            <td><p style="color:royalblue">Your basket is empty. Start shopping now! </p></td>
          </tr>
          <tr align="center">
            <td> <a href="/" class="custom_button">See Products</a></td>
          </tr>
        </table>
    <% end %>
  </div>
</div>
<br/>