<!DOCTYPE html>
<html>
<head>
  <% html_title = yield :title %>
  <% html_title = 'ValueNeeds - Largest Online Grocery | seafood | pickles in Hyderabad' if html_title.blank? %>
  <title><%= html_title %></title>
  <link rel="icon" type="image/png" href="<%= asset_path('valeeds-top-logo.png') %>"/>
  <meta name="alexaVerifyID" content="tZUH0yfN3T2Gch0aG9zKBt9-OUg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% html_keywords = yield :keywords %>
  <% html_keywords = 'Online Grocery | Online Grocery Hyderabad | Buy Online | Online Seafood | Grocery Shopping | Online Grocery Shopping | Seafood Online | Pickles Online | Online Pickles | Non-Veg Pickles.' if html_keywords.blank? %>
  <% html_description = yield :description %>
  <% html_description = 'ValueNeeds.com Online Grocery Store in Hyderabad supplies grocery seafood pickles,Shop Online for Home,Kitchen,Health,Beauty,& Household products at best price.' if html_description.blank? %>
  <meta name="title" content="<%= html_title %>"/>
  <meta name="keywords" content="<%= html_keywords %>"/>
  <meta name="description" content="<%= html_description %>"/>

  <link rel="canonical" href="https://www.valueneeds.com/"/>
  <meta name="google-site-verification" content="IuSzWIWAeypsdlhopCn03l-0iJAA3KW4XsjkLqOzRDg"/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>
<body style="background-color: white;">

<!-- Header 1 Start -->
<div class="container" style="width: 100%;">
  <div class="row layout_top_for_desktop">
    <div class="col-sm-2">
      <a href="/"><%= image_tag('valeeds-logo copy.jpg', :width => '160px', :style => 'padding-top:8px;', :height => '80px') %></a>
      <h4 style="font-weight: bold">040 40 212 212</h4>
    </div>
    <div class="col-sm-9">
      <div>
        <ul class="main_nav">

          <li>
            <% if current_user.blank? %>
                <a href="/user_sessions/new" class="button_style">Login</a> |
                <a href="/users/new" class="button_style">Sign Up</a>
            <% else %>
                <span style="color: brown" class="button_style"><%= current_user.display_name %></span> &nbsp;&nbsp;&nbsp;
                <a href="/wallet" class="button_style">Wallet</a>
                &nbsp;&nbsp;&nbsp; <a href="/logout" class="button_style">Logout</a>
            <% end %>
          </li>
          <% if current_user.blank? || !current_user.blank? && !current_user.admin %>
              <li><a href="/feedbacks/new" class="button_style">Feedback</a></li>
              <!--<li><a href="/promos/promo_offers" class="button_style">Promotions</a></li>-->
              <% if !current_user.blank? %>
                  <li><a href="/orders/get_previous_orders" class="button_style">Previous Orders</a></li>
                  <li><a href="/orders/order_tracking" class="button_style">Order Tracking </a></li>
                  <li><a href="/products/show_wish_list_products" class="button_style">Wish List </a></li>
              <% end %>
              <li>
                <div id="available_delivery_slot">
                  <a class="button_style">Available Delivery Slots</a>
                  <% delivery_slots = DeliverySlotName.get_active_slots %>
                  <div id="delivery_slots_content">
                    <ul>
                      <% delivery_slots.each do |slot| %>
                          <li><%= slot.slot_name %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a class="button_style" href="/">Home</a>
              </li>
          <% end %>
          <% if !current_user.blank? && current_user.admin? %>
              <li><a href="/orders" class="button_style">Orders</a></li>
              <li><a href="/feedbacks" class="button_style">Feedbacks</a></li>
              <li><a href="/categories" class="button_style">Categories</a></li>
              <li><a href="/brands" class="button_style">Brands</a></li>
              <li><a href="/pincodes" class="button_style">Pin Codes</a></li>
              <li><a href="/delivery_slot_names" class="button_style">Delivery slots</a></li>
              <li><a href="/products" class="button_style">Products</a></li>
              <li><a href="/specialities" class="button_style">Specialities</a></li>
              <li><a href="/slide_images" class="button_style">Sliders</a></li>
              <li><a href="/scroll_texts" class="button_style">Scroll Text</a></li>
              <li><a href="/users" class="button_style">Customers</a></li>
              <li><a href="/products/request_products" class="button_style">Request Products</a></li>
              <li><a href="/attributes" class="button_style">Attributes</a></li>
              <li><a href="/recipes" class="button_style">Recipes</a></li>
              <li><a href="/galleries" class="button_style">Photos/Videos</a></li>
              <li><a href="/locations" class="button_style">Locations</a></li>
              <li><a href="/system_settings" class="button_style">System Settings</a></li>
              <li><a href="/notify_me_requests" class="button_style">Notify Me Requests</a></li>
              <li><a href="/bottom_banners" class="button_style">Bottom Banners</a></li>
              <li>
                <a class="button_style" href="/">Home</a>
              </li>
          <% end %>
          <li>
            <%= form_tag('/products/update_location', :method => 'get') do %>
                <%= select_tag 'location', options_for_select(get_locations, session[ApplicationHelper::SessionConstants::BUYER_LOCATION]), :onchange => 'submit()', :width => "150px", :class => 'combo' %>
            <% end %>
          </li>
        </ul>
      </div>
      <div id="complete-auto-suggestion-list">
        <div class="search-box">
          <div>
            <div>
              <%= form_tag('/products/show_search_products', :method => 'get', :remote => 'true', :id => 'auto-text-form') do %>
                  <%= text_field_tag("text", '', :auto_complete_search => false, :placeholder => 'Search your product here', :onkeyup => 'submit_search_form()', :id => 'auto_text') %>
                  <%= image_submit_tag('search_icon.png', :class => 'search_submit_tag') %>
              <% end %>
            </div>
            <div id="auto-text-content">
            </div>

          </div>
          <div style="clear: both"></div>

        </div>
      </div>

    </div>
    <div class="col-sm-1 text-center nopadding">
      <div  class="cart_image"><a href="/products/show_cart" style="text-decoration: none;">
        <%= image_tag('cart 4.jpg', :width => '56px', align: 'middle') %>
        <div id="cart_size" class="cart_size_style" ><%= render 'layouts/cart_size' %></div>
        <div id="pop_up_cart" style="display: none;"><%= render 'layouts/pop_up_cart' %></div>
      </a></div>
    </div>
  </div>

  <div class="row layout_top_for_mobile">
    <table width="100%" style="text-align: center">
      <tr>
        <td valign="center"><a href="/"><%= image_tag('vn_logo.png', :width => '100px') %></a>
          <span style="padding: 10px;">Hyderabad</span></td>
        <td valign="center">
          <a href="/delivery_slot_names/slots_for_mobile"><%= image_tag('transport.png', :width => '30px') %></a>
        </td>
        <% if !current_user.blank? %>
            <td><a href="/logout" class="button_style"><span style="padding: 10px;">Logout</span></a></td>
        <% else %>
            <td valign="center">
              <a href="/user_sessions/new" class="button_style"><%= image_tag('login_icon.png', :width => '30px') %></a>
            </td>
        <% end %>
        <div style="padding: 10px;font-size: 10px;">
          <td class="cart_image2" valign="center">
            <a href="/products/show_cart" style="text-decoration: none;"><%= image_tag('cart_icon.png', :width => '30px') %>
              <div id="cart_size2" class="cart_size_style" style="font-size: 11px;margin-bottom: 10px;padding:3px;border-radius: 7px;"><%= render :partial => 'layouts/cart_size', :locals => {:show_price => true} %></div>
              <div id="pop_up_cart" style="display: none;"><%= render 'layouts/pop_up_cart' %></div>
            </a></td>
        </div>
      </tr>
      <tr>
        <td colspan="4" valign="center">
          <div id="complete-auto-suggestion-list">
            <div class="search-box">
              <div>
                <div>
                  <%= form_tag('/products/show_search_products', :method => 'get', :remote => 'true', :id => 'auto-text-form') do %>
                      <%= text_field_tag("text", '', :auto_complete_search => false, :placeholder => 'Search your product here', :onkeyup => 'submit_search_form()', :id => 'auto_text') %>
                      <%= image_submit_tag('search_icon.png', :class => 'search_submit_tag') %>
                  <% end %>
                </div>
                <div id="auto-text-content">
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Header 1 End -->
<!--Green band start-->
<!--Green band End-->

<% @categories = Category.active.find(:all, :conditions => ['parent_id is null'], :order => "sequence_id ASC") %>
<div class="row top_categories_div">
  <div class="col-sm-12 red_to_yellow" style="height: 12px;width: 100%;margin: 10px 0px;">
  </div>
  <% number_of_categories_per_div = 3.0 %>
  <% div_position = 1.0 %>
  <div class="row" style="padding: 5px 20px;">
    <div class=" text-center col-sm-4">
      <table width="100%">
        <tr>
          <% @categories.each_with_index do |category, index| %>

              <td width="20%" style="height:90px; ">
                <a href="/products/get_main_filtered_products?category_ids=<%= category.id %>&load_all=true&rF=true">
                  <div align="left">
                    <%= image_tag("/category/#{category.picture}", :width => '50px', :height => '50px') %>
                  </div>
                  <div align="left" style="font-size:14px;font-family: 'MyriadFont';font-weight:bold;max-width:80px;color:#2c2c42;">
                    <%= category.name %>
                  </div>
                </a>
              </td>
              <% if index!=0 && index+1==@categories.size %>
                  </tr></table></div>
              <% elsif index!=0 && (index+1)%3==0 %>
                  </tr>
                  </table>
                  </div>
                  <div class=" text-center col-sm-4">
                    <table width="100%">
                      <tr>
              <% end %>
          <% end %>
          </tr>
          </table>
   </div>
</div>

<%= yield %>
<div class="bottom_images_div">
  <div style="height: 12px;width: 100%;" class="red_to_yellow">
  </div>
  <% @bottom_banners = BottomBanner.find(:all, :order => "id desc", :limit => 2).reverse %>
<% if !@bottom_banners.blank?  %>
  <div class="row">
   <div class="col-sm-6 text-center" ><a href='<%=@bottom_banners[0].url%>' > <%= image_tag("/bottom_banner/#{@bottom_banners[0].image}", :width=>'100%')%></a></div>
    <%if @bottom_banners.size>1 %>
        <div class="col-sm-6 text-center"> <a href='<%=@bottom_banners[1].url%>' > <%= image_tag("/bottom_banner/#{@bottom_banners[1].image}", :width=>'100%')%></a></div>
    <%end %>
  </div>
<%end %>
  <div style="height: 12px;width: 100%;" class="red_to_yellow">
  </div>

  <div width="100%">
    <%= image_tag('Foot_banner.jpg', :width => '100%') %>
  </div>
  <div style="height: 20px;width: 100%;" class="red_to_yellow">
  </div>
</div>


<footer>
  <div class="row" style="padding: 8px 0px;">
    <div class="col-md-3 col-sm-6" style="padding-top: 10px">

      <div class="row personal_details_div_sty mobile_contact_details">
        <div class="col-xs-10 ">Contact Us</div>
        <div class="col-xs-2 text-right" id="contact_toggle" onclick="show_or_hide('contact-us-content-div');"><%= image_tag('plus.png', :width => '20px;', :id => 'contact-us-content-div_img') %></div>
      </div>
      <h3 class="personal_details_div_sty desktop_contact_details">Contact Us</h3>

      <div style="padding-left:10px;" id="contact-us-content-div" data_open="false"><h4>cs@valueneeds.com</h4>
        <h4>040 40 212 212</h4>
        <a href="https://www.facebook.com/valueneedsonline" target="_blank"><%= image_tag('facebook1.jpg', :width => '30px', :height => '30px') %></a>
        <a href="https://www.twitter.com/valueneeds" target="_blank"><%= image_tag('twiiter1.jpg', :width => '30px', :height => '30px') %></a>
        <%= image_tag('google-plus-logo.png', :width => '30px', :height => '30px') %>
        <%= image_tag('youtube_logo.png', :width => '30px', :height => '30px') %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="padding-top: 10px">

      <div class="row personal_details_div_sty mobile_about_us_details">
        <div class="col-xs-10 ">General Information</div>
        <div class="col-xs-2 text-right" id="about_toggle" onclick="show_or_hide('about-us-div');"><%= image_tag('plus.png', :width => '20px;', :id => 'about-us-div_img') %></div>
      </div>
      <h3 class="personal_details_div_sty desktop_about_us_details">General Information</h3>

      <div style="padding-left:10px;" id="about-us-div" data_open="false">
        <h4><a href="/static/about_us">About Us</a></h4>
        <h4><a href="/static/getting_started">Getting started</a></h4>
        <h4><a href="/static/coupon_and_vouchers">Coupon and Vouchers</a></h4>
        <h4><a href="/static/site_map">Sitemap</a></h4>
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="padding-top: 10px">
      <div class="row personal_details_div_sty mobile_assisstance_details">
        <div class="col-xs-10 ">Need Assisstance</div>
        <div class="col-xs-2 text-right" id="need-assisstance_toggle" onclick="show_or_hide('need-assisstance-div');"><%= image_tag('plus.png', :width => '20px;', :id => 'need-assisstance-div_img') %></div>
      </div>
      <h3 class="personal_details_div_sty desktop_assisstance_details">Need Assisstance</h3>

      <div style="padding-left:10px;" id="need-assisstance-div" data_open="false">
        <h4><a href="/static/faq">FAQ's</a></h4>
        <h4><a href="/static/delivery_information">Delivery Information</a></h4>
        <h4><a href="/static/refund_and_return_policy">Return and Refund Policies</a></h4>
        <h4><a href="/galleries">Gallery</a></h4>
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="padding-top: 10px">
      <div class="row personal_details_div_sty mobile_service_details">
        <div class="col-xs-10 ">Customer Service</div>
        <div class="col-xs-2 text-right" id="customer-service_toggle" onclick="show_or_hide('customer-service-div');"> <%= image_tag('plus.png', :width => '20px;', :id => 'customer-service-div_img') %></div>
      </div>
      <h3 class="personal_details_div_sty desktop_service_details">Customer Service</h3>

      <div style="padding-left:10px;" id="customer-service-div" data_open="false">
        <h4><a href="/static/privacy_policy">Privacy Policy</a></h4>
        <h4><a href="/static/terms_and_conditions">Terms of use</a></h4>
        <h4><a href="/static/news_and_events">News & Events</a></h4>
        <h4><a href="/static/winners">Winners</a></h4>
      </div>
    </div>
  </div>
  <div style="padding:5px;font-size:13px;width: 100%;" class="red_to_yellow">
    Copyright @ 2015 Brics & Clicks E-Com Pvt Ltd
  </div>
</footer>


<script type="text/javascript">
    function show_or_hide(div_id) {
        var image_id = '#' + div_id + "_img"
        if ($('#' + div_id).attr('data_open') == 'false') {
            $('#' + div_id).show();
            $('#' + div_id).attr('data_open', 'true');
            $(image_id).prop('src', '/unmodifiable_images/minus.png');
        } else {
            $('#' + div_id).hide();
            $('#' + div_id).attr('data_open', 'false');
            $(image_id).prop('src', '/unmodifiable_images/plus.png');
        }
    }

    $(document).ready(function () {
        $('#category_sub_list, #primary_nav_wrap').hover(
                function () {
                    $('#category_drop_down').css({"display": "block"});
                },
                function () {
                    $('#category_drop_down').css({"display": "none"});
                }
        );
    });
</script>

<script>
    $(document).ready(function () {
        $('#available_delivery_slot').hover(
                function () {
                    $('#delivery_slots_content').css({"display": "block"});
                },
                function () {
                    $('#delivery_slots_content').css({"display": "none"});
                }
        );

        $('.cart_image').hover(
                function () {
                    $('#pop_up_cart').css({"display": "block"});
                },
                function () {
                    $('#pop_up_cart').css({"display": "none"});
                }
        );


    });
</script>

<script>
    $("#top_fade_pop_up").hide();
    function add_cart_item(product_id, product_name, quantity) {
        fly_to_kart(product_id);
    }
</script>
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66624802-1', 'auto');
    ga('send', 'pageview');
    function submit_search_form() {
        if (document.getElementById("auto_text").value.length >= 3) {
            $.ajax("/products/load_auto_complete_search_products?text=" + document.getElementById("auto_text").value);
            /*$('#auto-text-form').submit();*/
        }
    }
    function clear_auto_text_content() {
        if ($.trim($('#auto-text-content').html()).length > 5) {
            $.ajax("/products/clear_auto_complete_text");
        }
    }
    $('#complete-auto-suggestion-list #auto-text-content').hover(function () {
            },
            function () {
                setTimeout(clear_auto_text_content(), 2000);
            });

</script>


</html>
