<!DOCTYPE html>
<html>
<head>
  <% html_title = yield :title %>
  <% html_title = 'ValueNeeds - Largest Online Grocery | seafood | pickles in Hyderabad' if html_title.blank? %>
  <title><%= html_title %></title>
  <link rel="icon" type="image/png" href="<%= asset_path('valeeds-top-logo.png') %>"/>
  <meta name="alexaVerifyID" content="tZUH0yfN3T2Gch0aG9zKBt9-OUg"/>

  <% html_keywords = yield :keywords %>
  <% html_keywords = 'Online Grocery | Online Grocery Hyderabad | Buy Online | Online Seafood | Grocery Shopping | Online Grocery Shopping | Seafood Online | Pickles Online | Online Pickles | Non-Veg Pickles.' if html_keywords.blank? %>
  <% html_description = yield :description %>
  <% html_description = 'ValueNeeds.com Online Grocery Store in Hyderabad supplies grocery seafood pickles,Shop Online for Home,Kitchen,Health,Beauty,& Household products at best price.' if html_description.blank? %>
  <meta name="title" content="<%= html_title %>"/>
  <meta name="keywords" content="<%= html_keywords %>"/>
  <meta name="description" content="<%= html_description %>"/>

  <link rel="canonical" href="https://www.valueneeds.com/"/>
  <meta name="google-site-verification" content="IuSzWIWAeypsdlhopCn03l-0iJAA3KW4XsjkLqOzRDg"/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>
<body style="background-color: #ffffff;">
<div id="top_fade_pop_up">

</div>
<div align="center">
  <div class="wrapper-content">
    <div class="fruits-background" align="center">
      <div style="width:100%;">
        <table align="center" width="100%">
          <tr>
            <td align="center"><a href="/"><%= image_tag('valeeds-logo copy.jpg', :width => '200px') %></a></td>
            <td width="78%">
              <ul class="main_nav">
                <li>
                  <div id="cart_image"><a href="/products/show_cart" style="text-decoration: none;">
                    <div style="text-align: center">
                      <%= image_tag('cart 4.jpg', :width => '56px', align: 'middle') %>
                    </div>
                    <div id="cart_size"><%= render 'layouts/cart_size' %></div>
                    <div id="pop_up_cart" style="display: none;"><%= render 'layouts/pop_up_cart' %></div>
                  </a></div>
                </li>

                <li>
                  <% if current_user.blank? %>
                      <a href="/user_sessions/new" class="button_style">Login</a> |
                      <a href="/users/new" class="button_style">Sign Up</a>
                  <% else %>
                      <span style="color: brown" class="button_style"><%= current_user.display_name %></span> &nbsp;&nbsp;&nbsp;
                      <a href="/wallet" class="button_style">Wallet</a>
                      &nbsp;&nbsp;&nbsp; <a href="/logout" class="button_style">Logout</a>
                  <% end %>
                </li>
                <% if current_user.blank? || !current_user.blank? && !current_user.admin %>
                    <li><a href="/feedbacks/new" class="button_style">Feedback</a></li>
                    <!--<li><a href="/promos/promo_offers" class="button_style">Promotions</a></li>-->
                    <% if !current_user.blank? %>
                        <li><a href="/orders/get_previous_orders" class="button_style">Previous Orders</a></li>
                        <li><a href="/orders/order_tracking" class="button_style">Order Tracking </a></li>
                    <% end %>
                    <li>
                      <div id="available_delivery_slot">
                        <a class="button_style">Available Delivery Slots</a>
                        <% delivery_slots = DeliverySlotName.get_active_slots %>
                        <div id="delivery_slots_content">
                          <ul>
                            <% delivery_slots.each do |slot| %>
                                <li><%= slot.slot_name %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a class="button_style" href="/">Home</a>
                    </li>
                <% end %>
                <% if !current_user.blank? && current_user.admin? %>
                    <li><a href="/orders" class="button_style">Orders</a></li>
                    <li><a href="/feedbacks" class="button_style">Feedbacks</a></li>
                    <li><a href="/categories" class="button_style">Categories</a></li>
                    <li><a href="/brands" class="button_style">Brands</a></li>
                    <li><a href="/pincodes" class="button_style">Pin Codes</a></li>
                    <li><a href="/delivery_slot_names" class="button_style">Delivery slots</a></li>
                    <li><a href="/products" class="button_style">Products</a></li>
                    <li><a href="/specialities" class="button_style">Specialities</a></li>
                    <li><a href="/slide_images" class="button_style">Sliders</a></li>
                    <li><a href="/scroll_texts" class="button_style">Scroll Text</a></li>
                    <li><a href="/users" class="button_style">Customers</a></li>
                    <li><a href="/products/request_products" class="button_style">Request Products</a></li>
                    <li><a href="/attributes" class="button_style">Attributes</a></li>
                    <li><a href="/locations" class="button_style">Locations</a></li>
                    <li><a href="/system_settings" class="button_style">System Settings</a></li>
                    <li><a href="/notify_me_requests" class="button_style">Notify Me Requests</a></li>
                    <li>
                      <a class="button_style" href="/">Home</a>
                    </li>
                <% end %>
                <li>
                  <%= form_tag('/products/update_location', :method => 'get') do %>
                      <%= select_tag 'location', options_for_select(get_locations, session[ApplicationHelper::SessionConstants::BUYER_LOCATION]), :onchange => 'submit()', :width => "150px", :class => 'combo' %>
                  <% end %>
                </li>
              </ul>

              <marquee direction="left" loop="-1" scrollamount="4" width="100%">
                <% scroll_text = ScrollText.find(:all, order: 'updated_at DESC', :limit => 1) %>
                <div style="color: #ff0000;font-size: 16px;"><%= scroll_text[0].description if !scroll_text[0].blank? %></div>
              </marquee>
              <div width="100%" align="right">
                <h2>040 40 212 212&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              </div>
            </td>
          </tr>
        </table>
        <div style="width:100%;background-color: rgba(76,76,76,0.1);border-radius: 10px;" class="clr">
          <div class="sub-content clr">
            <div class="inner-content">
              <div width="100%" align="left" style="position: relative">
                <ul class="sub_nav">
                  <li class="highlight_yellow_clr" id="category_sub_list">
                    <div class="uiv2-left-navigation" style="position: relative">
                      <div><a>Categories</a></div>
                    </div>
                  </li>
                  <% second_menu = SystemSetting.find_by_key('second_menu').value %>
                  <% if !second_menu.blank? %>
                      <li class="highlight_yellow_clr">
                        <a href="/products/get_main_filtered_products?category_ids=<%= second_menu.split('~')[1] %>&load_all=true&rF=true"><%= second_menu.split('~')[0] %></a>
                      </li>
                  <% end %>
                  <li id="complete-auto-suggestion-list">
                    <div class="search-box">
                      <div>
                        <div>
                          <%= form_tag('/products/show_search_products', :method => 'get', :remote => 'true', :id => 'auto-text-form') do %>
                              <%= text_field_tag("text", '', :auto_complete_search => false, :placeholder => 'Search for more products', :onkeyup => 'submit_search_form()', :id => 'auto_text') %>
                              <%= image_submit_tag('search-icon.png', :class => 'image_submit_tag', :height => '29px', :width => '40px') %>
                          <% end %>
                        </div>
                        <div id="auto-text-content">

                        </div>
                        <script type='text/javascript'>
                            function submit_search_form() {
                                if (document.getElementById("auto_text").value.length >= 3) {
                                    $.ajax("/products/load_auto_complete_search_products?text=" + document.getElementById("auto_text").value);
                                    /*$('#auto-text-form').submit();*/
                                }
                            }
                            function clear_auto_text_content() {
                                if ($.trim($('#auto-text-content').html()).length > 5) {
                                    $.ajax("/products/clear_auto_complete_text");
                                }
                            }
                            $('#complete-auto-suggestion-list #auto-text-content').hover(function () {
                                    },
                                    function () {
                                        setTimeout(clear_auto_text_content(), 2000);
                                    });

                        </script>
                      </div>
                      <div style="clear: both"></div>

                    </div>
                  </li>
                </ul>
                <% if request.fullpath != '/' && !request.fullpath.start_with?('/products/product_details_tab') %>
                    <div id="category_drop_down">
                      <nav id="primary_nav_wrap">
                        <ul>
                          <% @categories = Category.find(:all, :conditions => ['parent_id is null'], :order => "sequence_id ASC") %>
                          <% @categories.each_with_index do |category, index| %>
                              <%= get_html_list_for_all_sub_categories(category, "").html_safe %>
                          <% end %>
                        </ul>
                      </nav>
                    </div>
                <% end %>
                <div class="clr"></div>
              </div>
              <div id="login-content">
                <%= yield %>
              </div>

            </div>
          </div>
        </div>
        <div width="100%">
          <%= image_tag('Foot_banner.jpg', :width => '1025px', :height => '108px') %>
        </div>
        <br/>
      </div>
    </div>
    <footer>
      <div style="background-color: #9CD735;padding-top: 15px;color: #ffffff;font-family: 'MyriadFont">
      </div>
      <table class="footer_style" width="100%">
        <tr>
          <th style="padding-left: 30px;padding-top: 20px;font-size: 16px;" width="35%" align="left">
            Contact Us
          </th>
          <th class="footer_style1 " style="padding-top: 20px" width="25%" align="left">
            General information
          </th>
          <th class="footer_style1 " style="padding-top: 20px" width=20%" align="left">
            Need Assisstance
          </th>
          <th class="footer_style1" style="padding-top: 20px" width="20%" align="left">Customer service
          </th>
        </tr>
      </table>
      <div class="border_style"></div>
      <table class="table_styles" width="100%">
        <tr>
          <td style="padding-left: 30px;padding-top: 15px;font-size: 14px;font-weight: bold;" width="35%" align="left">cs@valueneeds.com
          </td>
          <td class="table_styles1" style="font-size: 14px" width="25%" align="left">
            <a href="/static/about_us">About Us</a></td>
          <td class="table_styles1" style="font-size: 14px" width="20%" align="left"><a href="/static/faq">FAQ's</a>
          </td>
          <td class="table_styles1" style="font-size: 14px" width="20%" align="left">
            <a href="/static/privacy_policy">Privacy Policy</a></td>
        </tr>
        <tr>
          <td style="padding-left: 30px;padding-top: 15px;font-size: 14px;font-weight: bold;" width="35%" align="left">040 40 212 212</td>
          <td class=" table_styles1" style="font-size: 14px;" align="left" width="25%">
            <a href="/static/getting_started">Getting started</a>
          </td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
            <a href="/static/delivery_information">Delivery Information</a></td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
            <a href="/static/terms_and_conditions">Terms of use</a></td>
        </tr>
        <tr>
          <td width="35%"></td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="25%">
            <a href="/static/coupon_and_vouchers">Coupon and Vouchers</a></td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
            <a href="/static/refund_and_return_policy">Return and Refund Policies</a>
          </td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
            <a href="/static/news_and_events">News & Events</a></td>
        </tr>
        <tr>
          <td width="35%" align="left" style="padding-left: 30px">
            <a href="https://www.facebook.com/valueneedsonline" target="_blank"><%= image_tag('facebook1.jpg', :width => '30px', :height => '30px') %></a>
            <a href="https://www.twitter.com/valueneeds" target="_blank"><%= image_tag('twiiter1.jpg', :width => '30px', :height => '30px') %></a>
            <%= image_tag('google-plus-logo.png', :width => '30px', :height => '30px') %>
            <%= image_tag('youtube_logo.png', :width => '30px', :height => '30px') %>
          </td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="25%">
            <a href="/static/site_map">Sitemap</a></td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
          </td>
          <td class="table_styles1" style="font-size: 14px" align="left" width="20%">
            <a href="/static/winners">Winners</a></td>
        </tr>

      </table>
      <div class="border_style"></div>
      <br/>

      <div class="clr"></div>

    </footer>
  </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#category_sub_list, #primary_nav_wrap').hover(
                function () {
                    $('#category_drop_down').css({"display": "block"});
                },
                function () {
                    $('#category_drop_down').css({"display": "none"});
                }
        );
    });
</script>

<script>
    $(document).ready(function () {
        $('#available_delivery_slot').hover(
                function () {
                    $('#delivery_slots_content').css({"display": "block"});
                },
                function () {
                    $('#delivery_slots_content').css({"display": "none"});
                }
        );

        $('#cart_image').hover(
                function () {
                    $('#pop_up_cart').css({"display": "block"});
                },
                function () {
                    $('#pop_up_cart').css({"display": "none"});
                }
        );
    });
</script>

<script>
    $("#top_fade_pop_up").hide();
    function add_cart_item(product_id, product_name, quantity) {
        fly_to_kart(product_id);
    }
</script>
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66624802-1', 'auto');
    ga('send', 'pageview');

</script>

</html>
